@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请假登记</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->


    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <style type="text/css">
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>

    <script type="text/javascript">

        $(function () {
            BindCompany();
            changeDate();
        });

        //绑定单位（大队）
        function BindCompany() {
            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany" }, function (cmsg) {
                eval(cmsg);
                BindDepartment();
            });
        }
        //绑定部门（中队）
        function BindDepartment() {
            getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment" }, function (dmsg) {
                eval(dmsg);
            });
        }
        function btn_back() {
            window.location.href = "@Url.Action("ManagemenRight", "HomeIndex")";
        }
    </script>

</head>
<body>
    <div id="layout" class="layout" style="border-bottom: none;">
        <!--工具栏-->
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                <a id="lr-replace" title="刷新当前(Ctrl+Q)" onclick="Replace()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav1.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">刷新</b></span></a>
                <a id="lr-attendance-apply" title="请假登记" onclick="attendanceApply()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav17.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">请假登记</b></span></a>
                <a id="lr-report" title="请假汇总报表" onclick="openSummaryReport()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav18.png")')50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">请假汇总报表</b></span></a>
                <a id="lr-leave" title="关闭当前窗口(Esc)" onclick="btn_back()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav6.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">返回</b></span></a>
            </div>
        </div>
        <!--列表-->
        <div id="grid_List">
            <div class="bottomline" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
                <table border="0" class="form-find" style="height: 45px;">
                    <tr>
                        <th>执法部门：
                        </th>
                        <td>
                            <select id="drpCompany" class="select" style="width: 130px;" onchange="javascript:BindDepartment();"></select>
                            <select id="drpDepartment" class="select" style="width: 130px;"></select>
                        </td>
                        <th style="width: 80px">时 间：</th>
                        <td style="width: 150px;">
                            @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px", @onchange = "javascript:changeDate();" })&nbsp;年&nbsp;
                            @Html.DropDownList("DrpMonth", (ViewData["Months"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 50px", @onchange = "javascript:changeDate();" })&nbsp;月
                        </td>
                        <th style="width: 80px">时间范围：</th>
                        <td style="width: 110px">
                            @Html.TextBox("StartTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                        </td>
                        <th style="width: 20px; text-align: left;">至</th>
                        <td style="width: 110px">
                            @Html.TextBox("EndTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                        </td>
                        <th>关键字：
                        </th>
                        <td>
                            <input id="keywords" type="text" class="txt" style="width: 150px" />
                        </td>
                        <td>
                            <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="Search()" />
                        </td>
                    </tr>
                </table>
            </div>
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    //请假登记
    function attendanceApply() {
        var url = '@Url.Action("Apply")';
        var width = $(window).width();
        width = width - (width * 0.2);
        var height = $(window).height();
        top.$.dialog({
            id: "FirstDialogWindow",
            lock: true,
            title: "请假登记",
            max: false,
            min: false,
            width: width,
            height: height,
            content: 'url:' + url
        });
    }

    //加载表格
    function GetGrid() {
        var companyId = $("#drpCompany").val();
        var deptId = $("#drpDepartment").val();
        var startTime = $("#StartTime").val();
        var endTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: '@Url.Action("GetApplyData")',
            postData: {
                companyId: companyId,
                deptId: deptId,
                startTime: startTime,
                endTime: endTime
            },
            datatype: "json",
            height: $(window).height() - 159,
            autowidth: true,
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "部 门", name: "DeptName", index: "DeptName", width: 80, align: 'left' },
                { label: "请假人", name: "UserName", index: "UserName", width: 80, align: 'left' },
                { label: "类 型", name: "LeaveTypeName", index: "LeaveTypeName", width: 80, align: 'center' },
                { label: "请假原因", name: "LeaveReason", index: "LeaveReason", width: 300 },
                { label: "开始时间", name: "BeginTime", index: "BeginTime", width: 150, align: 'center' },
                { label: "截止时间", name: "EndTime", index: "EndTime", width: 150, align: 'center' },
                { label: "请假天数", name: "LeaveTime", index: "LeaveTime", width: 60, align: 'center' },
                { label: "状态", name: "Status", index: "Status", width: 100, align: 'center' },
                {
                    label: "操作", name: "Id", index: "Id", width: 200, align: 'center', formatter: function (value, grid, rows, state) {
                        var btns = "<input type='button'class='btnSearch' onclick='showAttenanceDetail(\"" + value + "\")' value='详细'/>";
                        if (rows["Status"] == '登记' || rows["Status"] == '审批不通过') {
                            btns += "&nbsp;<input type='button' class='btnSearch' onclick='deleteAttenance(\"" + value + "\")' value='删除'/>";
                        }
                        return btns;
                    }
                }
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {

            },
        });
    }

    //重新载入表格数据
    function reloadGrid() {
        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("GetApplyData")',
            datatype: 'json',
            page: 1
        }).trigger("reloadGrid"); //重新载入 
        }

        //显示请假详细
        function showAttenanceDetail(id) {
            var url = '@Url.Action("Detail")?Id=' + id;
            var width = $(window).width();
            width = width - (width * 0.2);
            var height = $(window).height();
            top.$.dialog({
                id: "FirstDialogWindow",
                lock: true,
                title: "请假详情",
                max: false,
                min: false,
                width: width,
                height: height,
                content: 'url:' + url
            });
        }

        //删除请假
        function deleteAttenance(id) {
            confirmDialog('系统提示', '您确定需要删除选中的数据吗？', function (cdata) {
                if (cdata) {
                    getAjax('@Url.Action("DeleteApply", "Leave")', { "ApplyId": id }, function (data) {
                        var itemjson = eval("(" + data + ")");
                        if (itemjson.rtState == 1) {
                            tipDialog('数据删除成功', 1);
                            reloadGrid();
                        }
                    });
                }
            });
        }

        //请假汇总报表
        function openSummaryReport() {
            @*AddTabMenu("Sumary", '@Url.Action("Sumary", "Leave")', '请假汇总报表', "report.png", 'true');*@
            var url = '@Url.Action("Sumary", "Leave")';
            var width = $(window).width();
            width = width - (width * 0.2);
            var height = $(window).height();
            top.$.dialog({
                id: "Sumary",
                lock: true,
                title: "请假汇总报表",
                max: false,
                min: false,
                width: width,
                height: height,
                content: 'url:' + url
            });
        }

        /**
         *  数据查询
         */
        function Search() {
            var companyId = $("#drpCompany").val();
            var deptId = $("#drpDepartment").val();
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            var keywords = $("#keywords").val();

            $("#gridTable").jqGrid('setGridParam', {
                url: '@Url.Action("GetApplyData")',
                postData: {
                    companyId: companyId,
                    deptId: deptId,
                    startTime: startTime,
                    endTime: endTime,
                    keyWords: encodeURI(keywords)
                },
                page: 1
            }).trigger('reloadGrid');
        }

        $(document).ready(function () {
            GetGrid();
        });

        /*
         * 计算会计月日期区间
         */
        function changeDate() {
            var year = $("#DrpYear").val();
            var month = $("#DrpMonth").val();
            getAjax('@Url.Action("AjaxLoadDateRange", "PenaltyStatistical")', { "year": year, "month": month, "firstControlId": "StartTime", "secondControlId": "EndTime" }, function (data) {
                eval(data);
            });
        }
</script>
