@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请假汇总</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <style type="text/css">
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>


    <script type="text/javascript">

        $(function () {
            BindCompany();
        });

        //绑定单位（大队）
        function BindCompany() {
            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany" }, function (cmsg) {
                eval(cmsg);
                BindDepartment();
            });
        }
        //绑定部门（中队）
        function BindDepartment() {
            getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment" }, function (dmsg) {
                eval(dmsg);
            });
        }

    </script>


</head>
<body>
    <!--工具栏-->
    <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
        <div class="PartialButton">
            <a id="lr-replace" title="刷新当前(Ctrl+Q)" onclick="Replace()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav1.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">刷新</b></span></a>
            <a id="lr-leave" title="关闭当前窗口(Esc)" onclick="btn_back()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav6.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">返回</b></span></a>
        </div>
    </div>
    <!--列表-->
    <div id="grid_List" class="topline">
        <div class="bottomline" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>执法部门：
                    </th>
                    <td>
                        <select id="drpCompany" class="select" style="width: 130px;" onchange="javascript:BindDepartment();"></select>
                        <select id="drpDepartment" class="select" style="width: 130px;"></select>
                    </td>
                    <th>时 间（始）：
                    </th>
                    <td>
                        @Html.TextBox("StartTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                    </td>
                    <th>时 间（止）：
                    </th>
                    <td>
                        @Html.TextBox("EndTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                    </td>
                    <td>
                        <input id="btnSearch" type="button" class="btnSearch" value="查 询" onclick="search()" />
                        <input id="btnimport" type="button" class="btnSearch" value="导 出" onclick="javascript: Export();" />
                    </td>
                </tr>
            </table>
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: '@Url.Action("GetSumaryApplyData")',
            datatype: "json",
            height: $(window).height() - 158,
            autowidth: true,
            colModel: [
                {
                    label: "部 门", name: "DeptName", index: "DeptName", width: 80, align: 'left', cellattr: function (rowId) {
                        return 'id=\'DeptName' + rowId + "\'";
                    }
                },
                {
                    label: "请假人", name: "UserName", index: "UserName", width: 80, align: 'left', cellattr: function (rowId) {
                        return 'id=\'UserName' + rowId + "\'";
                    }
                },
                { label: "类 型", name: "LeaveTypeName", index: "LeaveTypeName", width: 80, align: 'center' },
                { label: "开始时间", name: "BeginTime", index: "BeginTime", width: 150, align: 'center' },
                { label: "截止时间", name: "EndTime", index: "EndTime", width: 150, align: 'center' },
                { label: "请假天数", name: "LeaveTime", index: "LeaveTime", width: 60, align: 'center' },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {

            },
            gridComplete: function () {
                var gridName = "gridTable";
                Merger(gridName, 'DeptName');
                Merger(gridName, 'UserName');
            }
        });
    }
    //离开
    function btn_back() {
        closeDialog();
    }


    //合并列公共调用方法
    function Merger(gridName, cellName) {
        //得到显示到界面的id集合
        var mya = $("#" + gridName + "").getDataIDs();
        //当前显示多少条
        var length = mya.length;
        for (var i = 0; i < length; i++) {
            //从上到下获取一条信息
            var before = $("#" + gridName + "").jqGrid('getRowData', mya[i]);
            //定义合并行数
            var rowSpanTaxCount = 1;
            for (j = i + 1; j <= length; j++) {
                //和上边的信息对比 如果值一样就合并行数+1 然后设置rowspan 让当前单元格隐藏
                var end = $("#" + gridName + "").jqGrid('getRowData', mya[j]);
                if (before[cellName] == end[cellName]) {
                    rowSpanTaxCount++;
                    $("#" + gridName + "").setCell(mya[j], cellName, '', { display: 'none' });
                } else {
                    rowSpanTaxCount = 1;
                    break;
                }
                $("#" + cellName + "" + mya[i] + "").attr("rowspan", rowSpanTaxCount);
            }
        }
    }

    //查询
    function search() {
        var companyId = $("#drpCompany").val();
        var deptId = $("#drpDepartment").val();

        var startTime = $("#StartTime").val();
        var endTime = $("#EndTime").val();

        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("GetSumaryApplyData")',
            postData: { companyId: companyId, deptId: deptId, startTime: startTime, endTime: endTime },
            page: 1
        }).trigger('reloadGrid');
        }

        function Export() {
            var companyId = $("#drpCompany").val();
            var deptId = $("#drpDepartment").val();
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();

            window.open("@Url.Action("ExportSumary")?companyId=" + companyId + "&deptId=" + deptId + "&startTime=" + startTime, +"&endTime+" + endTime);
        }
</script>
