@{
    Layout = null;
}
@using System.Data
@using Yookey.WisdomClassed.SIP.Model.Case;
@model InfPunishCaseinfoEntity

@{
    var punishItem = ViewBag.PunishItem as InfPunishLegislationEntity;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>行政处罚决定书</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <script>
        $(document).ready(function () {
            Loading(false);
        });
    </script>
</head>
<body>
    <div>
        <form id="form1">
            <div style="margin-left: 5px; margin-right: 5px;">
                <fieldset style="margin-top: 10px;">
                    <legend>案件基本信息</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">案件编号：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @Model.CaseInfoNo
                            </td>
                            <th class="formTitle">案件来源：</th>
                            <td class="formValue">
                                @Model.ReSourceName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">当事人类型：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.TargetType, (ViewData["TargetTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                            <th class="formTitle">单位名称：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetUnit, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">
                                <label id="labTargetName">当事人姓名</label>：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetName, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                            <th class="formTitle">职务：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetDuty, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案情摘要：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseFact, new { @class = "txtArea", @style = "width: 100%;", @rows = "3", @readonly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">危害情况：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseHurtInfo, new { @class = "txtArea", @style = "width: 100%;", @rows = "3", @readonly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案由代码：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @punishItem.ItemNo
                            </td>
                            <th class="formTitle">案件类别：</th>
                            <td class="formValue">
                                @punishItem.ClassNoName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">违反法规：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @punishItem.GistName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">处罚依据：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @punishItem.DutyName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">自由裁量：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3" style="padding-top: 5px; padding-bottom: 5px;">
                                @{
                                    var rules = ViewData["PunishRule"] as List<LegislationRuleEntity>;
                                    if (rules != null && rules.Any())
                                    {
                                        foreach (var pupnishruleEntity in rules)
                                        {
                                            var punishContent = pupnishruleEntity.PunishContent;
                                            var punishType = pupnishruleEntity.PunishType;

                                            if (pupnishruleEntity.PunishMin == 0 && pupnishruleEntity.PunishMax == 0)
                                            {
                                                punishContent += pupnishruleEntity.PunishDesc;
                                            }
                                            else
                                            {
                                                punishContent += "（罚款：" + pupnishruleEntity.PunishMin + "~" + pupnishruleEntity.PunishMax + "）";
                                            }
                                    <input type="radio" name="ruleradio" id="@pupnishruleEntity.Id" value="@pupnishruleEntity.Id" @(pupnishruleEntity.Id.Equals(punishItem.LegislationRuleId) ? "checked" : "")/>
                                    <label id="lab_@pupnishruleEntity.Id" for="@pupnishruleEntity.Id">@(punishContent)</label><br />
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">处罚金额：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("PunishAmount", punishItem.PunishAmount, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                    </table>
                </fieldset>

                @{
                    if (Model.State >= 30)
                    {
                    <fieldset style="margin-top: 10px;">
                        <legend>文书送达回执</legend>
                        <table class="casedt">
                            <tr>
                                <th class="formTitle">送达方式：<span style="color: Red;">*</span></th>
                                <td class="formValue">
                                    @Html.DropDownList("ReceiptType", (ViewData["SendTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                                </td>
                                <th class="formTitle">送达人员：<span style="color: Red;">*</span></th>
                                <td class="formValue">
                                    @Html.DropDownList("ReceiptPersonIdFirst", (ViewData["Users"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                                    @Html.DropDownList("ReceiptPersonNameFirst", (ViewData["UsersSecond"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">签收人员：<span style="color: Red;">*</span></th>
                                <td class="formValue">
                                    @Html.TextBox("SigninPerson", "", new { @style = "width: 100%;", @class = "txt", Value = ViewBag.SigninPerson })
                                </td>
                                <th class="formTitle">签收时间：<span style="color: Red;">*</span></th>
                                <td class="formValue">
                                    @Html.TextBox("SinginDate", "", new { @class = "txt Wdate", Value = ViewBag.SinginDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">附件材料：<span style="color: Red;">*</span></th>
                                <td class="formValue" colspan="3">
                                    @Html.Action("FilesTab", "PenaltyCaseFile", new { resourceId = Model.Id, evtache = "decision", isupload = "true" })
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    }
                }

                @{
                    var ideas = ViewData["FlowIdea"] as DataTable;
                    if (ideas != null && ideas.Rows.Count > 0)
                    {
                    <fieldset>
                        <legend>审批意见</legend>
                        <div>
                            <table class="casedt">

                                @{
                        foreach (DataRow row in ideas.Rows)
                        {
                                    <tr>
                                        <td class="formTitle" width="16%" rowspan="2">@(row["Duty"])：
                                        </td>
                                        <td class="formValue">
                                            <textarea id="Remark" class="txtArea" cols="104" rows="4" readonly="readonly">@(row["Idea"])</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle" align="right">签字：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(row["UserName"])"  readonly="readonly"/>
                                            日期：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(row["Adate"])" readonly="readonly"/>
                                        </td>
                                    </tr>
                        }
                                }
                            </table>

                        </div>
                    </fieldset>
                    }
                }
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            @{
                                if (ViewBag.BtnGenGz)
                                {
                                <input type="button" value="生成决定书" class="btnSearch" onclick="GenerateWritDescion();" />
                                }

                                if (ViewBag.BtnNext)
                                {
                                <input type="button" value="下一步" class="btnSearch" onclick="btnNext()" />
                                }
                            }
                            <input type="button" value="关 闭 " class="btnSearch" onclick="cancle();" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">

    var id = '@ViewBag.Id';

    //保存
    function Save() {
        var ruleId = $("input[name='ruleradio']:checked").val();
        var punishAmount = $("#PunishAmount").val();
        if (ruleId == undefined) {
            alertDialog('请选择自由裁量！', -1);
        }
        if (punishAmount == '') {
            alertDialog('请输入处罚金额！', -1);
        }
        AjaxJson('@Url.Action("SavePunishContent", "PenaltyCaseAjax")', { id: id, ruleId: ruleId, punishmoney: punishAmount }, function () {
            $("#btnSave").hide();
            $("#btnApply").show();
        });
    }


    //处理审批
    var worklistid = '@ViewBag.WorkListId';

    /*
    * 取消
    */
    function cancle() {
        var api = parent.frameElement.api;
        api.close();
    }

    //下一步
    function btnNext() {
        var receiptType = $("#ReceiptType").val();      //送达方式
        var receiptPersonIdFirst = $("#ReceiptPersonIdFirst").val();    //送达人员
        var receiptPersonIdSecond = $("#ReceiptPersonIdSecond").val();
        var receiptPersonNameFirst = $("#ReceiptPersonIdFirst").find("option:selected").text();
        var receiptPersonNameSecond = $("#ReceiptPersonIdSecond").find("option:selected").text();
        var signinperson = $("#SigninPerson").val();    //签收人员
        var singindate = $("#SinginDate").val();        //签收日期

        if (receiptType == '') {
            alertDialog('请选择送达方式！', -1);
            return;
        }
        if (receiptPersonIdFirst == '') {
            alertDialog('请选择送达人员一！', -1);
            return;
        }
        if (receiptPersonNameFirst == '') {
            alertDialog('请选择送达人员二！', -1);
            return;
        }
        if (signinperson == '') {
            alertDialog('请输入签收人员！', -1);
            return;
        }
        if (singindate == '') {
            alertDialog('请输入签收日期！', -1);
            return;
        }

        AjaxJson('@Url.Action("DealWithNext", "PenaltyCaseAjax")', {
            id: id, receiptType: receiptType,
            personIdFirst: receiptPersonIdFirst,
            personIdSecond: receiptPersonIdSecond,
            personNameFirst: receiptPersonNameFirst,
            personNameSecond: receiptPersonNameSecond,
            signinperson: signinperson,
            singindate: singindate,
            htype: "Decision"
        }, function () {
            parent.location.href = '@Url.Action("Main", "PenaltyCase")?id=' + id + '&worklistId=' + worklistid;
        });
    }

    /*
     * 生成决定书
    */
    function GenerateWritDescion() {
        var width = 800;
        var height = 500;
        var url = '@Url.Action("WritDescsion", "PenaltyCase")?id=' + id + "&rnd=" + Math.random();
        top.$.dialog({
            id: "WritDescsion", width: width, height: height, lock: true, max: false, resize: false, extendDrag: true,
            title: "生成决定书",
            content: 'url:' + url,
            button: [
                {
                    name: '保 存',
                    className: 'green',
                    callback: function () {
                        top.frames["WritDescsion"].SaveWritDescsion();
                        return false;
                    }
                },
                {
                    name: '预览（A4）',
                    className: 'green',
                    callback: function () {
                        parent.frameElement.api.get('FirstDialogWindow').doPrint('Decision');   //CaseHandle为父对话框的编号
                        return false;
                    }
                },
                {
                    name: '预览（套打）',
                    className: 'green',
                    callback: function () {
                        parent.frameElement.api.get('FirstDialogWindow').doPrint('DecisionTD');   //CaseHandle为父对话框的编号
                        return false;
                    }
                }, { name: '关 闭' }
            ]
        });
    }

</script>
