@{
    Layout = null;
}
@using System.Data
@using System.Web.Mvc.Html

@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Model.Com
@model Yookey.WisdomClassed.SIP.Model.Case.InfPunishCaseinfoEntity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>简易案件基本信息</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <script>
        $(document).ready(function () {
            Loading(false);
            var classNo = '@ViewBag.ClassNo';
            var legislationId = '@ViewBag.LegislationId';
            var legislationItemId = '@ViewBag.LegislationItemId';
            var legislationGistId = '@ViewBag.LegislationGistId';
            $("#ClassNo").val(classNo);
            ChangeClassNo(classNo, 'ItemActs', legislationId, legislationItemId, legislationGistId);
        });


        $(function () {
            BindCompany();
        });
        //绑定单位（大队）
        function BindCompany() {
            var companyId = '@Model.CompanyId';
            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany", defaultSelId: companyId }, function (cmsg) {
                eval(cmsg);
                BindDepartment();
            });
        }
        //绑定部门（中队）
        function BindDepartment() {
            var departmentId = '@Model.DeptId';
            getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment", defaultSelId: departmentId }, function (dmsg) {
                eval(dmsg);
                BindUser(departmentId);
            });
        }

        //绑定人员
        function BindUser(departmentId) {
            getAjax("@Url.Action("GetUserDropList", "User", new { area = "CommonModule" })", { deptId: departmentId, controls: "RePersonelIdFist,RePersonelIdSecond,UdPersonelIdFirst,UdPersonelIdSecond", onlyLawUser: true }, function (dmsg) {
                eval(dmsg);

                var firstUserId = '@Model.RePersonelIdFist';
                var secondUserId = '@Model.RePersonelIdSecond';

                $("#RePersonelIdFist").val(firstUserId);
                $("#RePersonelIdSecond").val(secondUserId);
            });
        }
    </script>
</head>
<body>
    <div>
        <form id="formmain">
            <div style="margin-left: 5px; margin-right: 5px;">
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td style="width: 50%; text-align: left;"></td>
                        <td style="width: 50%; text-align: right;">案件编号：
                            @Html.TextBoxFor(x => x.CaseInfoNo, new { @class = "casebottomtxt", @style = "width: 40%" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: left;">通知书编号：
                            @Html.TextBoxFor(x => x.NoticeNo, new { @class = "casebottomtxt", @style = "width: 50%" })
                        </td>
                        <td style="width: 50%; text-align: right;">
                            @*<input type="button" value="案件流程" class="casebtn" onclick="javascript: ShowCaseFlow();" />*@
                        </td>
                    </tr>
                </table>
                <fieldset style="margin-top: 10px;">
                    <legend>案件来源</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">案件来源：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @{ 
                                    var source = ViewData["Sources"] as IList<ComResourceEntity>;
                                    if (source != null && source.Any())
                                    {
                                        var resource = Model.ReSource;
                                        foreach (var comResourceEntity in source)
                                        {
                                    <span class="item">
                                        <input type="checkbox" name="sourcecheckbox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" checked="@(resource.Contains(comResourceEntity.Id))" />
                                        <label id="lab_@comResourceEntity.Id" for="@comResourceEntity.Id">@comResourceEntity.RsKey</label>
                                    </span>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">执法部门：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                <select id="drpCompany" class="txtselect" style="height: 20px; width: 130px;" onchange="javascript:BindDepartment();"></select>
                                <select id="drpDepartment" class="txtselect" style="height: 20px; width: 130px;" onchange="javascript:BindUser(this.value);"></select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">执法队员：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                <select id="RePersonelIdFist" name="RePersonelIdFist" class="txtselect" style="height: 20px; width: 130px;"></select>
                                <select id="RePersonelIdSecond" name="RePersonelIdSecond" class="txtselect" style="height: 20px; width: 130px;"></select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>当事人情况</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">当事人类型：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.TargetType, (ViewData["TargetTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px", @onchange = "javascript:ChangeTargetType(this.value)" })
                            </td>
                            <th class="formTitle">单位名称：<span style="color: Red;" id="spanCompany">*</span></th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetUnit, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">
                                <label id="labTargetName">当事人姓名</label>：<span style="color: Red;" id="spanUserName">*</span></th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetName, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                            <th class="formTitle">职务：</th>
                            <td class="formValue">
                                <input type="text" class="txt" style="width: 100%;">
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">证件类型：</th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.TargetPaperType, (ViewData["TargetPaperTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                            <th class="formTitle">证件号码：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetPaperNum, new { @class = "txt", @style = "width: 100%;", @onblur = "javascript:PutCardId(this.value)" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">性别：</th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.TargetGender, (ViewData["Sexs"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                            <th class="formTitle">年龄：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetAge, new { @class = "txt", @style = "width: 100%;", @Value = Model.TargetAge == 0 ? "" : Model.TargetAge.ToString() })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">联系电话：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetPhone, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                            <th class="formTitle">联系手机：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetMobile, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">邮编：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetZipCode, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                            <th class="formTitle">电子邮件：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetEmail, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">地址：<span style="color: Red;" id="spanAddress">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBoxFor(x => x.TargetAddress, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>案件基本情况</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">案由编号：<span style="color: Red;">*</span></th>
                            <td class="formValue" style="width: 130px;">
                                @Html.TextBox("ItemNo", "", new { @style = "width:100%", @class = "txt", @onblur = "GetItems(this.value)" })
                            </td>
                            <th class="formTitle">案件类别：</th>
                            <td class="formValue">
                                @Html.DropDownList("ClassNo", (ViewData["ClassNos"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px", @onchange = "javascript:ChangeClassNo(this.value,'ItemActs')" })

                                <select id="ItemActs" class="txtselect" style="height: 20px; width: 40%" onchange="javascript:ChangetItemAct(this.value,'ItemNames');"></select>
                                <select id="ItemNames" class="txtselect" style="height: 20px; width: 25%" onchange="javascript:ChangeItemName(this.value,'GistNames','DutyNames');"></select>

                                @Html.Hidden("LegislationId")
                                @Html.Hidden("LegislationItemId")
                                @Html.Hidden("LegislationGistId")
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">管理依据：</th>
                            <td class="formValue" colspan="3">
                                <select id="GistNames" class="txt" style="width: 100%" onchange="javascript:ChangeGist('GistNames');"></select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">法律责任：</th>
                            <td class="formValue" colspan="3">
                                <select id="DutyNames" class="txt" style="width: 100%" onchange="javascript:ChangeGist('DutyNames');"></select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案发日期：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBoxFor(x => x.CaseDate, new { @class = "txt Wdate", Value = Model.CaseDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" })</td>
                        </tr>
                        <tr>
                            <th class="formTitle">案发地点：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBoxFor(x => x.CaseAddress, new { @style = "width:100%", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">证据情况：</th>
                            <td class="formValue" colspan="3">
                                @{
                                    var evidences = ViewData["Evidences"] as IList<ComResourceEntity>;
                                    if (evidences != null && evidences.Any())
                                    {
                                        var reproof = Model.ReProof;
                                        foreach (var comResourceEntity in evidences)
                                        {
                                    <span class="item">
                                        <input type="checkbox" name="reproofcheckbox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" checked="@(reproof.Contains(comResourceEntity.Id))" />
                                        <label for="@comResourceEntity.Id">@comResourceEntity.RsKey</label>
                                    </span>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案件证据：</th>
                            <td class="formValue" colspan="3" id="EvidenceTD">
                                @Html.Action("FilesTab", "PenaltyCaseFile", new { resourceId = Model.Id, evtache = "case", isupload = "true" })
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>案情摘要</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">案情摘要：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseFact, new { @class = "txtArea", @style = "width: 100%;", @rows = "3", @onblur = "javascript:GenerateCaseAct()" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">危害情况：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseHurtInfo, new { @class = "txtArea", @style = "width: 100%;", @rows = "3" })
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <legend>案件处罚信息</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">承办人：</th>
                            <td class="formValue" colspan="3" id="">
                                <select id="UdPersonelIdFirst" name="UdPersonelIdFirst" class="txtselect" style="height: 20px; width: 130px;"></select>
                                &nbsp;&nbsp;&nbsp;
                                <select id="UdPersonelIdSecond" name="UdPersonelIdSecond" class="txtselect" style="height: 20px; width: 130px;"></select>
                            </td>
                        </tr>
                        <tr id="simple_01">
                            <th class="formTitle">处理方式：</th>
                            <td class="formValue" colspan="3" id="">
                                <input type="radio" name="typeradio" id="00170001" value="00170001" onchange="ChangePunishType()" />
                                <label for="00170001">警告</label>
                                &nbsp;
                            <input type="radio" name="typeradio" id="00170002" value="00170002" onchange="ChangePunishType()" checked="checked" />
                                <label for="00170002">罚款</label>
                            </td>
                        </tr>
                        <tr id="simple_02">
                            <th class="formTitle">罚没款单据号：</th>
                            <td class="formValue">
                                <input type="text" id="PaymentNum" name="PaymentNum" class="txt" style="width: 180px;" />
                                <input type="button" value="校验" class="btnSearch" onclick="btn_CheckBill();" style="float: right;" />
                                <br />
                                <label style="color: red;">（票据号格式：20元-000001,000002）</label>
                            </td>
                            <th class="formTitle">没收金额：</th>
                            <td class="formValue">
                                <input type="text" id="ForfeitureAmount" name="ForfeitureAmount" class="txt" />
                            </td>
                        </tr>
                        <tr id="simple_03">
                            <th class="formTitle">处罚金额：</th>
                            <td class="formValue">
                                <input type="text" id="PunishAmount" name="PunishAmount" class="txt" />
                            </td>
                            <th class="formTitle">罚没款缴纳方式：</th>
                            <td class="formValue">
                                @Html.DropDownList("PaymentType", (ViewData["PaymentTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            @{
                                if (ViewBag.BtnSave)
                                {
                                <input type="button" value="保 存" class="btnSearch" onclick="SaveCase()" />
                                }
                            }
                            <input type="button" value="关 闭" class="btnSearch" onclick="cancle();" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.ReSource)
                @Html.HiddenFor(x => x.ReSourceName)
                @Html.HiddenFor(x => x.ReProof)
                @Html.HiddenFor(x => x.CompanyId)
                @Html.HiddenFor(t => t.CompanyName)
                @Html.HiddenFor(x => x.DeptId)
                @Html.HiddenFor(x => x.DeptName)
                @Html.HiddenFor(x => x.RePersonelNameFist)
                @Html.HiddenFor(x => x.RePersonelNameSecond)
                @Html.HiddenFor(x => x.UdPersonelNameFirst)
                @Html.HiddenFor(x => x.UdPersonelNameSecond)
                @Html.HiddenFor(x => x.State)
                @Html.HiddenFor(x => x.PunishProcess)
            </div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">

    $(function () {
        ChangeTargetType($("#TargetType").val());

        $("#ItemNo").val('7001');
        GetItems($("#ItemNo").val());
    });

    //选择执法部门
    function ChangeDept(deptId, selectIds) {
        getAjax("@Url.Action("AjLoadUsers", "PenaltyCaseAjax")", { deptId: deptId, selectIds: selectIds }, function (msg) {
            eval(msg);
        });
    }

    //更改当事人类型
    function ChangeTargetType(targetType) {
        if (targetType == "00120002") {     //法人
            $("#labTargetName").text("负责人姓名");
            $("#spanCompany").show();
            $("#spanUserName").hide();
        } else {
            $("#labTargetName").text("当事人姓名");
            $("#spanCompany").hide();
            $("#spanUserName").show();
        }
    }

    //输入证件号码后计算
    function PutCardId(cardId) {
        if ($("#TargetPaperType").val() == "00130001") {
            if (parseInt(cardId.substr(16, 1)) % 2 == 1) {
                $("#TargetGender").val("1");  //男
            } else {
                $("#TargetGender").val("0");  //女
            }
            //获取年龄 
            var myDate = new Date();
            var month = myDate.getMonth() + 1;
            var day = myDate.getDate();

            var age = myDate.getFullYear() - cardId.substring(6, 10) - 1;
            if (cardId.substring(10, 12) < month || cardId.substring(10, 12) == month && cardId.substring(12, 14) <= day) {
                age++;
            }
            $("#TargetAge").val(age);
        }
    }

    //简易案件->更改处理方式
    function ChangePunishType() {
        var typeId = $("input[name='typeradio']:checked").val();
        if (typeId == '00170001') {    //警告
            $("#simple_02").hide();
            $("#simple_03").hide();
        } else if (typeId == '00170002') {  //罚款
            $("#simple_02").show();
            $("#simple_03").show();
        }
    }

    //更改大类
    function ChangeClassNo(classNo, selectId, legislationId, legislationItemId, legislationGistId) {
        getAjax("@Url.Action("AjLoadItemActs", "PenaltyCaseAjax")", { classNo: classNo, selectId: selectId }, function (msg) {
            eval(msg);
            if (legislationId != '' && legislationId != undefined) {
                $("#" + selectId).val(legislationId);
                $("#LegislationId").val(legislationId);
                //ChangetItemAct(legislationId, "ItemNames", legislationItemId, legislationGistId);

                //此处固定选择“无合法固定经营场所无照经营的”
                ChangetItemAct(legislationId, "ItemNames", "CBC424DE-AE4C-404B-91A7-3B8B1F492BC5", legislationGistId);
            }
        });
    }

    /*
     * 更改违法行为
     * legislationId:违法行为ID
     * selectId:控件ID
     * defaultVal:默认值
     */
    function ChangetItemAct(legislationId, selectId, legislationItemId, legislationGistId) {
        SelectItem(legislationId);
        getAjax("@Url.Action("AjLoadItemNames", "PenaltyCaseAjax")", { legislationId: legislationId, selectId: selectId }, function (msg) {
            eval(msg);
            if (legislationItemId != '' && legislationItemId != undefined) {
                $("#" + selectId).val(legislationItemId);

                $("#LegislationId").val(legislationId);
                $("#LegislationItemId").val(legislationItemId);
            }
            ChangeItemName($("#" + selectId).val(), "GistNames", "DutyNames", legislationGistId);
        });
    }

    /*
     * 更改适用案由
     * legislationItemId:案由ID
     * selectId:控件ID
     * defaultVal:默认值
     */
    function ChangeItemName(legislationItemId, selectId, selectId2, legislationGistId) {
        getAjax("@Url.Action("AjaxLoadGist", "PenaltyCaseAjax")", { legislationItemId: legislationItemId, selectId: selectId, selectId2: selectId2 }, function (msg) {
            eval(msg);
            $("#LegislationItemId").val(legislationItemId);
            if (legislationGistId != '' && legislationGistId != undefined) {
                $("#" + selectId).val(legislationGistId);
                $("#" + selectId2).val(legislationGistId);
                $("#LegislationGistId").val(legislationGistId);
            } else {
                $("#LegislationGistId").val($("#" + selectId).val());
            }
        });
    }

    /*
     *  更改法律条文 
     */
    function ChangeGist(selectId) {
        var sel = $("#" + selectId).val();
        $("#GistNames").val(sel);
        $("#DutyNames").val(sel);
        $("#LegislationGistId").val(sel);
    }

    //选择小类
    function SelectItem(itemId) {
        AjaxJson("@Url.Action("LoadItemDetails", "PenaltyCaseAjax")", { itemId: itemId }, function (msg) {
            $("#ItemNo").val(msg.rtObj.ItemNo);
        });
    }

    //根据案由编号快速查询
    function GetItems(itemNo) {
        AjaxJson("@Url.Action("LoadItemDetails", "PenaltyCaseAjax")", { itemNo: itemNo }, function (msg) {
            $("#ClassNo").val(msg.rtObj.ClassNo);
            ChangeClassNo(msg.rtObj.ClassNo, 'ItemActs', msg.rtObj.Id);
        });
    }

    //生成案情摘要
    function GenerateCaseAct() {
        if ($("#CaseFact").val() == '') {
            var casedate = $("#CaseDate").val();    //案发日期
            var address = $("#CaseAddress").val();  //违章地址
            var itemact = $("#ItemNames").find('option:selected').text();      //违法行为
            var targetType = $("#TargetType").val();//当事人类型
            var targetName = "";
            if (targetType == '00120002') {
                targetName = $("#TargetUnit").val();
            } else {
                targetName = $("#TargetName").val();
            }

            if (casedate != '') {
                casedate = casedate.replace(/-/g, "/");
                var date = new Date(casedate);
                var time = formatDate(date, 'yyyy年MM月dd日 hh时mm分');
                $("#CaseFact").val(time + "，执法队员在巡查过程中发现" + targetName + "在" + address + itemact + "。");
            }
        }
    }

    function btn_CheckBill() {
        var paymentNum = $("#PaymentNum").val();
        if (paymentNum != '') {
            Loading(true, "正在检验票据号...");
            AjaxJson('@Url.Action("CheckSimpleCaseBill", "PenaltyCaseAjax")', { paymentNum: paymentNum }, function (data) {
                if (data.rtState == 1 && data.rtMsrg == '') {
                    alertDialog('票据号：' + paymentNum + "，可以使用！", 1);
                } else {
                    alertDialog('票据号：' + paymentNum + "，不存在或已被使用！", -1);
                }
            });
        }
    }

    function CheckBill() {
        var paymentNum = $("#PaymentNum").val();
        if (paymentNum != '') {
            Loading(true, "正在检验票据号...");
            AjaxJson('@Url.Action("CheckSimpleCaseBill", "PenaltyCaseAjax")', { paymentNum: paymentNum }, function (data) {
                if (data.rtState == 1 && data.rtMsrg == '') {
                    return true;
                } else {
                    return false;
                }
            });
        } else {
            return true;
        }
    }



    //保存案件
    function SaveCase() {
        if (CheckValidator()) {
            var paymentNum = $("#PaymentNum").val();
            AjaxJson('@Url.Action("CheckSimpleCaseBill", "PenaltyCaseAjax")', { paymentNum: paymentNum }, function (data) {
                if (data.rtState == 1 && data.rtMsrg == '') {
                    Loading(true, "正在提交数据...");
                    AjaxJson('@Url.Action("SaveSimpleCase", "PenaltyCaseAjax")', $('#formmain').serialize(), function () {
                        alertDialogCallBack("保存成功！", 2, function () {
                            setTimeout(function () {
                                cancle();
                            }, 500);
                        });
                    });
                } else {
                    alertDialog('票据号：' + paymentNum + "，不存在或已被使用！", -1);
                }
            });
        }
    }

    /*
     * 取消
     */
    function cancle() {
        var api = parent.frameElement.api;
        api.close();
    }

    //验证
    function CheckValidator() {
        var istrue = true;

        var reSource = "";    //案件来源
        var reSourceName = "";//案件来源名称
        $("input[name='sourcecheckbox']:checked").each(function () {
            reSource += $(this).val() + ",";
            reSourceName += $("#lab_" + $(this).val()).text() + ",";
        });
        var reProof = "";    //案件证据情况
        $("input[name='reproofcheckbox']:checked").each(function () {
            reProof += $(this).val() + ",";
        });
        if (reSource != '') {
            reSource = reSource.substring(0, reSource.length - 1);
            reSourceName = reSourceName.substring(0, reSourceName.length - 1);
            $("#ReSource").val(reSource);           //赋值
            $("#ReSourceName").val(reSourceName);
        } else {
            alertDialog('请选择案件来源！', -1);
            $("input[name='sourcecheckbox']").focus();
            istrue = false;
        };

        $("#DeptId").val($("#drpDepartment").val());
        if ($("#DeptId").val() == '') {
            alertDialog('请选择执法部门！', -1);
            $("#drpDepartment").focus();
            istrue = false;
        } else {
            $("#DeptName").val($("#drpDepartment").find("option:selected").text());
        }
        $("#CompanyId").val($("#drpCompany").val());
        $("#CompanyName").val($("#drpCompany").find("option:selected").text());
        if ($("#RePersonelIdFist").val() == '') {
            alertDialog('请选择办案人员！', -1);
            $("#RePersonelIdFist").focus();
            istrue = false;
        } else {
            $("#RePersonelNameFist").val($("#RePersonelIdFist").find("option:selected").text());
        }

        if ($("#RePersonelIdSecond").val() == '') {
            alertDialog('请选择办案人员！', -1);
            $("#RePersonelIdSecond").focus();
            istrue = false;
        } else {
            $("#RePersonelNameSecond").val($("#RePersonelIdSecond").find("option:selected").text());
        }

        if ($("#UdPersonelIdFirst").val() == '') {
            alertDialog('请选择承办人员！', -1);
            $("#UdPersonelIdFirst").focus();
            istrue = false;
        } else {
            $("#UdPersonelNameFirst").val($("#UdPersonelIdFirst").find("option:selected").text());
        }

        if ($("#UdPersonelIdSecond").val() == '') {
            alertDialog('请选择承办人员！', -1);
            $("#UdPersonelIdSecond").focus();
            istrue = false;
        } else {
            $("#UdPersonelNameSecond").val($("#UdPersonelIdSecond").find("option:selected").text());
        }

        if ($("#TargetType").val() == '') {
            alertDialog('请选择当事人类型！', -1);
            $("#TargetType").focus();
            istrue = false;
        }
        if ($("#ItemNo").val() == '') {
            alertDialog('请输入案由编号！', -1);
            $("#ItemNo").focus();
            istrue = false;
        }
        if ($("#CaseDate").val() == '') {
            alertDialog('案发日期不能为空！', -1);
            $("#CaseDate").val().focus();
            istrue = false;
        }
        if ($("#CaseAddress").val() == '') {
            alertDialog('案发地点不能为空！', -1);
            $("#CaseAddress").val().focus();
            istrue = false;
        }

        if (reProof != '') {
            reProof = reProof.substring(0, reProof.length - 1);
            $("#ReProof").val(reProof);
        } else {
            alertDialog('请选择案件证据情况！', -1);
            $("input[name='reproofcheckbox']").focus();
            istrue = false;
        }
        if ($("#CaseFact").val() == '') {
            alertDialog('案情摘要不能为空！', -1);
            $("#CaseFact").val().focus();
            istrue = false;
        }
        return istrue;
    }

</script>

