@{
    Layout = null;
}
@using System.Data;
@using System.Web.Mvc.Html;
@using System.Collections;
@using Yookey.WisdomClassed.SIP.Enumerate;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>信访管理</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Librarys/tree/tree.js")" type="text/javascript"></script>
    <!--树形组件end-->

    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->


    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <style type="text/css">
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .jqgridNotdata {
            z-index: 10;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            grid();
            SetCompanyDrop();            
        });

        function Search() {
            var StartTime = $("#StartTime").val();
            var EndTime = $("#EndTime").val();
            var yxj = $("#yxj").val();
            var area = $("#area").val();
            var source = $("#source").val();
            var keywords = $("#keywords").val();
            var companyId = $('#drpCompany').val();
            var petitionType = $('#petitionType').val();
            var status = $("#CaseStateType").val();
            $("#gridTable").jqGrid('setGridParam', {
                url: '@Url.Action("GridJson", "Petition")',
                postData: {
                    StartTime: StartTime,
                    EndTime: EndTime,
                    yxj: yxj,
                    source: source,
                    companyId:companyId,
                    keyWords: keywords,
                    petitionType: petitionType,
                    status:status
                },
                page: 1
            }).trigger('reloadGrid');
        }

        function grid() {
            var companyId = $('#drpCompany').val();
            var petitionType = $('#petitionType').val();
            $("#gridTable").jqGrid({
                url: '@Url.Action("GridJson", "Petition")',
                datatype: "json",
                postData: {                
                    companyId: companyId,
                    petitionType: petitionType,
                    status: '@((int)PetitionStateType.Registered)'
                },
                height: $(window).height() - 195,
                autowidth: true,
                colModel: [
                    { label: "Id", name: "Id", index: "Id", hidden: true },
                    { label: "来源编号", name: "SourceNo", index: "SourceNo", width: 150, align: 'left' },
                    { label: "投诉来源", name: "PetitionSource", index: "PetitionSource", width: 150, align: 'left' },
                    { label: "投诉编号", name: "PetitionNo", index: "PetitionNo", width: 150, align: 'left' },
                    { label: "投诉主题", name: "PetitionTitile", index: "PetitionTitile", width: 250, align: 'left' },
                    { label: "优先级", name: "Priority", index: "Priority", width: 100, align: 'center' },
                    { label: "投诉人", name: "PetitionUser", index: "PetitionUser", width: 150, align: 'center' },
                    { label: "应结日期", name: "EndDate", index: "EndDate", width: 150, align: 'center' },
                    { label: "登记日期", name: "CreateOn", index: "CreateOn", width: 150, align: 'center' }
                ],
                viewrecords: true,
                rowList: [30, 50, 100, 500, 1000],
                pager: "#gridPager",
                rownumbers: true,
                shrinkToFit: false,
                gridview: true,
                onSelectRow: function (rowid, iRow, iCol, e) {

                },
                ondblClickRow: function (rowid, iRow, iCol, e) {
                    var Id = GetJqGridRowValue("#gridTable", "Id");
                    btn_detail(Id);
                },
            });
        }

        //设置状态类型
        function SetCaseState(statetype) {
            $("#CaseStateType").val(statetype);
            Search();
        }

        function btn_add() {
            var caseEntity = '/Petition/Edit';
            var width = $(window).width();
            width = width - (width * 0.4);
            var height = $(window).height() * 0.6;
            //AddTabMenu('000100020001', '/Petition/Edit', '新增信访', 'messenger.png', 'true');
            var url = '@Url.Action("Edit","Petition")';
            var width = $(window).width();
            width = width - (width * 0.2);
            var height = $(window).height();
            top.$.dialog({
                id: "000100020001",
                lock: true,
                title: "新增信访",
                max: false,
                min: false,
                width: width,
                height: height,
                content: 'url:' + url
            });
        }

        function btn_detail(Id) {
            var caseEntity = '/Petition/Detail?Id=' + Id;
            var width = $(window).width();
            width = width - (width * 0.4);
            var height = $(window).height() * 0.6;
            //AddTabMenu('000100020002', '/Petition/Detail?Id=' + Id, '信访详情', 'messenger.png', 'true');
            var url = '@Url.Action("Detail","Petition")?Id='+Id;
            var width = $(window).width();
            width = width - (width * 0.2);
            var height = $(window).height();
            top.$.dialog({
                id: "000100020002",
                lock: true,
                title: "信访详情",
                max: false,
                min: false,
                width: width,
                height: height,
                content: 'url:' + url
            });
        }


        //绑定优先级
        function GetPriorityList() {
            getAjax("@Url.Action("GetPriorityList", "Petition", new { area = "" })", { controlId: "yxj" }, function (cmsg) {
                eval(cmsg);
            });
        }

        //设置信访片区
        function SetCompanyDrop() {           
            companyList = $.get('GetAreaList', function (data) {
                companyList = data;                
                for (var i = 0; i < companyList.length; i++) {
                    $('#drpCompany').append('<option value="' + companyList[i].Value + '">' + companyList[i].Name + '</option>');
                }
            })
        }
        function btn_back() {
            window.location.href = "@Url.Action("OfficeRight", "HomeIndex")";
        }
    </script>

</head>
<body>
    <div id="layout" class="layout" style="border-bottom: none;">
        <!--工具栏-->
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                <a id="lr-replace" title="刷新当前(Ctrl+Q)" onclick="Replace()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav1.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">刷新</b></span></a>
                <a id="lr-attendance-apply" title="信访登记" onclick="btn_add()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav13.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">信访登记</b></span></a>       
                <a id="lr-leave" title="关闭当前窗口(Esc)" onclick="btn_back()" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/Images/nav6.png")') 50% 8px no-repeat;background-size:18px 18px;-ms-behavior: url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');behavior:url('@Url.Content("~/Content/Images/backgroundsize.min.htc")');">离开</b></span></a>
            </div>
        </div>
        <div class="topline rightline" style="margin: 1px; margin-top: -1px;"></div>
        <div class="bd" style="border-bottom: none; margin-top: 1px; margin-bottom: 1px;">
                <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
                    <div class="tab_list_top" style="position: absolute">
                        <div id="TabRegistered" class="tab_list bd actived" onclick="Tabchange('Registered');SetCaseState('@((int)PetitionStateType.Registered)');">已登记&nbsp;&nbsp;<label id="Registered">0</label></div>                        
                        <div id="TabApplication" class="tab_list bd" onclick="Tabchange('Application');SetCaseState('@((int)PetitionStateType.Application)');">审批中&nbsp;&nbsp;<label id="Application">0</label></div>
                        <div id="TabResult" class="tab_list bd" onclick="Tabchange('Result');SetCaseState('@((int)PetitionStateType.Result)');">已办结&nbsp;&nbsp;<label id="Result">0</label></div>                        
                        <div id="TabAll" class="tab_list bd" onclick="Tabchange('All');SetCaseState('@((int)PetitionStateType.All)');">全部&nbsp;&nbsp;<label id="All">0</label></div>
                    </div>
                </div>
        </div>

        <!--列表-->
        <div id="grid_List">
            <div class="bottomline" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
                <table border="0" class="form-find" style="height: 45px;">
                    <tr>

                        <th style="width: 20px">时间范围：</th>
                        <td style="width: 110px">
                            @Html.TextBox("StartTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                        </td>
                        <th style="width: 20px; text-align: left;">至</th>
                        <td style="width: 110px">
                            @Html.TextBox("EndTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                        </td>
                        <th>优先级：
                        </th>
                        <td>
                            @Html.DropDownList("yxj", (ViewData["yxj"] as IEnumerable<SelectListItem>), new { @class="select",@style = "width:100px"})                            
                        </td>


                        <th>投诉来源：
                        </th>
                        <td class="formValue">
                            @Html.TextBox("sourceName", "", new { @class = "txt icontree",@style = "width: 140px"})
                            @Html.Hidden("source")
                            @*@Html.DropDownList("source", (ViewData["TSSource"] as IEnumerable<SelectListItem>), new { @class="select",@style = "width: 130px"})                            *@
                        </td>
                        <th>投诉类型：
                        </th>
                        <td>
                            @Html.DropDownList("petitionType", (ViewData["petitionType"] as IEnumerable<SelectListItem>), new { @class="select",@style = "width: 100px"})                            
                        </td>

                        <th class="formTitle">&nbsp;受理部门：</th>
                            <td class="formValue" >
                                <select id="drpCompany" class="select" style="width: 100px;"></select>
                            </td>
                        <th>关键字：
                        </th>
                        <td>
                            <input id="keywords" type="text" class="txt" style="width: 120px" />
                        </td>
                        <td>
                            <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="Search()" style="width:55px;margin-left:5px;padding-left:10px" />
                            @Html.Hidden("CaseStateType",(int)PetitionStateType.Registered)
                        </td>
                    </tr>
                </table>
            </div>
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        BindSour();
        GetCaseCount();
    })

    //投诉来源下拉框
    function BindSour() {
        //加载公司
        $("#sourceName").focus(function () {
            var objId = this.id;
            comboBoxTree(objId, "150px");
            var itemtree = {
                onnodeclick: function (item) {
                    $("#sourceName").val(item.text);
                    $("#source").val(item.id);
                },
                url: "@Url.Action("TreeJson", "Petition")"
            };
            $("#comboBoxTree" + objId).treeview(itemtree);
        });       
    }

    $("#sourceName").focusout(function () {
        if (!$("#sourceName").val()) {
            $("#source").val('');
        };
    });


    //获取案件数量
    function GetCaseCount() {
        $.ajax({
            url: '@Url.Action("GetPetitionCount", "Petition")',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var dataObject = eval(data)[0];
                    $("#Registered").text(dataObject.Registered);                    
                    $("#Application").text(dataObject.Application);
                    $("#Result").text(dataObject.Result);
                    $("#All").text(dataObject.All);
                }
            });
        }
</script>

