@{
    Layout = null;
}
@using System.Data
@using Yookey.WisdomClassed.SIP.Model.Case;
@model InfPunishCaseinfoEntity
@{
    var punishItem = ViewBag.PunishItem as InfPunishLegislationEntity;

    var hearEntity = ViewBag.hearEntity as InfPunishHearEntity;
    if (hearEntity == null)
    {
        hearEntity = new InfPunishHearEntity();
        hearEntity.StartDate = DateTime.Now;
        hearEntity.EndDate = DateTime.Now.AddMinutes(30);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>处理审批</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <script>
        $(document).ready(function () {
            Loading(false);
            checkRadio();
        });

        function checkRadio() {
            if ($("#NotAll").attr("checked")) {
                $("#sb").hide();
                $("#tz").hide()
            }
            if ($("#NeedState").attr("checked")) {
                $("#sb").show();
                $("#tz").hide()
            }
            if ($("#NeedHear").attr("checked")) {
                $("#sb").hide();
                $("#tz").show()
            }
        }
    </script>
</head>
<body>
    <div>
        <form id="form1">
            <div style="margin-left: 5px; margin-right: 5px;">
                <fieldset style="margin-top: 10px;">
                    <legend>案件基本信息</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">案件编号：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @Model.CaseInfoNo
                            </td>
                            <th class="formTitle">案件来源：</th>
                            <td class="formValue">
                                @Model.ReSourceName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">当事人类型：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.TargetType, (ViewData["TargetTypes"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                            <th class="formTitle">单位名称：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetUnit, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">
                                <label id="labTargetName">当事人姓名</label>：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetName, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                            <th class="formTitle">职务：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.TargetDuty, new { @style = "width: 100%;", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案情摘要：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseFact, new { @class = "txtArea", @style = "width: 100%;", @rows = "3", @readonly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">危害情况：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextAreaFor(x => x.CaseHurtInfo, new { @class = "txtArea", @style = "width: 100%;", @rows = "3", @readonly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">案由代码：<span style="color: Red;">*</span></th>
                            <td class="formValue">
                                @punishItem.ItemNo
                            </td>
                            <th class="formTitle">案件类别：</th>
                            <td class="formValue">
                                @punishItem.ClassNoName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">违反法规：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @punishItem.GistName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">处罚依据：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @punishItem.DutyName
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">自由裁量：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3" style="padding-top: 5px; padding-bottom: 5px;">
                                @{
                                    var rules = ViewData["PunishRule"] as List<LegislationRuleEntity>;
                                    if (rules != null && rules.Any())
                                    {
                                        foreach (var pupnishruleEntity in rules)
                                        {
                                            var punishContent = pupnishruleEntity.PunishContent;
                                            var punishType = pupnishruleEntity.PunishType;

                                            if (pupnishruleEntity.PunishMin == 0 && pupnishruleEntity.PunishMax == 0)
                                            {
                                                punishContent += pupnishruleEntity.PunishDesc;
                                            }
                                            else
                                            {
                                                punishContent += "（罚款：" + pupnishruleEntity.PunishMin + "~" + pupnishruleEntity.PunishMax + "）";
                                            }
                                    <input type="radio" name="ruleradio" id="@pupnishruleEntity.Id" value="@pupnishruleEntity.Id" @(pupnishruleEntity.Id.Equals(punishItem.LegislationRuleId) ? "checked" : "")/>
                                    <label id="lab_@pupnishruleEntity.Id" for="@pupnishruleEntity.Id">@(punishContent)</label><br />
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">处罚金额：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("PunishAmount", punishItem.PunishAmount, new { @class = "txt", @style = "width: 100%;", @readonly = "true" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">方式选择：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                <input type="radio" name="applyradio" id="NotAll" checked="checked" value="0" @((hearEntity != null) && (hearEntity.ApplyType == 0) ? "checked=checked" : "") onclick="checkRadio()"/>
                                <label id="lab_NotAll" for="NotAll">不需要陈述申辩或听证</label>
                                <input type="radio" name="applyradio" id="NeedState" value="1" @((hearEntity != null) && (hearEntity.ApplyType == 1) ? "checked=checked" : "") onclick="checkRadio()"/>
                                <label id="lab_NeedState" for="NeedState">需要陈述申辩</label>
                                <input type="radio" name="applyradio" id="NeedHear" value="2" @((hearEntity != null) && (hearEntity.ApplyType == 2) ? "checked=checked" : "") onclick="checkRadio()"/>
                                <label id="lab_NeedHear" for="NeedHear">需要听证会</label>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset style="margin-top: 10px;" id="sb">
                    <legend>陈述申辩信息</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">陈述申辩时间：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("StartDate", hearEntity.StartDate, new { @class = "txt Wdate", Value = hearEntity.StartDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" }) 至 @Html.TextBox("EndDate", hearEntity.EndDate, new { @class = "txt Wdate", Value = hearEntity.EndDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">陈述申辩地点：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("ApplyAddress", hearEntity.ApplyAddress, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">承办人一：</th>
                            <td class="formValue">
                                @Html.TextBox("UdPersonel", Model.RePersonelNameFist, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                            <th class="formTitle">承办人二：</th>
                            <td class="formValue">
                                @Html.TextBox("UdPersonel2", Model.RePersonelNameSecond, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">记录人姓名：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("Records", hearEntity.Records, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">委托代理人：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("Entrust", hearEntity.Entrust, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">陈述申辩内容：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextArea("HearContent", hearEntity.HearContent, new { @class = "txtArea", @style = "width: 100%;", @rows = "3" })
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset style="margin-top: 10px;" id="tz">
                    <legend>听证会信息</legend>
                    <table class="casedt">
                        <tr>
                            <th class="formTitle">听证时间：<span style="color: Red;">*</span></th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("StartDate2", hearEntity.StartDate, new { @class = "txt Wdate", Value = hearEntity.StartDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" }) 至 @Html.TextBox("EndDate2", hearEntity.EndDate, new { @class = "txt Wdate", Value = hearEntity.EndDate.ToString("yyyy-MM-dd HH:mm"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:150px" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">听证通知书文号：</th>
                            <td class="formValue">
                                @Html.TextBox("ApplyNumber", hearEntity.ApplyNumber, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                            <th class="formTitle">听证会方式：</th>
                            <td class="formValue">
                                <input type="radio" name="radHearingType" @((hearEntity != null) && (hearEntity.HearingType == 1) ? "checked=checked" : "") value="1" checked="checked"/>公开
                                <input type="radio" name="radHearingType" @((hearEntity != null) && (hearEntity.HearingType == 0) ? "checked=checked" : "")  value="0"/>不公开
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">听证地点：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("ApplyAddress2", hearEntity.ApplyAddress, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">主持人：</th>
                            <td class="formValue">
                                @Html.TextBox("Compere", hearEntity.Compere, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                            <th class="formTitle">被处罚人：</th>
                            <td class="formValue">
                                @Html.TextBox("PunishPerson", Model.TargetName, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">承办人一：</th>
                            <td class="formValue">
                                @Html.TextBox("UdPersonel", Model.RePersonelNameFist, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                            <th class="formTitle">承办人二：</th>
                            <td class="formValue">
                                @Html.TextBox("UdPersonel2", Model.RePersonelNameSecond, new { @class = "txt", @style = "width: 100%;", @rows = "1" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">承办人部门：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("DeptName", Model.DeptName, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">执法代理人：</th>
                            <td class="formValue">
                                @Html.TextBox("EnforceAgentPerson", hearEntity.EnforceAgentPerson, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                            <th class="formTitle">被处罚代理人：</th>
                            <td class="formValue">
                                @Html.TextBox("BePunishedAgentPerson", hearEntity.BePunishedAgentPerson, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">列席人：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextBox("Attendances", hearEntity.Attendances, new { @class = "txt", @style = "width: 100%;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">当事人主要理由：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextArea("Reason", hearEntity.Reason, new { @class = "txtArea", @style = "width: 100%;", @rows = "3" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">听证意见：</th>
                            <td class="formValue" colspan="3">
                                @Html.TextArea("HearingOpinion", hearEntity.HearingOpinion, new { @class = "txtArea", @style = "width: 100%;", @rows = "3" })
                            </td>
                        </tr>
                    </table>
                </fieldset>
                @{
                    var UNFlowidea = ViewData["UNFlowIdea"] as System.Data.DataTable;
                    if (UNFlowidea != null && UNFlowidea.Rows.Count > 0)
                    {
                    <fieldset>
                        <legend>审批退回</legend>
                        <div>
                            <table class="casedt">
                                @{
                        foreach (DataRow row in UNFlowidea.Rows)
                        {
                                    <tr>
                                        <td class="formTitle" width="16%" rowspan="2">@(row["Duty"])：
                                        </td>
                                        <td class="formValue">
                                            <textarea id="URemark" class="txtArea" cols="104" rows="4" readonly="readonly">@(row["Idea"])</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle" align="right">签字：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(row["UserName"])"  readonly="readonly"/>
                                            日期：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(Convert.ToDateTime(row["Adate"]).ToString(Yookey.WisdomClassed.SIP.Common.AppConst.DateFormat))" readonly="readonly"/>
                                        </td>
                                    </tr>
                        }
                                }
                            </table>

                        </div>
                    </fieldset>
                    }
                }
                @{
                    var ideas = ViewData["FlowIdea"] as DataTable;
                    if (ideas != null && ideas.Rows.Count > 0)
                    {
                    <fieldset>
                        <legend>审批意见</legend>
                        <div>
                            <table class="casedt">

                                @{
                        foreach (DataRow row in ideas.Rows)
                        {
                                    <tr>
                                        <td class="formTitle" width="16%" rowspan="2">@(row["Duty"])：
                                        </td>
                                        <td class="formValue">
                                            <textarea id="Remark" class="txtArea" cols="104" rows="4" readonly="readonly">@(row["Idea"])</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle" align="right">签字：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(row["UserName"])"  readonly="readonly"/>
                                            日期：<input type="text" class="casebottomtxt" style="width: 120px;" value="@(Convert.ToDateTime(row["Adate"]).ToString(Yookey.WisdomClassed.SIP.Common.AppConst.DateFormat))" readonly="readonly"/>
                                        </td>
                                    </tr>
                        }
                                }
                            </table>

                        </div>
                    </fieldset>
                    }
                }
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            <input type="button" value="保 存" class="btnSearch" onclick="Save()" id="btnSave" />
                            @{
                                if (ViewBag.BtnNext)
                                {
                                <input type="button" value="下一步" class="btnSearch" onclick="Next()" id="btnNext" style="display: none" />
                                }
                                if (ViewBag.BtnApply)
                                {
                                <input type="button" value="同 意" class="btnSearch" onclick="ApplyForFiled('agree', 1, 0)" />
                                <input type="button" value="退 回 " class="btnSearch" onclick="ApplyForFiled('disAgree', 1, 0)" />
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">

    var id = '@ViewBag.Id';
    var worklistid = '@ViewBag.WorkListId';

    //保存
    function Save() {
        $("#btnNext").show();
        var ApplyType = $("input[name='applyradio']:checked").val();
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var ApplyAddress = $("#ApplyAddress").val();
        var UdPersonel = $("#UdPersonel").val();
        var Records = $("#Records").val();
        var Entrust = $("#Entrust").val();
        var HearContent = $("#HearContent").val();

        var StartDate2 = $("#StartDate2").val();
        var EndDate2 = $("#EndDate2").val();
        var ApplyNumber = $("#ApplyNumber").val();
        var HearDate = $("#HearDate").val();
        var ApplyAddress2 = $("#ApplyAddress2").val();
        var Compere = $("#Compere").val();
        var PunishPerson = $("#PunishPerson").val();
        var UdPersonel2 = $("#UdPersonel2").val();
        var Attendances = $("#Attendances").val();
        var Reason = $("#Reason").val();
        var HearingType = $("input[name='radHearingType']:checked").val();
        var EnforceAgentPerson = $("#EnforceAgentPerson").val();
        var BePunishedAgentPerson = $("#BePunishedAgentPerson").val();
        var HearingOpinion = $("#HearingOpinion").val();
        AjaxJson('@Url.Action("SaveCaseCT", "PenaltyCaseAjax")', {
            id: id,
            ApplyType: ApplyType,
            StartDate: StartDate,
            EndDate: EndDate,
            ApplyAddress: ApplyAddress,
            Records: Records,
            Entrust: Entrust,
            HearContent: HearContent,

            StartDate2: StartDate2,
            EndDate2: EndDate2,
            ApplyNumber: ApplyNumber,
            HearDate: HearDate,
            ApplyAddress2: ApplyAddress2,
            Compere: Compere,
            Attendances: Attendances,
            Reason: Reason,
            HearingType: HearingType,
            EnforceAgentPerson: EnforceAgentPerson,
            BePunishedAgentPerson: BePunishedAgentPerson,
            HearingOpinion: HearingOpinion,

        }, function () {
            alertDialogCallBack('保存成功！', 1, function () {
            });
        });
    }

    /*
    * 取消
    */
    function cancle() {
        window.closeDialog();
    }

    /*
     * htype:审批方式
     * isloadOp:是否加载、保存意见
     * isFaster:是否一键审批
     */  //陈述申辩与听证
    function ApplyForFiled(htype, isloadOp, isFaster) {
        var formId = '@ViewBag.Id';
        var url = '@Url.Action("CaseWorkFlow", "WorkFlow")?formId=' + formId + '&flowName=陈述申辩与听证&eType=' + htype + '&worklistId=' + worklistid + '&isloadOp=' + isloadOp + '&isFaster=' + isFaster;
        url = encodeURI(url);
        var width = 500;
        var height = 300;
        top.$.dialog({
            id: "WorkFlow", width: width, height: height, lock: true, max: false, resize: false, extendDrag: true,
            title: "案件审批",
            content: 'url:' + url,
            button: [
                {
                    name: '确 定',
                    className: 'green',
                    callback: function () {
                        top.frames["WorkFlow"].AcceptClick('FirstDialogWindow');
                    }
                }, { name: '关 闭' }
            ]
        });
    }

    //下一步
    function Next() {
        var applyradiocheck = $("input[name='applyradio']:checked").val();
        if (applyradiocheck == "1" || applyradiocheck == "2") {
            ApplyForFiled('apply', 0, 0)
        }
        else if (applyradiocheck == "0") {
            AjaxJson('@Url.Action("HearNext", "PenaltyCaseAjax")', { id: id }, function () {
                parent.location.href = "@Url.Action("Main", "PenaltyCase")?id=" + id + '&worklistId=' + worklistid;
            });
        }
}
</script>
