@{
    ViewBag.Title = "LawbasisDetail";
    DataTable dt = ViewBag.Details as DataTable;
}
@using System.Data;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>执法依据信息</title>
    <!--框架必需start-->
    <link  href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link  href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link  href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")"></script>
    <!--树形组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->



    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 28px;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .form .formTitle {
            height: 35px;
        }

        .form #formTitle_one {
            height: 150px;
        }

       .form #formTitle_two {
            height: 150px;
        }
    </style>
</head>
<body>
    <div>
        <script type="text/javascript">
        </script>

        <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
        <div class="bd" style="border-bottom: none; margin: 1px;">
            <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
                <div class="tab_list_top" style="position: absolute">
                    <div id="Tabbasic" class="tab_list bd actived">执法依据详情 </div>
                </div>
            </div>
            <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
                @if (dt.Rows.Count > 0)
                {
                    <div class="tabPanel">
                        <table class="form">
                            <tr>
                                <th class="formTitle">法律法规名称：</th>
                                <td class="formValue">
                                    @Html.TextBox("txtCompanyName", dt.Rows[0]["法律法规名称"], new { @class = "txt", @datacol = "yes", @err = "法律法规名称" })
                                </td>
                                <th class="formTitle">法律法规条款： </th>
                                <td class="formValue">
                                    @Html.TextBox("txtGszch", dt.Rows[0]["法律法规条款"], new { @class = "txt", @datacol = "yes", @err = "法律法规条款" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" id="formTitle_one">法律法规内容：</th>
                                <td class="formValue" colspan="3">
                                    @Html.TextBox("txtShxydm", dt.Rows[0]["法律法规内容"], new { @class = "txt", @datacol = "yes", @err = "法律法规内容" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" id="formTitle_two">备注： </th>
                                <td class="formValue" colspan="3">
                                    @Html.TextBox("txtAqscxkzbh", dt.Rows[0]["备注"], new { @class = "txt", @datacol = "yes", @err = "备注" })
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
        </div>
        <style>
            .ui-widget-content {
                border-left: none;
            }
        </style>
    </div>
</body>
</html>
