@{
    ViewBag.Title = "RectificationIndex";
    DataTable dt = ViewBag.Details as DataTable;
    DataTable enterprise = ViewBag.Enterprise as DataTable;
}
@using System.Data;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>责令限期整改指令书</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet"/>
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Librarys/tree/tree.js")" type="text/javascript"></script>
    <!--树形组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("problem").innerHTML = '1项';
            document.getElementById("time").innerHTML = '2018-11-6日';
            Loading(false);
            
        });
    </script>
</head>
<body>
    <form id="formmain" name="formmain">
        <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
        @if (dt.Rows.Count > 0)
        {
            
                
                <table class="casedt">
                    <tr>
                        <th class="formTitle">责改企业：
                        </th>
                        <td class="formValue" colspan="2">
                            @Html.TextBox("txtCompany", dt.Rows[0]["责改企业"], new { @class = "txt ", @style = "width: 300px;height: 30px;", @datacol = "yes", @err = "责改企业" })
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">需整改问题：
                        </th>
                             <td class="formValue" colspan="2">
                            @Html.TextBox("txtQk", dt.Rows[0]["整改问题"], new { @class = "txt ", @style = "width: 98%;height: 130px;", @datacol = "yes", @err = "需整改问题" })
                        </td>
                      </tr>
                </table>
                <table class="casedt" style="margin-top:20px;display:block">
                    <tr>
                        <td colspan="5" >
                           <span style="margin-left:100px;">现责令你单位对上述第<span id="problem" style="color:red;"></span>问题于<span id="time" style="color:red;"></span>前整改完毕，达到有关法律法规规章制度和标准规定的要求。由此造成事故的，依法追究有关人员的责任。</span>
                            <br />
                            <span style="margin-left:100px;">整改期间，你单位应当采取措施，确保安全生产。对安全生产违法行为，将依法予以行政惩罚。</span>
                            <br />
                            <span style="margin-left:100px;">如果不服本决定，可以依法在60日内向 &nbsp 苏州工业园区管理委员会 &nbsp 或者 &nbsp 苏州市安全生产监督管理局 申请行政复议，或者在6个月内依法向 &nbsp 苏州市姑苏区 人民法院提起行政诉讼，
                                <br /><span style="margin-left:100px;"> 但本决定不停止执行，法律有另外的规定。</span></span>
                        </td>
                    </tr>
                </table>
        }
    </form>
</body>
</html>
