<!DOCTYPE html>
@model Yookey.WisdomClassed.SIP.Model.Case.LegislationGistEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>自由裁量添加</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
      <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")"></script>
    <!--树形组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->
    <script type="text/javascript">
      
        /*
        **加载法律法规视图查询
        */
        function GetGrid_Gist(id) {

            $("#gridTable_Gist").jqGrid({
                url: "@Url.Action("QueryListJsonGist", "PenaltyLaw")?id=" + id,
                    queryParams: { id: id },
                    datatype: "json",
                    height: 100,
                    width: 730,
                    autowidth: true,
                    colModel: [
                        { label: "主键", name: "Id", index: "Id", hidden: true },
                        { label: "外键编号", name: "LegislationItemId", index: "LegislationItemId", hidden: true },
                        { label: "管理依据", name: "GistName", index: "GistName", width: 200 },
                        { label: "管理依据->条", name: "GistStrip", index: "GistStrip", hidden: true },
                        { label: "管理依据->款", name: "GistClause", index: "GistClause", hidden: true },
                        { label: "管理依据->项", name: "GistItem", index: "GistItem", hidden: true },
                        { label: "法律责任", name: "DutyName", index: "DutyName", width: 200 },
                        { label: "法律责任->条", name: "DutyStrip", index: "DutyStrip", hidden: true },
                        { label: "法律责任->款", name: "DutyClause", index: "DutyClause", hidden: true },
                        { label: "法律责任->项", name: "DutyItem", index: "DutyItem", hidden: true },
                        { label: "法律全文", name: "LawContent", index: "LawContent", hidden: true },
                        { label: "处罚规定一", name: "StipulateFirst", index: "StipulateFirst", width: 200 },
                        { label: "处罚规定二", name: "StipulateSecond", index: "StipulateSecond", width: 200 },
                        { label: "立案案情摘要", name: "ReCaseAbstract", index: "ReCaseAbstract", hidden: true },
                        { label: "立案审批承办人意见", name: "ReOpinion", index: "ReOpinion", hidden: true },
                        { label: "立案审批危害或损失情况", name: "ReHarm", index: "ReHarm", hidden: true },
                        { label: "处理审批案情摘要", name: "HaCaseAbstract", index: "HaCaseAbstract", hidden: true },
                        { label: "处理审批承办人意见", name: "HaOpinion", index: "HaOpinion", width: 200 },
                        { label: "结案审批案情摘要及调查经过", name: "EndCaseAbstract", index: "EndCaseAbstract", hidden: true },
                        { label: "结案审批处理或处罚情况", name: "EndPunishments", index: "EndPunishments", hidden: true },
                        { label: "结案审批执行情况", name: "EndExecute", index: "EndExecute", hidden: true },
                        { label: "结案审批复议和诉讼情况", name: "EndLawsuit", index: "EndLawsuit", hidden: true },
                        { label: "结案审批承办人意见", name: "EndOpinion", index: "EndOpinion", hidden: true },
                        { label: "处罚方法", name: "PunishMethod", index: "PunishMethod", hidden: true },
                        { label: "笔录情况", name: "Records", index: "Records", hidden: true },
                        { label: "排序编号", name: "OrderNo", index: "OrderNo", hidden: true },
                        { label: "状态", name: "RowStatus", index: "RowStatus", hidden: true }
                    ],
                    viewrecords: true,
                    rownumbers: true,
                    shrinkToFit: false,
                    gridview: true,
                    ondblClickRow: function (rowid, iRow, iCol, e) {
                        GetDetail_Gist();
                    }

                });
        }

        /*
        **案由依据文本赋值
        */
        function GetDetail_Gist() {

            $("#GistName").val(GetJqGridRowValue("#gridTable_Gist", "GistName"));
            $("#GistStrip").val(GetJqGridRowValue("#gridTable_Gist", "GistStrip"));
            $("#GistStrip").val(GetJqGridRowValue("#gridTable_Gist", "GistClause"));
            $("#GistItem").val(GetJqGridRowValue("#gridTable_Gist", "GistItem"));
            $("#DutyName").val(GetJqGridRowValue("#gridTable_Gist", "DutyName"));
            $("#DutyStrip").val(GetJqGridRowValue("#gridTable_Gist", "DutyStrip"));
            $("#DutyClause").val(GetJqGridRowValue("#gridTable_Gist", "DutyClause"));
            $("#DutyItem").val(GetJqGridRowValue("#gridTable_Gist", "DutyItem"));
            $("#LawContent").val(GetJqGridRowValue("#gridTable_Gist", "LawContent"));
            $("#StipulateFirst").val(GetJqGridRowValue("#gridTable_Gist", "StipulateFirst"));
            $("#StipulateSecond").val(GetJqGridRowValue("#gridTable_Gist", "StipulateSecond"));
            $("#ReCaseAbstract").val(GetJqGridRowValue("#gridTable_Gist", "ReCaseAbstract"));
            $("#ReOpinion").val(GetJqGridRowValue("#gridTable_Gist", "ReOpinion"));
            $("#ReHarm").val(GetJqGridRowValue("#gridTable_Gist", "ReHarm"));
            $("#HaCaseAbstract").val(GetJqGridRowValue("#gridTable_Gist", "HaCaseAbstract"));
            $("#HaOpinion").val(GetJqGridRowValue("#gridTable_Gist", "HaOpinion"));
            $("#EndCaseAbstract").val(GetJqGridRowValue("#gridTable_Gist", "EndCaseAbstract"));
            $("#EndPunishments").val(GetJqGridRowValue("#gridTable_Gist", "EndPunishments"));
            $("#EndExecute").val(GetJqGridRowValue("#gridTable_Gist", "EndExecute"));
            $("#EndLawsuit").val(GetJqGridRowValue("#gridTable_Gist", "EndLawsuit"));
            $("#EndOpinion").val(GetJqGridRowValue("#gridTable_Gist", "EndOpinion"));
            $("#PunishMethod").val(GetJqGridRowValue("#gridTable_Gist", "PunishMethod"));
            $("#Records").val(GetJqGridRowValue("#gridTable_Gist", "Records"));
            $("#LegislationItemId").val(GetJqGridRowValue("#gridTable_Gist", "LegislationItemId"));
            $("#Id").val(GetJqGridRowValue("#gridTable_Gist", "Id"));

        }

    </script>
  </head>
  <body>
     <div class="ScrollBar" style="margin: 1px;overflow:hidden;">
           @using (Html.BeginForm("AddGist", "PenaltyLaw", FormMethod.Post, new { @id = "gist_form" }))
                {  
            <table class="form">  
            <tr>
                <th class="formTitle">管理依据：</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.GistName, new {  @class="txt required",@datacol="yes",@err="管理依据", @checkexpession="NotNull"  })                        
                        
                </td>
                <th class="formTitle">管理依据条款：</th>
                <td class="formValue">
                        第 @Html.TextBoxFor(t => t.GistStrip, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })条
                        第 @Html.TextBoxFor(t => t.GistClause, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })款
                        第 @Html.TextBoxFor(t => t.GistItem, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })项                        
                </td>
            </tr>
            <tr>
                <th class="formTitle">法律责任：</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.DutyName, new {  @class="txt required",@datacol="yes",@err="法律责任", @checkexpession="NotNull"  }) 
                </td>
                <th class="formTitle">法律责任条款：</th>
                <td class="formValue">
                        第 @Html.TextBoxFor(t => t.DutyStrip, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })条
                        第 @Html.TextBoxFor(t => t.DutyClause, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })款
                        第 @Html.TextBoxFor(t => t.DutyItem, new {  @class="txt",@style="display:inline;width: 60px;height: 18px;border-bottom: 1px solid #ccc;line-height: 18px;text-align:center;" })项                                                 
                </td>
            </tr>     
            <tr>
                <th class="formTitle">法律全文：</th>
                <td class="formValue" colspan="3">
                    @Html.TextAreaFor(t => t.LawContent, new {  @class="txtArea" ,rows="3" })  
                </td>
                   
            </tr>
            <tr>
                <th class="formTitle">处罚规定一：</th>
                <td class="formValue">
                    @Html.TextAreaFor(t => t.StipulateFirst, new {  @class="txtArea required",@datacol="yes",@err="处罚规定一", @checkexpession="NotNull"  })  
                        
                </td>
                <th class="formTitle">处罚规定二：</th>
                <td class="formValue">
                    @Html.TextAreaFor(t => t.StipulateSecond, new {  @class="txtArea"  })                          
                </td>
            </tr>
            <tr>
                <th class="formTitle">立案案情摘要：</th>
                <td class="formValue" colspan="3">
                    @Html.TextAreaFor(t => t.ReCaseAbstract, new {  @class="txtArea" })    
                </td>
            </tr>
            <tr>
                <th class="formTitle">立案审批承办人意见：</th>
                <td class="formValue">
                    @Html.TextAreaFor(t => t.ReOpinion, new {  @class="txtArea" ,rows=3  })    
                </td>
                <th class="formTitle">立案审批危害或损失情况：</th>
                <td class="formValue">
                    @Html.TextAreaFor(t => t.ReHarm, new {  @class="txtArea" ,rows=3  })    
                </td>
            </tr>
            <tr>
                <th class="formTitle">处理审批案情摘要：</th>
                <td class="formValue">                        
                    @Html.TextAreaFor(t => t.HaCaseAbstract, new {  @class="txtArea" ,rows=3  })    
                </td>
                <th class="formTitle">处理审批承办人意见：</th>
                <td class="formValue">
                    @Html.TextAreaFor(t => t.HaOpinion, new {  @class="txtArea" ,rows=3  })
                </td>
            </tr>
            <tr>
                <th class="formTitle">结案审批案情摘要及调查经过：</th>
                <td class="formValue" >
                    @Html.TextAreaFor(t => t.EndCaseAbstract, new {  @class="txtArea",rows=3   })
                </td>
                <th class="formTitle">结案审批处理或处罚情况：</th>
                <td class="formValue" >
                    @Html.TextAreaFor(t => t.EndPunishments, new {  @class="txtArea" ,rows=3  })
                </td>
            </tr>
            <tr>
                <th class="formTitle">结案审批执行情况：</th>
                <td class="formValue" >
                    @Html.TextAreaFor(t => t.EndExecute, new {  @class="txtArea" ,rows=3  })                        
                </td>
                <th class="formTitle">结案审批复议和诉讼情况：</th>
                <td class="formValue" >
                    @Html.TextAreaFor(t => t.EndLawsuit, new {  @class="txtArea" ,rows=3  })
                </td>
            </tr>
            <tr>
                <th class="formTitle">结案审批承办人意见：</th>
                <td class="formValue"  colspan="3">
                    @Html.TextAreaFor(t => t.EndOpinion, new {  @class="txtArea" ,rows=3  })
                </td>                    
            </tr>
            <tr>
                <th class="formTitle">处罚方法：</th>
                <td class="formValue"  colspan="3">
                    @Html.TextAreaFor(t => t.PunishMethod, new {  @class="txtArea"  })
                </td>                    
            </tr>
            <tr>
                <th class="formTitle">笔录情况：</th>
                <td class="formValue"  colspan="3">
                    @Html.TextAreaFor(t => t.Records, new {  @class="txtArea" ,rows=3  })
                </td>                     
            </tr>
                <tr>
                    <td colspan="4" style="height: 45px;" align="center">
                        <input id="Gist_btnCreate" type="button" style="margin-top: 10px;" class="btnSearch" value="清 空" onclick="btn_GistClear()">
                        <input id="Gist_btnSave" type="button" style="margin-top: 10px;" class="btnSearch" value="保存法律条例" onclick="btn_GistSave()">
                        <input id="Gist_btnDelete" type="button" style="margin-top: 10px;" class="btnSearch" value="删 除" onclick="btn_GistDelete()">
                        <input id="Gist_btnColse" type="button" style="margin-top: 10px;" class="btnSearch" value="关 闭" onclick="btn_GistColse()">
                    </td>
                </tr>
            @Html.HiddenFor(t => t.LegislationItemId)
            @Html.HiddenFor(t => t.CreatorId)
            @Html.HiddenFor(t => t.CreateBy)
            @Html.HiddenFor(t => t.CreateOn)
            @Html.HiddenFor(t => t.Version)
            @Html.HiddenFor(t => t.Id)
        </table>
           }
        <div id="grid_List_Gist" class="topline">
                <table id="gridTable_Gist"></table>
        </div>
    </div>
  </body>  
</html>
<script type="text/javascript">

    $(document).ready(function () {
        Loadlayout();
        GetGrid_Gist($('#LegislationItemId').val());
    });


    /*
    **清空文本信息
    */
    function btn_GistClear()
    {
        $(':input').not(':button, :submit, :reset,.notClear,#LegislationItemId')
             .val('')
             .removeAttr('checked')
             .removeAttr('selected');
    }

    /*
    **保存法律条例
    */
    function btn_GistSave()
    {
        if (!CheckDataValid('#gist_form')) {
            return false;
        }
        else {
            $.ajax({
                cache: true,
                type: "POST",
                url: '@Url.Action("AddGist", "PenaltyLaw")',
                data: $('#gist_form').serialize(),
                        async: false,
                        datatype: 'json',
                        success: function (data) {
                            if (data.rtState == 0) {
                                alert("保存成功");
                                btn_GistRefresh();
                            } else if (data == 'error') {
                                alert("该用户存在！");

                            }

                            else {
                                alert('保存出现异常,请联系管理员！');
                            }
                        }
                    });
                }
    }

    /*
    **删除法律条例
    */
    function btn_GistDelete()
    {
        var Id = GetJqGridRowValue("#gridTable_Gist", "Id");
        if (typeof (Id) == "undefined") {
            alert("请选择您要删除的数据！");
            return;
        }

        if (confirm('您确定要删除该菜单吗？')) {
            $.ajax({
                url: '/PenaltyLaw/DeleteGist?id=' + Id,
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 1) {
                        var selectedId = $("#gridTable_Gist").jqGrid("getGridParam", "selrow");
                        $("#gridTable_Gist").jqGrid('delRowData', selectedId);
                        btn_GistClear();
                    } else {
                        alert('删除数据出现异常！');
                    }
                }
            });
        }
    }


    /*
    **刷新法律条例信息
    */
    function btn_GistRefresh() {
        $("#gridTable_Gist").jqGrid('setGridParam', {
            url: "/PenaltyLaw/QueryListJsonGist?id=" + $('#LegislationItemId').val()
        }).trigger('reloadGrid');
    }

    /*
    **关闭当前窗体
    */
    function btn_GistColse() {
        closeDialog();
    }

</script>