<!DOCTYPE html>
@using Yookey.WisdomClassed.SIP.Model.Case;
@model Yookey.WisdomClassed.SIP.Model.Case.LegislationEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>自由裁量添加</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")"></script>
    <!--树形组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->
    <script type="text/javascript">

        /*
        **文本对象初始化
        */
        $(document).ready(function () {
            Loadlayout();

            var queryid = GetQuery("id");
          
            BindDropItem("#Yiyu_Measurement", "Measurement", "请选择");
            BindDropItem("#Yiyu_PunishType", "PunishType", "请选择");
            
            GetGrid_Auyou(queryid);
            GetGrid_yiju(queryid);

            GetDetail();

            $("#ItemNo").keyup(function () {
                $("#Yiyu_ItemNo").val($("#ItemNo").val());
               
            });

        });
    </script>
    <style type="text/css">
        textarea {
            width: 100%;
            height: 30px;
        }

        .form .formTitle {
            background: #F7F7F7;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 0px;
            margin: 0px;
            height: 24px;
            white-space: nowrap;
            font-weight: normal;
            text-align: right;
            padding-right: 5px;
            padding-left: 5px;
            width: 162px;
        }
    </style>
</head>
<body>
    <div>

        <script type="text/javascript">

 
            /*
            **保存处罚信息
            */
            function AcceptClick() {

                if (!CheckDataValid('#formmain')) {
                    return false;
                }
                else {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: '/PenaltyLaw/Add',
                        data: $('#formmain').serialize(),
                        async: false,
                        datatype: 'json',
                        success: function (data) {
                            if (data.rtState == 0) {
                                //top.$("#gridTable").trigger("reloadGrid");
                                closeDialog();
                            } else if (data == 'error') {
                                alert("该用户存在！");

                            }

                            else {
                                alert('保存出现异常,请联系管理员！');
                            }
                        }
                    });
                }


            }

            /*
            **获取处罚依据详情
            */
            function GetGrid_yiju(id) {
                $("#gridTable_yiju").jqGrid({
                    url: "@Url.Action("QueryListJsonRule", "PenaltyLaw")?id=" + id,
            queryParams: { id: id },
            datatype: "json",
            height: 100,
            width: 730,
            autowidth: true,
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "主表编号", name: "ItemId", index: "ItemId", hidden: true },
                { label: "自由裁量序号", name: "ItemNo", index: "ItemNo", hidden: true },
                { label: "处罚内容", name: "PunishContent", index: "PunishContent", width: 150 },
                { label: "处罚种类", name: "PunishType", index: "PunishType", width: 130 },
                { label: "处罚标准上限", name: "PunishMax", index: "PunishMax", width: 150 },
                { label: "处罚标准下限", name: "PunishMin", index: "PunishMin", width: 200 },
                { label: "处罚计量单位", name: "Measurement", index: "Measurement", width: 100 },
                { label: "排序编号", name: "OrderNo", index: "OrderNo", hidden: true },
                { label: "状态", name: "RowStatus", index: "RowStatus", hidden: true }
            ],
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            loadComplete: function (jsondata, stat) {
                var rowNum = parseInt($(this).getGridParam("records"), 10);
                if (rowNum >= 1) {
                    SetOptionVal("#Yiyu_PunishType", $("#gridTable_yiju").getCell(1, "PunishType"));
                    SetOptionVal("#Yiyu_Measurement", $("#gridTable_yiju").getCell(1, "Measurement"));
                    $("#Yiyu_RowStatus").get(0).value = $("#gridTable_yiju").getCell(1, "RowStatus");
                    $("#Yiyu_PunishMax").val($("#gridTable_yiju").getCell(1, "PunishMax"));
                    $("#Yiyu_PunishMin").val($("#gridTable_yiju").getCell(1, "PunishMin"));
                    $("#Yiyu_OrderNo").val($("#gridTable_yiju").getCell(1, "OrderNo"));
                    $("#Yiyu_PunishContent").val($("#gridTable_yiju").getCell(1, "PunishContent"));
                    $("#Yiyu_Id").val($("#gridTable_yiju").getCell(1, "Id"));
                    $("#Yiyu_ItemNo").val($("#gridTable_yiju").getCell(1, "ItemNo"));
                    $("#Yiyu_Version").val($("#gridTable_yiju").getCell(1, "Version"));
                }
            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                GetDetail_yiju();
            }

        });
    }

            /*
            **获取案由信息详情
            */
            function GetGrid_Auyou(id) {

                $("#gridTable_Anyou").jqGrid({
                    url: "@Url.Action("QueryListJsonAnyou", "PenaltyLaw")?id=" + id,
                     queryParams: { id: id },
                     datatype: "json",
                     height: 100,
                     width: 730,
                     autowidth: true,
                     colModel: [
                         { label: "主键", name: "Id", index: "Id", hidden: true },
                         { label: "外键编号", name: "LegislationId", index: "LegislationId", hidden: true },
                         { label: "适用案由", name: "ItemName", index: "ItemName", width: 700 },
                         {
                             label: "操作", name: "Detail", index: "Detail", width: 100, formatter: function (cellvalue, options, rowObject) {
                                 return '<a href="javascript:void(0);" onclick="openDialog_details(\'' + rowObject.Id + '\')">法律条例详情</a>';
                             }
                         },
                         { label: "排序编号", name: "OrderNo", index: "OrderNo", hidden: true },
                         { label: "状态", name: "RowStatus", index: "RowStatus", hidden: true }
                     ],
                     viewrecords: true,
                     rownumbers: true,
                     shrinkToFit: false,
                     gridview: true,
                     loadComplete: function (jsondata, stat) {
                         var rowNum = parseInt($(this).getGridParam("records"), 10);
                         if (rowNum >= 1) {
                             $("#Anyou_ItemName").val($("#gridTable_Anyou").getCell(1, "ItemName"));
                             $("#Anyou_LegislationId").val($("#gridTable_Anyou").getCell(1, "LegislationId"));
                             $("#Anyou_Id").val($("#gridTable_Anyou").getCell(1, "Id"));
                         }
                     },
                     ondblClickRow: function (rowid, iRow, iCol, e) {
                         GetDetail_Anyou();
                     }

                 });
            }

        /*
        **法律法规文本赋值
        */
            function GetDetail_yiju() {

  
            SetOptionVal("#Yiyu_PunishType", GetJqGridRowValue("#gridTable_yiju", "PunishType"));
            SetOptionVal("#Yiyu_Measurement", GetJqGridRowValue("#gridTable_yiju", "Measurement"));         
            $("#Yiyu_RowStatus").get(0).value = GetJqGridRowValue("#gridTable_yiju", "RowStatus");
            $("#Yiyu_PunishMax").val(GetJqGridRowValue("#gridTable_yiju", "PunishMax"));
            $("#Yiyu_PunishMin").val(GetJqGridRowValue("#gridTable_yiju", "PunishMin"));
            $("#Yiyu_OrderNo").val(GetJqGridRowValue("#gridTable_yiju", "OrderNo"));
            $("#Yiyu_PunishContent").val(GetJqGridRowValue("#gridTable_yiju", "PunishContent"));
            $("#Yiyu_Id").val(GetJqGridRowValue("#gridTable_yiju", "Id"));
            $("#Yiyu_ItemNo").val(GetJqGridRowValue("#gridTable_yiju", "ItemNo"));
            $("#Yiyu_Version").val(GetJqGridRowValue("#gridTable_yiju", "Version"));

        }
            
         
        /*
        **案由依据文本赋值
        */
        function GetDetail_Anyou() {

            $("#Anyou_ItemName").val(GetJqGridRowValue("#gridTable_Anyou", "ItemName"));
            $("#Anyou_LegislationId").val(GetJqGridRowValue("#gridTable_Anyou", "LegislationId"));
            $("#Anyou_Id").val(GetJqGridRowValue("#gridTable_Anyou", "Id"));
        }
        
        /*
        **详情框赋值
        */
        function GetDetail() {
            $("#ItemType").get(0).value = '@Model.ItemType';
            $("#ClassNo").get(0).value = '@Model.ClassNo';
        }

        </script>

        <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
        <div class="bd" style="border-bottom: none; margin: 1px;">
            <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
                <div class="tab_list_top" style="position: absolute">
                    <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">自由裁量项目编辑 </div>           
                </div>
            </div>
        </div>
        <div class="ScrollBar" style="margin: 1px; overflow: hidden;">

            <div id="basic" class="tabPanel">

                @using (Html.BeginForm("Add", "PenaltyLaw", FormMethod.Post, new { @id = "formmain" }))
                {     
                    <fieldset style="margin-top: 10px;">
                        <legend>违法行为</legend>
                        <table class="form">
                            <tr>
                                <th class="formTitle">序号：
                                </th>
                                <td class="formValue">
                                    @Html.TextBoxFor(t => t.Num, new { @class = "txt required", @datacol = "yes", @err = "序号", @checkexpession = "NotNull" })
                                </td>
                                <th class="formTitle">权力编码：
                                </th>
                                <td class="formValue">
                                    @Html.TextBoxFor(t => t.ItemCode, new { @class = "txt required", @datacol = "yes", @err = "权力编码", @checkexpession = "NotNull" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">案由编号：
                                </th>
                                <td class="formValue">
                                    @Html.TextBoxFor(t => t.ItemNo, new { @class = "txt required", @datacol = "yes", @err = "案由编号", @checkexpession = "NotNull" })

                                </td>
                                <th class="formTitle">权力类型： </th>
                                <td class="formValue">
                                    @Html.DropDownListFor(t => t.ItemType, (ViewData["ItemType"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @datacol = "yes", @err = "案由编号", @checkexpession = "NotNull" })
                                </td>                        
                            </tr>
                            <tr>
                                 <th class="formTitle">所属类型（大类）：
                                </th>
                                <td class="formValue">
                                    @Html.DropDownListFor(t => t.ClassNo, (ViewData["ClassNo"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @datacol = "yes", @err = "所属类型", @checkexpession = "NotNull" })

                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                                    @Html.HiddenFor(t => t.Id)
                    </fieldset>
                    <fieldset>
                        <legend>适用案由</legend>
                        <form id="anyou_form" >
                        <table class="form">
                            <tr>
                                <th class="formTitle">适用案由：</th>
                                <td class="formValue" colspan="3">
                                    @Html.TextBox("Anyou_ItemName" ,(ViewBag.LegislationItem as LegislationItemEntity).ItemName , new { @class = "txt required", @datacol = "yes", @err = "适用案由", @checkexpession = "NotNull" })
                                </td>
                            </tr>                           
                             <tr>
                                <td colspan="4" style="height: 45px;" align="center">
                                    <input id="Anyou_btnCreate" type="button" style="margin-top: 10px;" class="btnSearch" value="清 空" onclick="btn_AnyouClear()">
                                    <input id="Anyou_btnSave" type="button" style="margin-top: 10px;" class="btnSearch" value="保存适用案由" onclick="btn_AnyouSave()">
                                    <input id="Anyou_btnDelete" type="button" style="margin-top: 10px;" class="btnSearch" value="删 除" onclick="btn_AnyouDelete()">
                                </td>
                            </tr>
                        </table>
                            @Html.Hidden("Anyou_LegislationId", Model.Id)
                            @Html.Hidden("Anyou_Id", (ViewBag.LegislationItem as LegislationItemEntity).Id)
                    </form>
                         <div id="grid_List_Anyou" class="topline">
                        <table id="gridTable_Anyou"></table>
                        </div>
                    </fieldset>              
                }
                <fieldset>
                    <legend>处罚标准</legend>
                    <form id="yiju_form" action="/PenaltyLaw/RuleAdd" method="post">
                        <table class="form">
                            <tr>
                                <th class='formTitle'>自由裁量序号：</th>
                                <td class='formValue'>
                                    <input id="Yiyu_Version" name="Version" type="hidden" />
                                    <input id="Yiyu_Id" name="Id" type="hidden" />
                                    <input id="Yiyu_ItemId" name="ItemId" class="notClear" value="" type="hidden" />
                                    <input id="Yiyu_ItemNo" name="ItemNo" value="" readonly="readonly" type="text" class="notClear txt" />
                                </td>
                                <th class='formTitle'>处罚内容：</th>
                                <td class='formValue'>
                                    <input id="Yiyu_PunishContent" name="PunishContent" type="text" class="txt" />
                                </td>
                            </tr>
                            <tr>

                                <th class='formTitle'>处罚种类：</th>
                                <td class='formValue'>
                                    <select id="Yiyu_PunishType" name="PunishType" style="font-family: '微软雅黑';" class="txtselect"></select>
                                </td>
                                <th class='formTitle'>状态：</th>
                                <td class='formValue'>

                                    <select id="Yiyu_RowStatus" name="RowStatus" style="font-family: '微软雅黑';" class="txtselect">
                                        <option value="1">正常</option>
                                        <option value="2">隐藏</option>
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <th class='formTitle'>处罚计量单位：</th>
                                <td class='formValue'>
                                    <select id="Yiyu_Measurement" name="Measurement" style="font-family: '微软雅黑';" class="txtselect"></select>
                                </td>
                                <th class='formTitle'>排序编号：</th>
                                <td class='formValue'>
                                    <input id="Yiyu_OrderNo" name="OrderNo" type="text" class="txt" />
                                </td>
                            </tr>
                            <tr>
                                <th class='formTitle'>处罚标准上限：</th>
                                <td class='formValue'>
                                    <input id="Yiyu_PunishMax" name="PunishMax" type="text" class="txt" />
                                </td>
                                <th class='formTitle'>处罚标准下限：</th>
                                <td class='formValue'>
                                    <input id="Yiyu_PunishMin" name="PunishMin" type="text" class="txt" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="height: 45px;" align="center">
                                    <input id="Yiyu_btnCreate" type="button" style="margin-top: 10px;" class="btnSearch" value="清 空" onclick="btn_YijuCreate()">
                                    <input id="Yiyu_btnSave" type="button" style="margin-top: 10px;" class="btnSearch" value="保存处罚依据" onclick="btn_YijuSave()">
                                    <input id="Yiyu_btnDelete" type="button" style="margin-top: 10px;" class="btnSearch" value="删 除" onclick="btn_YijuDelete()">
                                </td>
                            </tr>
                        </table>
                        @Html.Hidden("LegislationId",Model.Id)
                    </form>

                    <div id="grid_List_Yiju" class="topline">
                        <table id="gridTable_yiju"></table>
                    </div>
                </fieldset>

            </div>
        </div>

    </div>

    <script type="text/javascript">

      
        /*
        **保存案由信息
        */
        function btn_AnyouSave()
        {
            var data={
                LegislationId: $("input[name=Anyou_LegislationId]").val(),
                itemName:$("input[name=Anyou_ItemName]").val(),
                id: $("input[name=Anyou_Id]").val(),
            };
            $.ajax({
                cache: true,
                type: "POST",
                url: '/PenaltyLaw/AddAnyou',
                data: data,
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 0) {
                        alert("保存成功");
                        btn_AnyouRefresh();
                    } else if (data == 'error') {
                        alert("该用户存在！");

                    }

                    else {
                        alert('保存出现异常,请联系管理员！');
                    }
                }
            });

        }

        /*
        **删除案由信息
        */
        function btn_AnyouDelete()
        {
            var Id = GetJqGridRowValue("#gridTable_Anyou", "Id");
            if (typeof (Id) == "undefined") {
                alert("请选择您要删除的数据！");
                return;
            }

            if (confirm('您确定要删除该菜单吗？')) {
                $.ajax({
                    url: '/PenaltyLaw/DeleteAnyou?id=' + Id,
                    datatype: 'json',
                    success: function (data) {
                        if (data.rtState == 1) {
                            var selectedId = $("#gridTable_Anyou").jqGrid("getGridParam", "selrow");
                            $("#gridTable_Anyou").jqGrid('delRowData', selectedId);
                            btn_AnyouClear();
                        } else {
                            alert('删除数据出现异常！');
                        }
                    }
                });
            }
        }

        /*
        **清空案由信息
        */
        function btn_AnyouClear()
        {
            $('#Anyou_ItemName').val('');
            $('#Anyou_Id').val('');
        }


        /*
        **刷新案由信息
        */
        function btn_AnyouRefresh() {
            var queryid = '@Model.Id';
            $("#gridTable_Anyou").jqGrid('setGridParam', {
                url: "/PenaltyLaw/QueryListJsonAnyou?id=" + queryid
            }).trigger('reloadGrid');
        }


        /*
        **保存处罚标准
        */
        function btn_YijuSave() {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/PenaltyLaw/AddRule',
                data: $('#yiju_form').serialize(),
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 0) {
                        alert("保存成功");
                        btn_Refresh();
                    } else if (data == 'error') {
                        alert("该用户存在！");

                    }

                    else {
                        alert('保存出现异常,请联系管理员！');
                    }
                }
            });
        }

         /*
         **删除处罚标准
         */
        function btn_YijuDelete() {

            var Id = GetJqGridRowValue("#gridTable_yiju", "Id");
            if (typeof (Id) == "undefined") {
                alert("请选择您要删除的数据！");
                return;
            }

            if (confirm('您确定要删除该菜单吗？')) {
                $.ajax({
                    url: '/PenaltyLaw/DeleteRule?id=' + Id,
                    datatype: 'json',
                    success: function (data) {
                        if (data.rtState == 1) {
                            var selectedId = $("#gridTable_yiju").jqGrid("getGridParam", "selrow");
                            $("#gridTable_yiju").jqGrid('delRowData', selectedId);
                            btn_YijuCreate();
                        } else {
                            alert('删除数据出现异常！');
                        }
                    }
                });
            }
        }

        /*
        **清空处罚依据
        */
        function btn_YijuCreate() {
            $(':input', '#yiju_form')
             .not(':button, :submit, :reset,.notClear,#LegislationId')
             .val('')
             .removeAttr('checked')
             .removeAttr('selected');

        }

        /*
        **刷新处罚依据
        */
        function btn_Refresh() {
            var queryid = '@Model.Id';
            $("#gridTable_yiju").jqGrid('setGridParam', {
                url: "/PenaltyLaw/QueryListJsonRule?id=" + queryid
            }).trigger('reloadGrid');
        }
    
        /*
        **打开法律法规详情
        */
        function openDialog_details(id) {
            Dialog('@Url.Action("Gist","PenaltyLaw")' + '?gistId=' + id, '', '法律条例', 800, 600); 
        }
       
    </script>
</body>
</html>
