@{
    Layout = null;
    
}
@using System.Data;
@using Yookey.WisdomClassed.SIP.Common
@{
    var caseFlow = ViewData["Flow"] as DataTable;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>审批流程</title>

    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->
    <style>
        .hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            Loading(false);
            var cltype = $("#types").val();
            if (cltype == 1) {
                $("#ycl").addClass("hide");
            }
            else {
                $("#ycl").removeClass("hide");
            }
        });
    </script>

    <style type="text/css">
        tr {
            height: 25px;
            line-height: 25px;
        }
    </style>
</head>
<body>
    <div>
        <form id="formmain">
            <div style="margin-left: 5px; margin-right: 5px;">
                <input  id="types" value="@ViewBag.types" type="hidden"/>
                <table style="width: 100%; border: 0px;">
                    <tr>
                        <td colspan="5">消息状态：<img src="@Url.Content("~/Content/Images/FlowRed.gif")"/>
                            未查看 
                            <img src="@Url.Content("~/Content/Images/FlowYellow.gif")"/>
                            已查看
                            <span id="ycl">
                                <img src="@Url.Content("~/Content/Images/FlowHandle.gif")"/>
                                已处理
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="formValue" style="font-size: 14px; font-weight: bold;">发送人</td>
                        <td class="formValue" style="font-size: 14px; font-weight: bold; text-align: center;">
                            <img src="@Url.Content("~/Content/Images/FlowLine.gif")"/></td>
                        <td class="formValue" style="font-size: 14px; font-weight: bold;">接收人</td>
                        <td class="formValue"></td>
                    </tr>

                    @if (caseFlow != null && caseFlow.Rows.Count > 0)
                    {
                        foreach (DataRow row in caseFlow.Rows)
                        {
                        <tr>
                            <td class="formValue">@row["SendName"].ToString()</td>
                            <td class="formValue" style="text-align: center;">
                                @(Convert.ToDateTime(row["SendDate"].ToString()).ToString(AppConst.DateFormatLong))
                            </td>
                            <td class="formValue">@row["ActionName"].ToString()</td>
                            <td class="formValue">
                                @{
                            var state = int.Parse(row["State"].ToString());
                            if (state == 0)
                            {
                                    <img src="@Url.Content("~/Content/Images/FlowRed.gif")"/>
                            }
                            else if (state == 1)
                            {
                                    <img src="@Url.Content("~/Content/Images/FlowYellow.gif")"/> 
                            }
                            else if (state == 2)
                            {
                                    <img src="@Url.Content("~/Content/Images/FlowHandle.gif")"/>
                            }
                                }
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </form>
    </div>
</body>
</html>
