@using Yookey.WisdomClassed.SIP.Common
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />*@
    <title>@(AppConfig.SystemName)</title>
    <link href="@Url.Content("~/Content/Images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")"></script>
    <!--引入弹窗组件end-->
    <script src="@Url.Content("~/Scripts/Index.js")"></script>
    <script>
        /**初始化**/
        $(document).ready(function () {
            AddTabMenu('Imain', '@Url.Action("Page")', '欢迎首页', "house.png", 'false');
            GetAccordionMenu();
            InitializeImpact();
        });
        //点击菜单连接（隐藏导航菜单）
        function linkAddTabMenu() {
            $('.btn-nav-toggle').removeAttr('disabled');
            $('.btn-nav-toggle').removeClass('harvest');
            $('.btn-nav-toggle').trigger("click");
            //点击Tab事件
            $('#tabs_container li').click(function () {
                $('.btn-nav-toggle').removeAttr('disabled');
                ////（隐藏导航菜单）
                //$(".navigation").css('position', 'absolute');
                //$('.btn-nav-toggle').removeClass('harvest');
                //$('.btn-nav-toggle').trigger("click");
            });
        }
        //初始化界面UI效果
        function InitializeImpact() {
            //设置自应高度
            resizeU();
            $(window).resize(resizeU);
            function resizeU() {
                var divkuangH = $(window).height();
                $(".mainPannel").height(divkuangH - 129);
                $(".navigation").height(divkuangH - 129);
                $("#ContentPannel").height(divkuangH - 129);
            }
            //手风琴效果
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;
                var links = this.el.find('.link');
                links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown);
            };
            Accordion.prototype.dropdown = function (e) {
                //计算高度
                var accordionheight = ($("#accordion").children("ul li").length * 36);
                var navigationheight = $(".navigation").height();
                $('#accordion li').children('.b-children').height(navigationheight - accordionheight - 2);
                $(this).next().slideToggle();
                $(this).parent().toggleClass('open');
                if (!e.data.multiple) {
                    $(this).parent().parent().find('.submenu').not($(this).next()).slideUp().parent().removeClass('open');
                }
            };
            var accordion = new Accordion($('#accordion'), false);
            $("#accordion li:first").find('div').trigger("click");//默认第一个展开
            $('.btn-nav-toggle').click(function () {
                if (!$('.btn-nav-toggle').attr('disabled') && !$(this).hasClass("harvest")) {
                    $(this).addClass('harvest');
                    $(".navigation").animate({ width: 0 }, 150);
                    $('.accordion').hide();
                    $(this).find('b').show();
                    $(this).find('i').hide();
                } else {
                    $(this).removeClass('harvest');
                    $(".navigation").animate({ width: 204 }, 150);
                    $('.accordion').show();
                    $(this).find('b').hide();
                    $(this).find('i').show();
                    $(".navigation").css('position', 'absolute');
                }
            });
        }
        /*导航菜单begin====================*/
        //导航一级菜单
        var accordionJson = "";
        function GetAccordionMenu() {
            var html = "";
            getAjax('@Url.Action("LoadAccordionMenu")', "", function (data) {
                accordionJson = eval("(" + data + ")");
                $.each(accordionJson, function (i) {
                    if (accordionJson[i].ParentId == '0000') {
                        html += "<li title=" + accordionJson[i].FullName + ">";
                        html += "<div class=\"link\"><img src='" + RootPath() + "/Content/Images/Icon16/" + accordionJson[i].Icon + "'>";
                        html += "<span>" + accordionJson[i].FullName + "</span><i class=\"chevron-down\"></i>";
                        html += "</div>";
                        html += GetSubmenu(accordionJson[i].ModuleId, "b-children");
                        html += "</li>";
                    }
                });
            });
            $("#accordion").append(html);
        }
        //导航子菜单
        function GetSubmenu(ModuleId, _class) {
            var submenu = "<ul class=\"submenu " + _class + "\">";
            $.each(accordionJson, function (i) {
                if (accordionJson[i].ParentId == ModuleId) {
                    var menuLevel = accordionJson[i].MenuLevel;
                    var space = '';
                    if (menuLevel == 2) space = '　';
                    else if (menuLevel == 3) space = '　　';
                    else if (menuLevel == 4) space = '　 　';
                    if (IsBelowMenu(accordionJson[i].ModuleId) > 0) {
                        submenu += "<li title=" + accordionJson[i].FullName + "><a class=\"link\"><img src='" + RootPath() + "/Content/Images/Icon16/" + accordionJson[i].Icon + "'><span>" + space + accordionJson[i].FullName + "</span><i class=\"submenu-chevron-down\"></i></a>";
                        submenu += GetSubmenu(accordionJson[i].ModuleId, "c-children");
                        submenu += "</li>";
                    } else {
                        if (accordionJson[i].Location == "") {
                            accordionJson[i].Location = "@Url.Action("Development", "Home")";
                        }
                        submenu += "<li title=" + accordionJson[i].FullName + " onclick=\"AddTabMenu('" + accordionJson[i].ModuleId + "', '" + accordionJson[i].Location + "', '" + accordionJson[i].FullName + "',  '" + accordionJson[i].Icon + "','true');\"><img src='" + RootPath() + "/Content/Images/Icon16/" + accordionJson[i].Icon + "'><a><span>" + space + accordionJson[i].FullName + "</span></a></li>";
                    }
                }
            });
            submenu += "</ul>";
            return submenu;
        }
        //判断是否有子节点
        function IsBelowMenu(ModuleId) {
            var count = 0;
            $.each(accordionJson, function (i) {
                if (accordionJson[i].ParentId == ModuleId) {
                    count++;
                    return false;
                }
            });
            return count;
        }
        /*导航菜单end====================*/


    </script>

</head>
<body onselectstart="return false;" style="-moz-user-select: none; overflow: hidden;">
    <div id="ajax-loader" style="position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 100; overflow: hidden;">
        <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <!-- header -->
    <div class="header">
        <div class="logo fleft">
            <img src="~/Content/Images/loginlogo.png" />
        </div>
        <div id="Headermenu">
            <ul id="topnav">
                <li id="metnav_2" class="list">
                    <a id="nav_2" onclick="Contacts();">
                        <span class="c2"></span>
                        通讯录
                    </a>
                </li>

                <li id="metnav_1" class="list">
                    <a id="nav_1" onclick="Replace();">
                        <span class="c1"></span>
                        系统首页
                    </a>
                </li>
                @*<li id="metnav_7" class="list droppopup">
                    <a id="nav_7" class="">
                        <span class="c7"></span>快捷导航
                            <div class="popup" style="display: none; top: 74px; left: 928px;">
                                <i></i>
                                <ul>
                                    <li onclick="Shortcuts()">
                                        <img src="@Url.Content("~/Content/Images/Icon16/shortcuts.png")">快捷方式设置</li>
                                    <div id="Shortcuts"></div>
                                </ul>
                            </div>
                    </a>
                </li>*@
                <li id="metnav_3" class="list droppopup">
                    <a id="nav_3" class="">
                        <span class="c3"></span>帮助中心
                        <div class="popup" style="display: none; top: 74px; left: 1021px;">
                            <i></i>
                            <ul>
                                @*<li onclick="alert('测试关闭')">
                                        <img src="@Url.Content("~/Content/Images/Icon16/help.png")">查看帮助</li>*@
                                <li title="将反馈建议提交给开发商进行解决" onclick=" window.open('http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=2850172482@qq.com','_blank')">
                                    <img src="@Url.Content("~/Content/Images/Icon16/email_open.png")">反馈建议</li>
                                @*<li onclick="Support()">
                                        <img src="@Url.Content("~/Content/Images/Icon16/premium_support.png")">技术支持</li>*@
                                <li onclick="About()">
                                    <img src="@Url.Content("~/Content/Images/Icon16/information.png")">关于我们</li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li id="metnav_2" class="list" onclick="Operation()">
                    <a id="nav_2">
                        <span class="c8"></span>操作手册
                    </a>
                </li>
                @* <li id="metnav_2" class="list" onclick="SkinIndex()">
                    <a id="nav_2">
                        <span class="c2"></span>切换皮肤
                    </a>
                </li>*@
                <li id="metnav_5" class="list" onclick="PersonCenter()">
                    <a id="nav_5">
                        <span class="c5"></span>个人中心
                    </a>
                </li>
                <li id="metnav_4" class="list" onclick="IndexOut();">
                    <a id="nav_4">
                        <span class="c4"></span>
                        安全退出
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="taskbarTabs">
        <div style="float: left; border-right: 1px solid #ccc; margin-right: 0px; float: left; width: 204px;">
            <div id="navigationtitle" style="float: left; font-size: 14px; font-weight: 400; color: #4D4D4D; padding-left: 15px;">
                @ViewBag.UseName
            </div>
            @*            <div style="float: right;" class="btn-nav-toggle">
                <i></i>
                <b></b>
            </div>*@
        </div>
        <div style="float: left">
            <div id="dww-menu" class="mod-tab">
                <div class="mod-hd">
                    <ul id="tabs_container" class="tab-nav">
                    </ul>
                </div>
                <input id="ModuleId" type="hidden" />
            </div>
            <div class="rightMenu">
                <ul>
                    <li onclick="top.frames[tabiframeId()].Replace()">刷新当前</li>
                    <li onclick="ThisCloseTab()">关闭当前</li>
                    <li onclick="AllcloseTab()">全部关闭</li>
                    <li onclick="othercloseTab()">除此之外全部关闭</li>
                    <div class='m-split'></div>
                    <li>退出</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mainPannel">
        <div class="navigation">
            <ul id="accordion" class="accordion">
            </ul>
        </div>
        <div id="overlay_navigation"></div>
        <div id="ContentPannel"></div>
    </div>
    <div id="footer" class="cs-south" style="height: 25px;">
        <div class="number" style="width: 30%; text-align: left; float: left; line-height: 25px;">
            &nbsp;技术支持：江苏中越科技发展有限公司
        </div>
        <div class="number" style="width: 40%; text-align: center; float: left; line-height: 25px;">
            <a href="http://www.yookey.com" target="_blank" style="color: white; font-size: 14px;">CopyRight © 2017 By Yookey
            </a>
        </div>
        <div class="number" style="width: 28%; text-align: right; float: left; line-height: 25px;">
            <a href="@Url.Content("~/Version/APPIndex.html")" target="_blank" style="color: white; font-size: 14px;">Version 1.0.3
            </a>
        </div>
        <div style="width: 30%; text-align: right; float: right;">
            @*<div style="padding-right: 0px;">
                <div title="在线用户（）人" class="bottom_icon" style="padding-top: 2px;">
                    <img src="~/Content/Images/bottom_icon_usergroup.png" />
                </div>
                <div title="邮件消息" class="bottom_icon" style="padding-top: 2px;">
                    <img id="icon_email" src="~/Content/Images/youjian.png" style="padding-top: 5px;" />
                </div>
                <div class="bottom_icon" style="padding-top: 2px;">
                    <img id="icon_message" title="即时消息" src="~/Content/Images/bottom_icon_message.png" />
                </div>
                <div class="bottom_icon" style="padding-top: 1px;">
                    <img title="我的信息，账户：@ViewBag.Account" src="~/Content/Images/bottom_icon_userinfo.png" />
                </div>
            </div>*@
        </div>
        <div class="clear"></div>
    </div>
    <!--载进度条start-->
    <div id="loading_background" class="loading_background" style="display: none;"></div>
    <div id="loading" onclick="Loading(false);">
        <img src="@Url.Content("~/Content/Images/loading.gif")" style="vertical-align: middle;" />&nbsp;<span>正在拼了命为您加载…</span>&nbsp;
    </div>
    <div id="loadingGird">
        <img src="@Url.Content("~/Content/Images/loading.gif")" style="vertical-align: middle;" />&nbsp;正在拼了命为您加载…&nbsp;
    </div>
</body>
</html>
