@{
    Layout = null;
}
@model Yookey.WisdomClassed.SIP.Model.Hr.FlightClassesOfDeptmentEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑</title>

    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

</head>
<body>
    @using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { @id = "formmain" }))
    {
        <table class="form">
            <tr>
                <th class="formTitle">部门名称：</th>
                <td class="formValue">
                    @Model.DepteName
                </td>
            </tr>

            <tr>
                <th class="formTitle">班别</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.ClassesId, new { @style = "width: 100%;", @class = "txt" })
                </td>
            </tr>
            <tr>
                <th class="formTitle">开始时间：</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.TimePeriodState, new { @style = "width: 100%;", @class = "txt" })
                </td>
            </tr>
            <tr>
                <th class="formTitle">截止时间：</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.TimePeriodEnd, new { @style = "width: 100%;", @class = "txt" })
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序：</th>
                <td class="formValue">
                    @Html.TextBoxFor(t => t.OrderNo, new { @style = "width: 100%;", @class = "txt" })
                </td>
            </tr>

            @Html.HiddenFor(t => t.Id)
            @Html.HiddenFor(t => t.DeptId)
            @Html.HiddenFor(t => t.ClassesId)
            @Html.HiddenFor(t => t.CreatorId)
            @Html.HiddenFor(t => t.CreateBy)
            @Html.HiddenFor(t => t.CreateOn)
        </table>
    }
</body>
</html>


<script type="text/javascript">


    //提交表单
    function AcceptClick() {
        var re = /^([0-1][0-9]|2[0-3])\:[0-5][0-9]$/;
        var timePeriodState = $("#TimePeriodState").val();
        var timePeriodEnd = $("#TimePeriodEnd").val();

        if (timePeriodState != '' && timePeriodEnd != '') {
            if (!re.test(timePeriodState)) {
                tipDialog("开始时间格式错误！参考：00:00", 2, 0);
                return false;
            }

            if (!re.test(timePeriodEnd)) {
                tipDialog("截止时间格式错误！参考：00:00", 2, 0);
                return false;
            }
        }
        else if (!(timePeriodState == '' && timePeriodEnd == '')) {
            tipDialog("起始与结束必须同为空或同不为空！", 2, 0);
            return false;
        }

        Loading(true, "正在提交数据...");
        $.ajax({
            cache: true,
            type: "POST",
            url: '@Url.Action("SubmitDepartmentForm")',
            data: $('#formmain').serialize(),
            async: false,
            datatype: 'json',
            success: function (data) {
                if (data.rtState === 1) {
                    tipDialog("操作成功！", 2, 2);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                } else {
                    tipDialog("操作出现异常，请联系管理员！", 2, 0);
                }
            }
        });
    }

</script>
