<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

@model Yookey.WisdomClassed.SIP.Model.Crm.CrmUserEntity
<html>
<head>
    <title>编辑帐号</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Librarys/AjaxUpload.js")" type="text/javascript"></script>
  
  <script src="@Url.Content("~/Librarys/jquery.easyui.min.js")" type="text/javascript"></script>


    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
      <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link  href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")"></script>
    <!--树形组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    
    <!--布局组件end-->

    
    <script type="text/javascript">
        (function ($) {
            $.nemoLayout = {
                AjaxUpload: function (buttonId, imageId, hiddenId) {
                    /*
                    *buttonId---上传按钮的Id
                    *imageId----为图片Id
                    *hiddenId---隐藏控件，为传递到后台的图片路径
                    *fileType--附件类型
                    */
                    new AjaxUpload(buttonId, {
                        action: "@Url.Action("UploadImage","Upload")",
                        responseType: 'json',
                        onSubmit: function (file, ext) {
                            if (!(ext && /^(jpg|png|jpeg|gif|bmp)$/.test(ext))) {
                                //alert('错误：无效的文件扩展名！');
                                return false;
                            } else {
                                // alert('正在上传，请稍候……');
                            }
                        },
                        onComplete: function (file, response) {
                            if (response.result != 'error') {
                                hiddenId.val(response);
                                imageId.attr('src', "images" + response);

                                // $.nemoLayout.ShowNotity('sucess', '上传成功！');
                            } else {
                                // $.nemoLayout.ShowNotity('error', '上传失败！');
                            }
                        }
                    });
                }
            };
        })(jQuery);
        $(function () {
            $.nemoLayout.AjaxUpload($('#btnPortrait2'), $('#imgAvatar'), $('#Portrait'));
        });
    </script>
    @* ReSharper disable UnusedLocals *@
    <script type="text/javascript">
        $(function () {
          
            BindDepartment();
            BindRole();
            loadGroup();
        });
        


        //部门下拉框
        function BindDepartment() {
            $("#DeptName").focus(function() {
                var objId = this.id;
                comboBoxTree(objId, "150px");
                var itemtree = {
                    onnodeclick: function(item) {
                        $("#DeptId").val(item.id);
                        $('#DeptName').val(item.text);
                    },
                    url: "@Url.Action("TreeJson","Department")"
                };
                $("#comboBoxTree" + objId).treeview(itemtree);
            });
        }        function BindRole() {
            $("#RoleName").focus(function() {
                var objId = this.id;
                comboBoxTree(objId, "150px");
                var itemtree = {
                    onnodeclick: function(item) {
                        $("#RoleId").val(item.id);
                        $('#RoleName').val(item.text);
                    },
                    url: "@Url.Action("AjaxRoleComBoxTree","User")"
                };
                $("#comboBoxTree" + objId).treeview(itemtree);
            });
        }

        function loadRole() {
            $.ajax({
                cache: true,
                type: "POST",
                url: '/User/AjaxRoleComBoxTree',
                datatype: 'json',
                success: function (data) {
                    var json = eval(data);
                    $("#RoleId").combotree({
                        valueField: 'id',
                        textField: 'text'
                    }).combotree('loadData', json);
                }
            });
        }

        

        function loadGroup() {      
            $.ajax({
                cache: true,
                type: "POST",
                url: '/User/AjaxGroupComBoxTree',
                datatype: 'json',
                success: function (data) {
                    var json = eval(data);
                    $("#groups").combotree({
                        valueField: 'id',
                        textField: 'text'
                        
                    }).combotree('loadData', json);
                }
            });
        }

        function dosubmit() { //提交表单
            var getresource;
            var arrayObj = new Array();
            $("input[name='GetResource']").each(function () {
                var resource = "";
                if ($(this).val() == '') {
                    resource = "''";
                }
                else {
                    resource = $(this).val();
                }
                arrayObj.push($(this).attr("id") + '|' + resource);
            });

            $("#getresources").val(arrayObj);
            $.ajax({
                cache: true,
                type: "POST",
                url: '/User/Edit',
                data: $('#formmain').serialize(),
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 0) {
                        tipDialog("保存成功！", 5, 2);
                        closeDialog();
                    } else if (data == 'error') {
                        alert("该用户存在！");

                    }

                    else {
                        alert('保存出现异常,请联系管理员！');
                    }
                }
            });
        }

    </script>
    @* ReSharper restore UnusedLocals *@
</head>
<body class="bodycolor" topmargin="5">
    @using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { @id = "formmain" }))
    {
        <table class="form">
            <tbody>
                <tr>
                    <td class="TableHeader" colspan="5">
                        <b>&nbsp;基本信息</b>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">用户名：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.LoginName,new {  @class="txt required",@datacol="yes",@err="用户名", @checkexpession="NotNull"  })                       
                    </td>
                    <th class="formTitle">密码：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.PassWord, new {  @class="txt required",@datacol="yes",@err="密码", @checkexpession="NotNull"  })                       
                    </td>
                    <td class="formValue" width="120px"  rowspan="4">

                        <img alt="头像" id="imgAvatar" name="imgAvatar" src="@(ViewData["PortraitList"] == null
                                                                                 ? "暂无照片"
                                                                                 : "images/" + ViewData["PortraitList"])" height="120" width="120" />
                        <input id="Portrait" name="Portraits" type="hidden" />
                    </td>
                </tr>
                <tr>

                    <th class="formTitle">别名：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.OtherName,new {  @class="txt required",@datacol="yes",@err="别名", @checkexpession="NotNull"  })                       
                    </td>
                   <th class="formTitle">排序编号：</th>
                   <td class="formValue">
                        @Html.TextBoxFor(t => t.SortValue, new { @class = "txt" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">是否允许登录：</th>
                    <td class="formValue">
                        @if (Model.IsLogin.Equals(1))
                        {
                            <input type="radio" value="1" id="islogin" name="IsLogin" checked="checked" />
                            <label for="isesklogin">
                                是</label>
                            <input type="radio" id="unislogin" name="IsLogin" value="0" />
                            <label for="Action">否</label>  <label style="color: blue">(注:此权限由管理员开放)</label>
                        }
                        else
                        {
                            <input type="radio" value="1" id="islogin" name="IsLogin" />
                            <label for="isesklogin">
                                是</label>
                            <input type="radio" id="unislogin" name="IsLogin" value="0" checked="checked" />
                            <label for="Action">否</label>  <label style="color: blue">(注:此权限由管理员开放)</label>
                        }
                    </td>
                    <th class="formTitle">是否CA认证：</th>
                    <td class="formValue">
                        @if (Model.IsCALogin.Equals(1))
                        {
                            <input type="radio" value="1" id="iscalogin" name="IsCALogin" checked="checked" />
                            <label for="isesklogin">
                                是</label>
                            <input type="radio" id="uniscalogin" name="IsCALogin" value="0" />
                            <label for="Action">否</label>  
                        }
                        else
                        {
                            <input type="radio" value="1" id="iscalogin" name="IsCALogin" />
                            <label for="isesklogin">
                                是</label>
                            <input type="radio" id="uniscalogin" name="IsCALogin" value="0" checked="checked" />
                            <label for="Action">否</label>  
                        }
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">部门：</th>
                    <td class="formValue">
                        @*@if (ViewData["DeptName"] != null)
                        {
                            @Html.Label(ViewData["DeptName"].ToString())
                        }*@
                    
                           
                    <input type="text" id="DeptName" class="txt icontree" value="@ViewData["DeptName"].ToString()" />
                      
                       
                        
                    </td>
                   <th class="formTitle">角色：</th>
                   <td class="formValue">
                        
                       <input type="text" id="RoleName" class="txt icontree" value="@ViewData["RoleName"]" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">证件编号：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.UserNo, new { @class = "txt" })

                    </td>
                    <th class="formTitle">用户姓名：</th>
                    <td class="formValue" colspan="2">
                        @Html.TextBoxFor(t => t.UserName, new { @class = "txt" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">身份证号码：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.CardId, new { @class = "txt" })
                    </td>

                    <th class="formTitle">性别：</th>
                    <td class="formValue" colspan="2">
                        @if (Model.Sex.Equals(1))
                        {
                            <input type="radio" value="1" id="sex" name="Sex" checked="checked" />
                            <label
                                for="issex">
                                男</label>
                            <input type="radio" id="unsex" name="Sex" value="0" />
                            <label for="Action">女</label>
                        }
                        else
                        {
                            <input type="radio" value="1" id="sex" name="Sex" />
                            <label
                                for="issex">
                                男</label>
                            <input type="radio" id="unsex" name="Sex" value="0" checked="checked" />
                            <label for="Action">女</label>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">个人手机：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.PersonagePhone, new { @class = "txt" })
                    </td>
                    <th class="formTitle">家庭电话：</th>
                    <td class="formValue" colspan="2">
                        @Html.TextBoxFor(t => t.HomeTel, new { @class = "txt" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">单位手机：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.UnitPhone, new { @class = "txt" })
                    </td>
                    <th class="formTitle">单位电话：</th>
                    <td class="formValue" colspan="2">
                        @Html.TextBoxFor(t => t.UnitTel, new { @class = "txt" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">籍贯：</th>
                    <td class="formValue">
                        @Html.TextBoxFor(t => t.Hometown, new { @class = "txt" })
                    </td>
                    <th class="formTitle">民族：</th>
                    <td class="formValue" colspan="2">
                        @Html.DropDownListFor(t => t.Nation, (ViewData["NationList"] as IEnumerable<SelectListItem>), new  {@class="txtselect" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">婚姻状况：</th>
                    <td class="formValue">
                        @Html.DropDownListFor(t => t.Marriage, (ViewData["MarriageList"] as IEnumerable<SelectListItem>), new  {@class="txtselect" })
                    </td>
                    <th class="formTitle">政治面貌：</th>
                    <td class="formValue" colspan="2">
                        @Html.TextBoxFor(t => t.Political, new { @class = "txt" })
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">照片上传：</th>
                    <td class="formValue" >
                        <input type="button" id="btnPortrait2" value="上传图片" />

                    </td>
                    <th class="formTitle">分组:</th>
                    <td class="formValue"  colspan="2">
                        <input name="groups" type="text" class = "txt" id="groups" value="@ViewBag.groupId"/>
                    </td>
                </tr>
                
                <tr>
                    <th class="formTitle" >备注描述：
                    </th>
               
                    <td class="formValue" colspan="4">
                        @Html.TextAreaFor(t => t.Description, new { @rows = "3", @cols = "80", @class = "txt" })
                    </td>
                </tr>
              
                @Html.HiddenFor(t=>t.DeptId)
                @Html.HiddenFor(t => t.Id)
                @Html.HiddenFor(t => t.Portrait)
                @Html.HiddenFor(t => t.RoleId)
                @Html.HiddenFor(t => t.PassWord)
                @Html.HiddenFor(t => t.CreatorId)
                @Html.HiddenFor(t => t.CreateBy)
                @Html.HiddenFor(t => t.CreateOn)
                @Html.HiddenFor(t => t.Version)
            </tbody>
        </table>
    }
    <div style="text-align:center;padding-top:10px;"><input class="btnSearch"  type="button" onclick="dosubmit()" value="保存" /></div>
    
</body>
</html>
