@{
    Layout = "~/Views/Shared/_PenaltyAnalysisLayout.cshtml.cshtml";
}

<style type="text/css">
    .caseType {
        margin: 5px;
        margin-bottom: 0px;
    }
</style>
<script type="text/javascript">

    $(function () {
        $("#rightDiv").width($(window).width() - 205);
        $("#reportDiv").height($(window).height() - 190);

        BindCompany();
    });


    //绑定单位（大队）
    function BindCompany() {
        getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany" }, function (cmsg) {
            eval(cmsg);
            BindDepartment();
        });
    }

    //绑定部门（中队）
    function BindDepartment() {
        getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment" }, function (dmsg) {
            eval(dmsg);
        });
    }

</script>

<div id="rightDiv" style="float: left;">
    <table style="width: 100%">
        <tr>
            <td>
                <div class="box">
                    <div class="box-title">
                        <div style="width: 200px; float: left">
                            按部门分析
                        </div>
                    </div>
                    <div class="box-content">
                        <table border="0" class="form-find" style="height: 45px;">
                            <tr>
                                <th style="width: 50px">执法部门：</th>
                                <td style="width: 255px;">
                                    <select id="drpCompany" class="select" style="width: 120px;" onchange="javascript:BindDepartment();"></select>
                                    <select id="drpDepartment" class="select" style="width: 120px;"></select>
                                </td>
                                <th>统计方式：
                                </th>
                                <td colspan="2">
                                    @*<select class="select" id="DrpSelectType" style="width: 120px;">
                                        <option value="Total">按总量</option>
                                        <option value="Classify">按类型</option>
                                        <option value="Legislation">按八大类</option>
                                    </select>*@
                                    
                                    <input type="radio" name="AnalysisType" class="caseType" value="Total" id="rdoTotal" checked="checked" /><label for="rdoTotal">按总量</label>
                                    <input type="radio" name="AnalysisType" class="caseType" value="Classify" id="rdoClassify" /><label for="rdoClassify">按案件分类</label>
                                    <input type="radio" name="AnalysisType" class="caseType" value="Legislation" id="rdoLegislation" /><label for="rdoLegislation">按八大类</label>
                              

                                </td>
                                 <td style="text-align: right;">
                                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="Search();" />
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50px">所属年月：</th>
                                <td style="width: 180px;">
                                    @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px", @onchange = "javascript:changeDate();" })&nbsp;年&nbsp;
                                    @Html.DropDownList("DrpMonth", (ViewData["Months"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 50px", @onchange = "javascript:changeDate();" })&nbsp;月
                                </td>
                                <th>时间范围：
                                </th>
                                <td colspan="3">
                                    @Html.TextBox("StartTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:120px" })
                                    &nbsp;至&nbsp;
                                    @Html.TextBox("EndTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:120px" })
                                </td>
                               
                            </tr>

                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box">
                    <div class="box-title">
                        <div style="">
                            <div style="width: 200px; float: left">
                                <img src="@Url.Content("~/Content/Images/Icon32/chart_bar.png")" alt="" width="20" height="20" />
                                数据统计
                            </div>
                        </div>
                    </div>
                    <div class="box-content" id="reportDiv">
                        <div id="container" style="height: 100%; width: 100%; float: left;"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    $(function () {
        changeDate();
    });
    
    /*
    * 计算会计月日期区间
    */
    function changeDate() {
        var year = $("#DrpYear").val();
        var month = $("#DrpMonth").val();
        getAjax('@Url.Action("AjaxLoadDateRange")', {
            "year": year,
            "month": month,
            "firstControlId": "StartTime",
            "secondControlId": "EndTime"
        }, function (data) {
            eval(data);
        });
    }

    $(document).ready(function () {
        Search();
    });

    function Search() {
        var companyId = $("#drpCompany").val();
        var deptId = $("#drpDepartment").val();
        var stime = $('#StartTime').val();
        var etime = $('#EndTime').val();
        //var type = $("#DrpSelectType").val();
        
        var type = $('input[name="AnalysisType"]:checked').val();
        if (type == 'Total') {
            LoadChartByTotal(companyId, deptId, stime, etime);
        } else if (type == 'Classify') {
            LoadChartByClassify(companyId, deptId, stime, etime);
        } else if (type == 'Legislation') {
            LoadChartByLegislation(companyId, deptId, stime, etime);
        }
    }


    /*
    * 按总量-柱状图
    * sTime：开始时间 
    * eTime：截止时间
    */

    function LoadChartByTotal(companyId, deptId, sTime, eTime) {
        var jo;
        getAjax('@Url.Action("ReportCharByReportByDept", "PenaltyAnalysis")', {
            chartType: "bar",
            type: "time",
            companyId: companyId,
            deptId: deptId,
            sTime: sTime,
            eTime: eTime
        },function (data) {
            jo = eval('(' + data + ')');
        });
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '按总量'
            },
            xAxis: {
                categories: jo.cate,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '案件量 (单位：件)'
                }
            },
            tooltip: {
                pointFormat: '{point.y:.0f} 件</b>'
            },
            series: [{
                name: '案件量',
                data: jo.data,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}件'
                }
            }]
        });
    }


    /*
    * 按类型-柱状图
    * sTime：开始时间 
    * eTime：截止时间
    */
    function LoadChartByClassify(companyId, deptId, sTime, eTime) {
        var jo;
        getAjax('@Url.Action("ReportCharByReportByDept", "PenaltyAnalysis")',
            {
                chartType: "bar",
                type: "time",
                companyId: companyId,
                deptId: deptId,
                sTime: sTime,
                eTime: eTime,
                reportType: "Classify"
            },
            function (data) {
                jo = eval('(' + data + ')');
            });
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '按类型'
            },
            xAxis: {
                categories: jo.cate,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '案件量 (单位：件)'
                }
            },
            tooltip: {
                pointFormat: '{point.y:.1f} 件</b>',
            },
            series: jo.data
        });
    }


    /*
    * 按类型-柱状图
    * sTime：开始时间 
    * eTime：截止时间
    */

    function LoadChartByLegislation(companyId, deptId, sTime, eTime) {
        var jo;
        getAjax('@Url.Action("ReportCharByReportByDept", "PenaltyAnalysis")',
            {
                chartType: "bar",
                type: "time",
                companyId: companyId,
                deptId: deptId,
                sTime: sTime,
                eTime: eTime,
                reportType: "Legislation"
            },
            function (data) {
                jo = eval('(' + data + ')');
            });
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '按八大类'
            },
            xAxis: {
                categories: jo.cate,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '案件量 (单位：件)'
                }
            },
            tooltip: {
                pointFormat: '{point.y:.1f} 件</b>',
            },
            series: jo.data
        });
    }

</script>
