@{
    Layout = "~/Views/Shared/_PenaltyAnalysisLayout.cshtml.cshtml";
}


<script type="text/javascript">

    $(function () {
        $("#rightDiv").width($(window).width() - 205);
        $("#reportDiv").height($(window).height() - 160);
    });
</script>

<div id="rightDiv" style="float: left;">
    <table style="width: 100%">
        <tr>
            <td>
                <div class="box">
                    <div class="box-title">
                        <div style="width: 200px; float: left">
                            按处理情况
                        </div>
                    </div>
                    <div class="box-content">
                        <table border="0" class="form-find" style="height: 45px;">
                            <tr>
                                <tr>
                                <th style="width: 50px">所属年月：</th>
                                <td style="width: 180px;">
                                    @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px", @onchange = "javascript:changeDate();" })&nbsp;年&nbsp;
                                    @Html.DropDownList("DrpMonth", (ViewData["Months"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 50px", @onchange = "javascript:changeDate();" })&nbsp;月
                                </td>
                                <th>时间范围：
                                </th>
                                <td colspan="2">
                                    @Html.TextBox("StartTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:120px" })
                                    &nbsp;至&nbsp;
                                    @Html.TextBox("EndTime", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:120px" })
                                </td>
                                <th>案件类别：
                                </th>
                                <td>
                                    <select id="DrpCaseType" class="select">
                                        @*<option value="Education">现场纠处</option>*@
                                        <option value="Simple">简易案件</option>
                                        <option value="PunishCase">一般案件</option>
                                        <option value="Improtant">重大案件</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="Search();" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box">
                    <div class="box-title">
                        <div style="">
                            <div style="width: 200px; float: left">
                                <img src="@Url.Content("~/Content/Images/Icon32/chart_bar.png")" alt="" width="20" height="20" />
                                数据统计
                            </div>
                        </div>
                    </div>
                    <div class="box-content" id="reportDiv">
                        <div id="container" style="height: 100%; width: 60%; float: left;"></div>
                        <div id="containerA" style="height: 100%; width: 40%; float: left;"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">

    $(function () {
        changeDate();
    });
    
    /*
     * 计算会计月日期区间
     */
    function changeDate() {
        var year = $("#DrpYear").val();
        var month = $("#DrpMonth").val();
        getAjax('@Url.Action("AjaxLoadDateRange")', {
            "year": year,
            "month": month,
            "firstControlId": "StartTime",
            "secondControlId": "EndTime"
        }, function (data) {
            eval(data);
        });
    }

    $(document).ready(function () {
        Search();
    });

    function Search() {
        var stime = $('#StartTime').val();
        var etime = $('#EndTime').val();
        var type = $("#DrpCaseType").val();

        LoadBarChart(stime, etime, type);
        LoadPieChart(stime, etime, type);
    }

    /*
    * 按处理情况-柱状图
    * sTime：开始时间 
    * eTime：截止时间
    */
    function LoadBarChart(sTime, eTime, caseType) {

        var jo;
        getAjax('@Url.Action("ReportCharByHandle", "PenaltyAnalysis")', { chartType: "bar", type: "time", caseType: caseType, sTime: sTime, eTime: eTime }, function (data) {
            jo = eval('(' + data + ')');
        });

        $('#container').highcharts({
            chart: {
                type: 'column',
                margin: [50, 50, 100, 80]
            },
            title: {
                text: '处理情况'
            },
            xAxis: {
                categories: jo.cate,
                labels: {
                    rotation: 0,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '案件量 (件)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{point.y:.1f} 件</b>',
            },
            series: [{
                name: 'Population',
                data: jo.data,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}件'
                }
            }]
        });
    }

    /*
    * 按阶段-饼图
    * sTime：开始时间 
    * eTime：截止时间
    */
    function LoadPieChart(sTime, eTime, caseType) {
        var jo;
        getAjax('@Url.Action("ReportCharByHandle", "PenaltyAnalysis")', { chartType: "pie", type: "time", caseType: caseType, sTime: sTime, eTime: eTime }, function (data) {
            jo = eval(data);
        });
        $('#containerA').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '处理情况'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '处理情况',
                data: jo
            }]
        });
    }

</script>
