@{
    ViewBag.Title = "Edit";
}
@using Yookey.WisdomClassed.SIP.Model.Evidence
@using Yookey.WisdomClassed.SIP.Model.Com
@model ProofAttachEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 28px;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>


    <script type="text/javascript">
        //保存
        function SubmitTitle() {

            var oneLevel = "";
            var oneLevelName = "";
            $("input[name='onerediobox']:checked").each(function () {
                oneLevel += $(this).val();
                oneLevelName += $("#lab_" + $(this).val()).text();
            });

            var twoLevel = "";
            var twoLevelName = "";
            $("input[name='tworediobox']:checked").each(function () {
                twoLevel += $(this).val();
                twoLevelName += $("#lab_" + $(this).val()).text();
            });

            $("#FIRSTCATEGORYID").val(oneLevel);
            $("#FIRSTCATEGORYNAME").val(oneLevelName);
            $("#SECONDCATEGORYID").val(twoLevel);
            $("#SECONDCATEGORYNAME").val(twoLevelName);

            getAjax('@Url.Action("UpdateData", "Evidence")', $('#formmain').serialize(), function (data) {
                if (JSON.parse(data).rtState == 1) {
                    alertDialog("更新成功！", 1);
                    cancle();
                }
                else {
                    alertDialog("更新失败！", -1);
                }
            });
        }

        //关闭
        function cancle() {
            var api = frameElement.api;
            api.close();
        }
    </script>

</head>
<body>
    <div>
        <form id="formmain">
            <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
            <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
                <div id="basic" class="tabPanel">
                    <table class="casedt" style="line-height: 40px;">
                        <tr>
                            <th class="formTitle">执法人：</th>
                            <td class="formValue">
                                @Html.DropDownListFor(x => x.USERID, (ViewData["Users"] as IEnumerable<SelectListItem>), new { @class = "txtselect", @style = "height: 20px; width: 130px" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">记录开始时间：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.CTIME, new { @class = "txt Wdate ", Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})", @style = "width:47%;height: 30px;" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">地址：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.ADDRESS, new { @style = "width:100%", @class = "txt" })
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">一级类别：</th>
                            <td class="formValue">
                                @{
                                    var evidences = ViewData["oneLevel"] as IList<ComResourceEntity>;
                                    if (evidences != null && evidences.Any())
                                    {
                                        foreach (var comResourceEntity in evidences)
                                        {
                                    <span class="item">
                                        @if (comResourceEntity.Id == Model.FIRSTCATEGORYID)
                                        {
                                            <input type="radio" checked="checked" name="onerediobox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" />
                                        }
                                        else
                                        {
                                            <input type="radio" name="onerediobox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" />
                                        }
                                        <label id="lab_@comResourceEntity.Id" for="@comResourceEntity.Id">@comResourceEntity.RsKey</label>
                                    </span>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">二级类别：</th>
                            <td class="formValue">
                                @{
                                    var evidencesTwo = ViewData["twoLevel"] as IList<ComResourceEntity>;
                                    if (evidencesTwo != null && evidencesTwo.Any())
                                    {
                                        foreach (var comResourceEntity in evidencesTwo)
                                        {
                                    <span class="item">
                                        @if (comResourceEntity.Id == Model.SECONDCATEGORYID)
                                        {
                                            <input type="radio" checked="checked" name="tworediobox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" />
                                        }
                                        else
                                        {
                                            <input type="radio" name="tworediobox" id="@comResourceEntity.Id" value="@comResourceEntity.Id" />
                                        }
                                        <label id="lab_@comResourceEntity.Id" for="@comResourceEntity.Id">@comResourceEntity.RsKey</label>
                                    </span>
                                        }
                                    }
                                }
                            </td>
                        </tr>

                        <tr>
                            <th class="formTitle">标题备注：</th>
                            <td class="formValue">
                                @Html.TextBoxFor(x => x.REMARK, new { @style = "width:100%", @class = "txt" })
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            @Html.HiddenFor(x => x.SYS_ID)
            @Html.HiddenFor(x => x.FIRSTCATEGORYID)
            @Html.HiddenFor(x => x.FIRSTCATEGORYNAME)
            @Html.HiddenFor(x => x.SECONDCATEGORYID)
            @Html.HiddenFor(x => x.SECONDCATEGORYNAME)
        </form>
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <input type="button" value="保 存" class="btnSearch" onclick="SubmitTitle()" id="btnSave">
                        <input type="button" value="关 闭" class="btnSearch" onclick="cancle();">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
