@{
    ViewBag.Title = "ShowPic";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>图片播放</title>
    <script src="@Url.Content("~/Librarys/Scripts/jquery.1.7.1min.js")"></script>
    <script src="@Url.Content("~/Librarys/Scripts/jquery-1.1.18ui.min.js")"></script>
    <script src="@Url.Content("~/Librarys/Scripts/jquery.timers-1.2.js")"></script>
    <script src="@Url.Content("~/Librarys/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Librarys/Scripts/jquery.galleryview-3.0-dev.js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Librarys/GalleryView/jquery.galleryview-3.0-dev.css")" />
    <script type="text/javascript">

        function showPic() {
            $('#myGallery').galleryView({
                transition_speed: 1000, 		//INT- 面板/帧过渡的持续时间（以毫秒为单位）
                transition_interval: 1000, 		//INT - 面板/帧转换之间的延迟时间（以毫秒为单位）
                easing: 'swing', 				//STRING - 宽松的方法来使用的动画（jQuery的规定“摆动”或“线性”，更可以使用jQuery UI或减轻插件）
                show_panels: true, 				//BOOLEAN - 标志，以显示或隐藏面板部分画廊
                show_panel_nav: true, 			//BOOLEAN - 标志，以显示或隐藏面板导航按钮
                enable_overlays: true, 			//BOOLEAN - 标志，以显示或隐藏面板覆盖

                panel_width: 690, 				//INT- 画廊面板的宽度（以像素为单位）
                panel_height: 350, 				//INT - 画廊面板的高度（以像素为单位）
                panel_animation: 'slide',       //STRING - 动画面板的方法转换　（淡入淡出，淡入淡出，幻灯片，无）　(crossfade,fade,slide,none)
                panel_scale: 'fit', 			//STRING- (图片显示方式)- cropping option for panel images (crop = scale image and fit to aspect ratio determined by panel_width and panel_height, fit = scale image and preserve original aspect ratio)
                overlay_position: 'bottom', 	//STRING - 说明　面板覆盖的位置 (bottom, top)
                pan_images: true, 			//BOOLEAN - 标志允许用户抢/拖动的超大图像画廊
                pan_style: 'drag', 			//根据鼠标的位置STRING - 淘选法（拖动=用户点击和拖动图像进行平移，跟踪=图像自动盘　(drag = user clicks and drags image to pan, track = image automatically pans based on mouse position
                pan_smoothness: 15, 			//INT- 决定平滑的跟踪泛动画（higher number = smoother）
                start_frame: 1, 				//INT - 指数显示面板/帧时，首先画廊负载
                show_filmstrip: true, 			//BOOLEAN - 标志，以显示或隐藏幻灯片部分画廊
                show_filmstrip_nav: true, 		//BOOLEAN - flag indicating whether to display navigation buttons
                enable_slideshow: false,        //BOOLEAN - 标志，指示是否显示幻灯片的播放/暂停按钮
                autoplay: false, 			//BOOLEAN - 启动幻灯片画廊负载的标志，
                show_captions: true, 			//BOOLEAN - 标志，以显示或隐藏帧字幕
                filmstrip_size: 3, 				//INT- 张数显示在胶片只画廊
                filmstrip_style: 'scroll', 		//STRING - 使用类型的电影胶片 (scroll = display one line of frames, scroll filmstrip if necessary, showall = display multiple rows of frames if necessary)
                filmstrip_position: 'bottom', 	//STRING - 幻灯片内画廊的位置 (bottom, top, left, right)
                frame_width: 100, 				//INT -胶片帧的宽度 (in pixels)
                frame_height: 50, 				//INT - 胶片帧的高度 (in pixels)
                frame_opacity: 0.5, 			//FLOAT - 的非活性帧的透明度 (1.0 = opaque, 0.0 = transparent)
                frame_scale: 'crop', 			//STRING - 胶片图像的裁剪选项 (same as above)
                frame_gap: 5, 					//INT - 帧电影胶片之间的间距 (in pixels)
                show_infobar: true, 			//BOOLEAN - 标记以显示或隐藏信息栏
                infobar_opacity: 1				//FLOAT - 信息栏的透明度
            });
        }

        $(function () {
            var sid = '@ViewBag.sid';
            $.ajax({
                type: "POST",
                url: "/Evidence/VideoInfo",
                data: { sid: sid, type: 3 },
                async: true,
                success: function (data) {
                    var json = eval('(' + data + ')');
                    $.each(json, function (i) {
                        var imghtml = "<li><img data-frame=\"" + json[i].playurl + "\" src=\"" + json[i].playurl + "\" title=\"" + json[i].filename + "\" data-description=\"" + json[i].fbreak + "\" />";
                        $("#myGallery").append(imghtml);
                    });
                    showPic();
                    $("#audio").attr("src", json[0].playurl);
                    $("#filename").text(json[0].filename);
                    $("#filelength").text(json[0].filelength);
                    $("#uname").text(json[0].uname);
                    $("#update").text(json[0].update);
                    $("#classno").text(json[0].classno);
                    $("#deptname").text(json[0].deptname);
                    $("#fbreak").text(json[0].fbreak);
                    $("#Collectionaddr").text(json[0].address);
                }
            });
        });

</script>
    <style type="text/css">
        body {
            margin: 0PX;
            font-family: Arial, Helvetica, sans-serif;
        }

        * li {
            list-style: none;
        }

        .panel {
            clear: both;
            width: 700px;
            background-color: #fff;
            z-index: 20;
            font-family: helvetica,arial,verdana,tahoma,sans-serif;
            padding-top: 20px;
        }

        * table {
            color: #565656;
            font-size: 12px;
            width: 700px;
        }

        td {
            padding-bottom: 10px;
        }

        .attribute {
            width: 80px;
            text-align: right;
            padding-right: 10px;
        }

        .attributevalue {
            width: 200px;
            text-align: left;
        }

        .addr {
            width: 80px;
            text-align: right;
            padding-right: 10px;
        }
    </style>
</head>
<body>
    <ul id="myGallery">
    </ul>
    <div class="panel">
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td class="attribute">媒体名称：
                </td>
                <td class="attributevalue">
                    <label id="filename">
                    </label>
                </td>
                <td class="attribute">文件长度：
                </td>
                <td class="attributevalue">
                    <label id="filelength">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="attribute">用&nbsp;户&nbsp;名：
                </td>
                <td class="attributevalue">
                    <label id="uname">
                    </label>
                </td>
                <td class="attribute">上传时间：
                </td>
                <td class="attributevalue">
                    <label id="update">
                    </label>
                </td>
            </tr>
            <tr>

                <td class="attribute">所属单位：
                </td>
                <td class="attributevalue">
                    <label id="deptname">
                    </label>
                </td>

                <td class="addr">采集地点：
                </td>
                <td>
                    <label id="Collectionaddr">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="attribute">备注描述：
                </td>
                <td>
                    <label id="fbreak"></label>
                </td>

            </tr>
        </table>
    </div>
</body>
</html>
