@using Yookey.WisdomClassed.SIP.Model.DoubleRandom
@{
    ViewBag.Title = "DoubleRandomObjAdd";
    @model DoubleRandomObjEntity
}
<!DOCTYPE html>
<html>
<head>
    <title>对象信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link href="~/Librarys/css/chosen.min.css" rel="stylesheet" />
    <link href="~/Librarys/css/sipac.css" rel="stylesheet" />
    <link href="~/Content/Styles/common.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Librarys/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Librarys/js/chosen.jquery.min.js"></script>

    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <!--[if lt IE 8]>
    <![endif]-->

    <style>
        .btn-search {
            padding:0 15px;
            height:24px;
            line-height:20px;
            border-radius:6px;
            border:1px solid #A8A8A8;
            background:url("../images/btn_bg.gif")

        }
    </style>

    <script>


        //保存企业信息
        function Save() {
            var objName = $("#ObjName").val();
            var teamId = $("#TeamId").val();
            var typeId = $("#TypeId").val();
            if (objName == null || objName == "") {
                alert("请填写对象名称！");
                return;
            }
            if (teamId == null || teamId == "") {
                alert("请填写所属大队！");
                return;
            }
            if (typeId == null || typeId == "") {
                alert("请填写对象类型！");
                return;
            }
            $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("SaveDoubleRandomObj", "DoubleRandom")",
                data: $('#formmain').serialize(),
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 1) {
                        alert("保存成功！");
                        closeDialog();
                    }
                }
            });
        }


        //取消
        function myfunction() {
            closeDialog();
        }
    </script>

</head>
<body>
    <!-- Wrap all page content here -->
    <div class="sipac_wrap" style="width:500px;min-width:auto;">
        <div class="sipac_body">
            <div class="sipac_container mf0">
                @*<div class="sipac_crumbs">
                    <a class="s_c_back" href="javascript:Back()" title="返回">&lt;</a>
                    <div class="s_c_cont">
                        <a href="javascript:Back()">返回</a>
                    </div>
                </div>
                <div class="s_cont_tit mf20">
                    <h2>企业基本详情</h2>
                </div>*@
                <div class="sipac_selectbox">
                    <div class="s_sb_cont sipac_editbox sipac_form">
                        <form id="formmain" name="formmain" style="width:500px">
                            <table>
                                <tr>
                                    <th>对象名称：</th>
                                    <td>
                                        @Html.TextBoxFor(x => x.ObjName, new { @class = "s_input", @style = "", @datacol = "yes", @err = "对象名称", @checkexpession = "NotNull" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>所属大队：</th>
                                    <td>
                                        @Html.DropDownListFor(x => x.TeamId, (ViewData["TeamList"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width:252px;height:30px" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>对象类型：</th>
                                    <td>
                                        @Html.DropDownListFor(x => x.TypeId, (ViewData["TypeList"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width:252px;height:30px" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>开发商：</th>
                                    <td>
                                        @Html.TextBoxFor(x => x.Developer, new { @class = "s_input", @style = "", @datacol = "yes", @err = "开发商" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>物业公司：</th>
                                    <td>
                                        @Html.TextBoxFor(x => x.Property, new { @class = "s_input", @style = "", @datacol = "yes", @err = "物业公司" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>物业负责人：</th>
                                    <td>
                                        @Html.TextBoxFor(x => x.PropertyFZR, new { @class = "s_input", @style = "", @datacol = "yes", @err = "物业负责人" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>联系电话：</th>
                                    <td>
                                        @Html.TextBoxFor(x => x.PhoneNo, new { @class = "s_input", @style = "", @datacol = "yes", @err = "联系电话" })
                                    </td>
                                </tr>

                                <tr>
                                    <th></th>
                                    <td class="s_sb_bar">
                                       @* <button class="sipac_btn s_b_submit" onclick="Save()">确认</button>
                                        <button class="sipac_btn s_b_cancel" onclick="myfunction()">取消</button></td>*@
                                         <button class="btnSearch" onclick="Save()">确认</button>
                                        <button class="btnSearch" onclick="myfunction()">取消</button></td>
                                </tr>
                                @Html.HiddenFor(x => x.Id)
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





