@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Model.DoubleRandom
@{
    List<DoubleRandomEnterpriseEntity> _enterpriseList = ViewData["EnterpriseList"] as List<DoubleRandomEnterpriseEntity>;
    List<DoubleRandomRoadEntity> _roadList = ViewData["RoadList"] as List<DoubleRandomRoadEntity>;
    List<DoubleRandomConstructionSiteEntity> _siteList = ViewData["SiteList"] as List<DoubleRandomConstructionSiteEntity>;
    
    @model PetaPoco.Page<DoubleRandomEnterpriseEntity>
}
<script type="text/javascript" src="@Url.Content("~/Librarys/js/jquery-1.9.1.min.js")"></script>
<!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

<div class="sipac_tableBox">
    <div class="sipac_tableBar">
        <div class="sipac_table_menu">
            <a href="javascript:void(0);">新建</a><em></em>
            <a href="javascript:void(0);">修改</a><em></em>
            <a href="javascript:void(0);">批量删除</a><em></em>
            <a href="javascript:void(0);">通过</a><em></em>
            <a href="javascript:void(0);">禁用</a><em></em>
            <a href="javascript:void(0);">启用</a><em></em>
            <a href="javascript:void(0);">刷新</a>
        </div>
    </div>
    <table id="gridTable"></table>
    <div id="gridPager"></div>


</div>
