@using Yookey.WisdomClassed.SIP.Model.Com;
@{
    List<ComResourceEntity> typeList = ViewBag.TypeList;
    List<int> typeCountList = ViewData["TypeCountList"] as List<int>;
}
<!DOCTYPE html>
<html>
<head>
    <title>双随机管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <!--框架必需start-->

    <link href="@Url.Content("~/Librarys/css/sipac.css")" rel="stylesheet">


    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <style type="text/css">
        /*.ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }*/
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 28px;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .btn-search {
            padding: 0 15px;
            height: 24px;
            line-height: 20px;
            border-radius: 6px;
            border: 1px solid #A8A8A8;
            background: url("../../Content/images/btn_bg.gif");
        }

        #searchBtn input.active {
            background: #157DBf;
            color: white;
        }

        .none {
            display: none;
        }
                    .btnSearch {
    display: inline-block;
    border: none;
    /* float: left; */
    font: 16px/30px "微软雅黑","Microsoft YaHei";
    color: #FFF;
    background: #CBCBCB;
    padding: 0 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #0b659e;
        }
                .btnSearch:hover {

    background: #0576bf;
        }
        .tabNav td input {
            margin:0 10px;
            cursor:pointer;
                padding: 5px 15px;

    border-radius: 6px;
    border: 1px solid #ccc;

    background: white;
    font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
        }
    </style>
</head>
<body class="sipac_full">
    <!-- Wrap all page content here -->
    <div class="sipac_wrap">

        <div class="sipac_head">
            <div class="s_h_nav">
                <ul>
                    <li>
                        <a href="DoubleRandomIndex">双随机抽取</a>
                    </li>
                    <li>
                        <a class="active" href="ObjectManager">对象管理</a>
                    </li>
                    <li>
                        <a href="DoubleRandomResult">抽查结果</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sipac_body">
            <div class="sipac_menu">
            </div>
            <div class="sipac_container">
                <div class="sipac_menu">
                </div>
                <div class="sipac_selectbox" style="margin-top: -10px;">
                    <div class="s_sb_nav" style="height:auto;">
                        <input type="hidden" id="hidList" />
                        <table border="0" class="form-find" style="height: 45px;">
                            <tr style="margin-top: 250px">
                                <th style="width: 80px">所属部门：</th>
                                <td>
                                    @Html.DropDownList("teamDropList", (ViewData["TeamList"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width:200px;height:25px", @onchange = "ReLoad('')" })
                                </td>
                                <th style="width: 80px">关键字</th>
                                <td>
                                    @Html.TextBox("ObjName", "", new { @class = "select", @style = "width: 200px;height:25px", @onblur = "ReLoad()" })
                                </td>
                                <td>
                                     <input type="button" class="btnSearch" onclick="ReLoad('')" value="搜索" />
                                    <input type="button" class="btnSearch" onclick="btn_Add('')" value="新增" />
                                    <input id="btnDelete" type="button" class="btnSearch" value="批量删除" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table class="tabNav" style="margin-bottom:15px;">
                            <tr id="searchBtn">
                                <td>
                                    @if (typeList != null & typeList.Count > 0)
                                    {
                                        var typeCount = typeCountList;
                                        var indexStr = 0;

                                        foreach (var item in typeList)
                                        {
                                        <input type="button" id="@item.Id" onclick="Search(this)" value="@(item.RsKey + '(' + typeCount[indexStr] + ')')"/>
                                            indexStr++;
                                        }
                                    }
                                    <input type="button" id="qy" onclick="Search(this)" value="企业(@ViewBag.QYCount)" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input id="TableNo" type="hidden" value="1" />
                    <div class="s_sb_cont" style="margin-top: 0px">
                        <div class="s_cont_box">
                            <div id="tb0" class="show">
                                <table id="gridTable1"></table>
                                <div id="gridPager1" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb1" class="show none">
                                <table id="gridTable2"></table>
                                <div id="gridPager2" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb2" class="show none">
                                <table id="gridTable3"></table>
                                <div id="gridPager3" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb3" class="show none">
                                <table id="gridTable4"></table>
                                <div id="gridPager4" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb4" class="show none">
                                <table id="gridTable5"></table>
                                <div id="gridPager5" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb5" class="show none">
                                <table id="gridTable6"></table>
                                <div id="gridPager6" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb6" class="show none">
                                <table id="gridTable7"></table>
                                <div id="gridPager7" style="margin-top: -5px"></div>
                            </div>
                            <div id="tb7" class="show none">
                                <table id="gridTable8"></table>
                                <div id="gridPager8" style="margin-top: -5px"></div>
                            </div>
                        </div>
                        @* <div class="s_cont_box">
                        @Html.Action("EnterpriseIndex", "PenaltyCaseSafty", new { Area = "" })
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    $(function () {
        GetGrids();
        $('#searchBtn input:first').addClass('active');
    });
    $('#searchBtn input').click(function () {
        $(this).addClass('active').siblings().removeClass('active')
    })
    function ReLoad() {
        //
        var teamDropId = $("#teamDropList").val();
        var typeDropId = $("#typeDropList").val();
        if (typeDropId == undefined || ss == "") {
            typeDropId = "";
        }
        var objNames = $("#ObjName").val();
        var url = '@Url.Action("ObjectManager", "DoubleRandom")?teamId=' + teamDropId + '&typeId=' + typeDropId + '&objName=' + objNames;
        location.href = url;

    }

    //加载表格
    function GetGrids() {
        //
        var teamDropId = $("#teamDropList").val();
        var typeDropId = $("#typeDropList").val();
        if (typeDropId == undefined || typeDropId == "") {
            typeDropId = "";
        }
        var objNames = $("#ObjName").val();
        $("#gridTable1").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940001",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", width: 250, hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        return "商业街、农贸市场";
                    }
                },
                { label: "物业负责人", name: "PropertyFZR", index: "PropertyFZR", width: 100, align: 'left' },
                { label: "物业负责人电话", name: "PhoneNo", index: "PhoneNo", width: 200, align: 'left' }
                //{
                //    label: "操作", name: "Id", index: "Id", width: 200, align: 'center', formatter: function (value, grid, rows, state) {
                //        var btns = "&nbsp;<input type='button' class='btnSearch' onclick='btn_Add(\"" + value + "\")' value='详情'/>";
                //        btns += "&nbsp;<input type='button' class='btnSearch' onclick='btn_Delete(\"" + value + "\")' value='删除'/>";
                //        return btns;
                //    }
                //},
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager1",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(1);
            }
        });
        $("#gridTable2").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940002",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {

                        return "主干道";
                    }
                },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager2",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(2);
            }
        });
        $("#gridTable3").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940003",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {

                        return "次干道";
                    }
                },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager3",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(3);
            }
        });
        $("#gridTable4").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940004",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {

                        return "支路、背街小巷";
                    }
                },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager4",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(4);
            }
        });
        $("#gridTable5").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940005",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        return "学校";
                    }
                },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager5",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(5);
            }
        });
        $("#gridTable6").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940006",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        return "住宅小区";
                    }
                },
                { label: "物业负责人", name: "PropertyFZR", index: "PropertyFZR", width: 100, align: 'left' },
                { label: "物业负责人电话", name: "PhoneNo", index: "PhoneNo", width: 200, align: 'left' },
                //{
                //    label: "操作", name: "Id", index: "Id", width: 200, align: 'center', formatter: function (value, grid, rows, state) {
                //        var btns = "&nbsp;<input type='button' class='btnSearch' onclick='btn_Add(\"" + value + "\")' value='详情'/>";
                //        btns += "&nbsp;<input type='button' class='btnSearch' onclick='btn_Delete(\"" + value + "\")' value='删除'/>";
                //        return btns;
                //    }
                //},
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager6",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(6);
            }
        });
        $("#gridTable7").jqGrid({
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: "00940007",
                objName: objNames
            },
            datatype: "json",
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "对象名称", name: "ObjName", index: "ObjName", width: 200, align: 'left' },
                { label: "所属大队", name: "TeamId", index: "TeamId", hidden: true },
                { label: "所属部门", name: "TeamName", index: "TeamName", width: 150, align: 'left' },
                {
                    label: "对象类型", name: "TypeId", index: "TypeId", width: 150, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        return "河湖区域";
                    }
                },
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager7",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: true,
            onSelectRow: function (rowid, iRow, iCol, e) {

            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
                showDoubleRandomDetail(7);
            }
        });
        $("#gridTable8").jqGrid({
            url: '@Url.Action("QueryEnterpriseList","PenaltyCaseSafty", new { Area = "" })',
            datatype: "json",
            postData: { companyName: objNames },
            height: $(window).height() - 193,
            width: $(window).width(),
            colModel: [
                { label: "主键", name: "企业名称", index: "企业名称", hidden: true },
                { label: "单位名称", name: "企业名称", index: "企业名称", width: 350 },
                { label: "法定代表人", name: "法定代表人", index: "法定代表人", width: 300 },
                { label: "统一社会信用代码/注册号", name: "社会信用统一代码", index: "社会信用统一代码", width: 180 },
                { label: "工商注册号", name: "工商注册号", index: "工商注册号", width: 180 },
                { label: "注册地址", name: "注册地址", index: "注册地址", width: 400, sortable: false }
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager8",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {
                btn_detail();
            }
        });
    }
    //批量删除
    $("#btnDelete").click(function () {
        var tbNo = $("#TableNo").val();
        var rowData = $("#gridTable" + tbNo).jqGrid("getGridParam", "selarrrow");
        if (rowData.length > 0) {
            var ids = "";
            for (var i = 0; i < rowData.length; i++) {
                var gridId = $("#gridTable").getCell(rowData[i], "Id");
                if (gridId != "") {
                    ids += gridId + ",";
                }
            }
            if (confirm("确认删除吗？")) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("DeleteDoubleRandomObj", "DoubleRandom")',
                    data: { ids: ids },
                    datatype: 'json',
                    success: function (data) {
                        alert(data.rtState);
                        if (data.rtState == 1) {
                            alert("删除数据成功！");
                            $("#gridTable").trigger("reloadGrid"); //重新载入
                        } else {
                            alert('删除数据出现异常！');
                        }
                    }
                });
            }
        } else {
            alert("请选择需要删除的记录！");
        }
    });


    function showDoubleRandomDetail(n) {

        var id = GetJqGridRowValue("#gridTable" + n, "Id");
        //var ids = id.split(',');
        if (id == undefined || id == "" || id == null) {
            alert("请选择一项再操作！");
        }
        else {
            var ids = id.split(',');
            if (ids.length > 1) {
                alert("请选择一项再操作！");
                return;
            }
            if (id != '' && id != undefined) {
                var width = $(window).width() * 0.35;
                //width = width - (width * 0.2);
                var height = $(window).height() * 0.5;
                Dialog(('@Url.Action("DoubleRandomObjAdd")?id=' + id), "FirstDialogWindow", "详情", width, height);
            } else {
                tipDialog("您没有选中任何项，请选择后再操作。", 3, -2);
            }
        }
    }
    //企业详情
    function btn_detail() {
        var id = GetJqGridRowValue("#gridTable8", "企业名称");
        if (id != '' && id != undefined) {
            var url = '@Url.Action("EnterpriseDetail", "PenaltyCaseSafty")';
        var width = $(window).width();
        width = width - (width * 0.1);
        var height = $(window).height() - 200;
        Dialog((url + "?id=" + id + '&rnd=' + Math.random()), "FirstDialogWindow", "企业详情", width, height);
    } else {
        tipDialog("您没有选中任何项，请选择后再操作。", 3, -2);
    }
}
// 数据查询
    @* function Search(ss) {
        
        var teamDropId = $("#teamDropList").val();
        var typeDropId = "";
        if (ss != null & ss != "") {
            typeDropId = ss.id;
        }
        var objNames = $("#ObjName").val();
        if (typeDropId != "00940001" && typeDropId != "00940006") {
            jQuery("#gridTable").setGridParam().hideCol("PropertyFZR");
            jQuery("#gridTable").setGridParam().hideCol("PhoneNo");
            $("#gridTable").setGridWidth($(window).height() + 890);
        }
        if (typeDropId == "00940001" || typeDropId == "00940006") {
            $("#gridTable").setGridParam().showCol("PropertyFZR");
            $("#gridTable").setGridParam().showCol("PhoneNo");
            $("#gridTable").setGridWidth($(window).height() + 890);
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("GetObjectManager")',
            postData: {
                teamId: teamDropId,
                typeId: typeDropId,
                objName: objNames
            },
            page: 1
        }).trigger('reloadGrid');
    }*@
    function Search(mod) {

        $(".s_cont_box .show").each(function (i, value) {
            if (!$("#tb" + i).hasClass('none')) {
                $("#tb" + i).addClass('none');
            }
        })
        var numb = mod.id;
        var num = parseInt(numb.substr(numb.length - 1, 1)) - 1;
        var str = num.toString();
        if (str == "NaN") {
            num = 7;
        }
        $("#tb" + num).removeClass('none');
        $("#TableNo").val(num + 1);
    }
    //数据新增
    function btn_Add(id) {
        if (id == undefined) {
            id = "";
        }
        var url = '@Url.Action("DoubleRandomObjAdd", "DoubleRandom")?id=' + id;
        var width = $(window).width();
        //width = width - (width * 0.2);
        width = width * 0.34;
        var height = $(window).height() * 0.48;
        top.$.dialog({
            id: "FirstDialogWindow",
            lock: true,
            title: "新增对象",
            max: false,
            min: false,
            width: width,
            height: height,
            content: 'url:' + url
        });
    }

    //删除

    function btn_Delete(objId) {
        alert(objId);
        if (confirm("是否确定要删除！")) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteDoubleRandomObj", "DoubleRandom")',
                data: { id: objId },
                datatype: 'json',
                success: function (data) {
                    alert(data.rtState);
                    if (data.rtState == 1) {
                        alert("删除数据成功！");
                        Search();
                        //$("#gridTable").trigger("reloadGrid"); //重新载入
                    } else {
                        alert('删除数据出现异常！');
                    }
                }
            });
        }
    }
</script>
</html>


