@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>拷贝复制排班</title>

    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->
</head>
<body>
    <div>

        <table border="0" class="form-find" style="height: 45px; width: 100%; margin-top: 30px;">

            <tr>
                <th style="width: 75px">被复制日期：</th>
                <td style="width: 150px;">
                    @Html.TextBox("CopyFromDate", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd '})", @style = "width:100px;border:1px solid #ccc;" })
                    @* @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px", @onchange = "javascript:ReloadFlight();" })&nbsp;年&nbsp;
                    @Html.DropDownList("DrpMonth", (ViewData["Months"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 50px", @onchange = "javascript:ReloadFlight();" })&nbsp;月*@
                </td>
            </tr>
            <tr>
                <th style="width: 75px">拷贝复制至：</th>
                <td style="width: 150px;">
                    @Html.TextBox("CopyDate", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd '})", @style = "width:100px;border:1px solid #ccc;" })
                    @* @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px", @onchange = "javascript:ReloadFlight();" })&nbsp;年&nbsp;
                    @Html.DropDownList("DrpMonth", (ViewData["Months"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 50px", @onchange = "javascript:ReloadFlight();" })&nbsp;月*@
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<script type="text/javascript">

    /*
     * 校验拷贝复制
     */
    function CopyFlights() {
        //var formDate = '@ViewBag.FormDate';  //被复制日期
        //var toYear = $("#DrpYear").val();    //复制至年
        //var toMonth = $("#DrpMonth").val();  //复制至月


        var formDate = $("#CopyFromDate").val();
        var toDate = $("#CopyDate").val();

        var deptId = '@ViewBag.DeptId';

        AjaxJson('@Url.Action("CheckCopy")', { formDate: formDate, toDate: toDate, deptId: deptId }, function (data) {
            if (data.rtState == 10) {
                CopyFlight(formDate, toDate, deptId, 0);
            } else if (data.rtState == 4) {
                if (confirm(data.rtMsrg)) {
                    CopyFlight(formDate, toDate, deptId, 1);//覆盖当天排班
                }
            } else {
                alertDialog(data.rtMsrg, 0);
            }
        });
    }

    /*
     * 拷贝复制排班
     */
    function CopyFlight(formDate, toDate, deptId, isDelete) {

        Loading(true, '正在拷贝复制排班...');
        AjaxJson('@Url.Action("CopyFlights")', { formDate: formDate, toDate: toDate, deptId: deptId, isDelete: isDelete }, function (data) {
            if (data.rtState == 1) {
                tipDialog('操作成功！', 1, 2);
                cancle();
            } else {
                alertDialog('拷贝复制出现异常，请联系管理员！', 0);
            }
        });
    }

    /*
     * 取消
     */
    function cancle() {
        var api = frameElement.api, w = api.opener;
        //api.close();
        w.ReloadFlight();
    }

    function AccountingMonth(time)
    {

    }
</script>
