@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>积分查询</title>

    <!--框架必需start-->
    <link  href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link  href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->

    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")" type="text/javascript"></script>
    <!--树形组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->

    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->


    <style type="text/css">
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            GetGrid();
            ChangeScoreType(0, 'Items');
        });

        //改变分值类型
        function ChangeScoreType(scoreType, selectId) {
            getAjax('@Url.Action("AjLoadItems")', { scoreType: scoreType, selectId: selectId }, function (msg) {
                eval(msg);
            });
        }
        
        //加载表格
        function GetGrid() {

            var url = '@Url.Action("GridIntegralJson")?rnd='+Math.random();
            $("#gridTable").jqGrid({
                url: url,
                datatype: "json",
                height: $(window).height() - 125,
                autowidth: true,
                colModel: [
                    {
                        label: "部门", name: "DeptName", index: "DeptName", width: 120, align: 'left',
                        cellattr: function (rowId) {
                            return 'id=\'DeptName' + rowId + "\'";
                        }
                    },
                    { label: "姓名", name: "UserName", index: "UserName", width: 120, align: 'left' },
                    { label: "自动得分", name: "AutoScore", index: "AutoScore", width: 100, align: 'center' },
                    { label: "督察得分", name: "SuperviseScore", index: "SuperviseScore", width: 100, align: 'center' }
                ],
                viewrecords: true,
                rowList: [30, 50, 100, 500, 1000],
                pager: "#gridPager",
                rownumbers: true,
                shrinkToFit: false,
                gridview: true,
                ondblClickRow: function (rowid, iRow, iCol, e) {

                },
                gridComplete: function () {
                    var gridName = "gridTable";
                    Merger(gridName, 'DeptName');
                }
            });
        }
        
        //合并列公共调用方法

        function Merger(gridName, cellName) {
            //得到显示到界面的id集合
            var mya = $("#" + gridName + "").getDataIDs();
            //当前显示多少条
            var length = mya.length;
            for (var i = 0; i < length; i++) {
                //从上到下获取一条信息
                var before = $("#" + gridName + "").jqGrid('getRowData', mya[i]);
                //定义合并行数
                var rowSpanTaxCount = 1;
                for (j = i + 1; j <= length; j++) {
                    //和上边的信息对比 如果值一样就合并行数+1 然后设置rowspan 让当前单元格隐藏
                    var end = $("#" + gridName + "").jqGrid('getRowData', mya[j]);
                    if (before[cellName] == end[cellName]) {
                        rowSpanTaxCount++;
                        $("#" + gridName + "").setCell(mya[j], cellName, '', { display: 'none' });
                    } else {
                        rowSpanTaxCount = 1;
                        break;
                    }
                    $("#" + cellName + "" + mya[i] + "").attr("rowspan", rowSpanTaxCount);
                }
            }
        }

        function btn_Search() {
            var stime = $("#StartDate").val();
            var etime = $("#EndDate").val();
            $("#gridTable").jqGrid('setGridParam', {
                url: '@Url.Action("GridIntegralJson")?stime=' + stime + '&etime=' + etime
            }).trigger('reloadGrid');
        }

    </script>
</head>
<body>
    <div>
        <div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
            <div class="QueryArea">
                <table border="0" class="form-find" style="height: 45px;">
                    <tr>
                        <th>部  门：</th>
                        <td>
                            @Html.DropDownList("DeptName", (ViewData["Depts"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 100px", @onchange = "ChangeScoreType(this.value,'Items')" })
                        </td>
                        <th>类  型：
                        </th>
                        <td>
                            @Html.DropDownList("ScoreType", (ViewData["ScoreTypeList"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 100px", @onchange = "ChangeScoreType(this.value,'Items')" })
                        </td>
                        <th>积分项目：
                        </th>
                        <td>
                            <select id="Items" class="select" style="width: 150px"></select>
                        </td>

                    </tr>
                    <tr>
                        <th>时  间（开始）：</th>
                        <td>
                            @Html.TextBox("StartDate", "", new { @class = "txt Wdate", Value = DateTime.Now.ToString("yyyy-MM-dd"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:150px" })
                        </td>
                        <th>时  间（截止）：</th>
                        <td>
                            @Html.TextBox("EndDate", "", new { @class = "txt Wdate", Value = DateTime.Now.ToString("yyyy-MM-dd"), @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:150px" })
                        </td>

                        <td colspan="2" style="text-align: right;">
                            <input id="btnSearch" type="button" class="btnSearch" value="查 询" onclick="btn_Search()" />
                            <input type="button" class="btnSearch" value="量化统计" onclick="javascript: location.href = 'Index'" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="grid_List" class="topline">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
        <style>
            .ui-widget-content {
                border-left: none;
            }
        </style>

    </div>
</body>
</html>
