@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>年度汇总报表</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <style type="text/css">
        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>


    <script type="text/javascript">

        $(document).ready(function () {
            var height = $(window).height() - 50;
            $("#tableList").css('height', height);

            Loading(false);
        });


        $(document).ready(function () {
            GetGrid();
        });

        var lastSel;
        //加载表格
        function GetGrid() {
            $("#gridTable").jqGrid({
                url: '@Url.Action("AjaxReportAnnualSummary", "PenaltyStatistical")',
                datatype: "json",
                height: $(window).height() - 80,
                autowidth: true,
                colModel: [
                    {
                        label: "中 队", name: "DeptName", index: "DeptName", width: 100, align: 'center', sortable: false,
                        cellattr: function (rowId) {
                            return 'id=\'DeptName' + rowId + "\'";
                        }
                    },
                    { label: "类 型", name: "Types", index: "Types", width: 60, align: 'center', sortable: false },
                    { label: "1月", name: "1", index: "January", width: 70, align: 'center', sortable: false },
                    { label: "2月", name: "2", index: "February", width: 70, align: 'center', sortable: false },
                    { label: "3月", name: "3", index: "March", width: 70, align: 'center', sortable: false },
                    { label: "4月", name: "4", index: "April", width: 70, align: 'center', sortable: false },
                    { label: "5月", name: "5", index: "May", width: 70, align: 'center', sortable: false },
                    { label: "6月", name: "6", index: "June", width: 70, align: 'center', sortable: false },
                    { label: "7月", name: "7", index: "July", width: 70, align: 'center', sortable: false },
                    { label: "8月", name: "8", index: "August", width: 70, align: 'center', sortable: false },
                    { label: "9月", name: "9", index: "September", width: 70, align: 'center', sortable: false },
                    { label: "10月", name: "10", index: "October", width: 70, align: 'center', sortable: false },
                    { label: "11月", name: "11", index: "November", width: 70, align: 'center', sortable: false },
                    { label: "12月", name: "12", index: "December", width: 70, align: 'center', sortable: false },
                    { label: "合计", name: "Total", index: "Total", width: 70, align: 'center', sortable: false }
                ],
                viewrecords: true,
                rownumbers: true,
                rowNum: 1000,
                shrinkToFit: false,
                gridComplete: function () {
                    var gridName = "gridTable";
                    Merger(gridName, 'DeptName');
                }
            });
        }

        //合并列公共调用方法
        function Merger(gridName, cellName) {
            //得到显示到界面的id集合
            var mya = $("#" + gridName + "").getDataIDs();
            //当前显示多少条
            var length = mya.length;
            for (var i = 0; i < length; i++) {
                //从上到下获取一条信息
                var before = $("#" + gridName + "").jqGrid('getRowData', mya[i]);
                //定义合并行数
                var rowSpanTaxCount = 1;
                for (j = i + 1; j <= length; j++) {
                    //和上边的信息对比 如果值一样就合并行数+1 然后设置rowspan 让当前单元格隐藏
                    var end = $("#" + gridName + "").jqGrid('getRowData', mya[j]);
                    if (before[cellName] == end[cellName]) {
                        rowSpanTaxCount++;
                        $("#" + gridName + "").setCell(mya[j], cellName, '', { display: 'none' });
                    } else {
                        rowSpanTaxCount = 1;
                        break;
                    }
                    $("#" + cellName + "" + mya[i] + "").attr("rowspan", rowSpanTaxCount);
                }
            }
        }

    </script>

</head>
<body>
    <div id="layout" class="layout">
        <!--左边-->
        <div class="layoutPanel">
            <!--列表-->
            <div id="grid_List">
                <div class="bottomline" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
                    <table border="0" class="form-find" style="height: 45px; width: 100%">
                        <tr>
                            <th style="width: 50px">年 度：</th>
                            <td style="width: 180px;">
                                @Html.DropDownList("DrpYear", (ViewData["Years"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 60px" })&nbsp;年&nbsp;
                            </td>
                            <td style="width: 200px;">
                                <input type="button" class="btnSearch" value="查 询" onclick="javascript: Search();" />
                                <input type="button" class="btnSearch" value="导 出" onclick="javascript: Export();" />
                            </td>
                            <td style="text-align: right; width: auto;"></td>
                        </tr>
                    </table>
                </div>
                <table id="gridTable"></table>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function Search() {
        var year = $("#DrpYear").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Action("AjaxReportAnnualSummary", "PenaltyStatistical")?year=" + year
        }).trigger('reloadGrid');
    }

    function Export() {
        var year = $("#DrpYear").val();
        window.open('@Url.Action("ExportAnnualSummaryReport")?year=' + year, "_blank");
    }
</script>
