@{
    Layout = null;
}
@model Yookey.WisdomClassed.SIP.Model.Hr.FlightAlterationEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>调班登记</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->


    <!--上传文件start-->
    <script src="@Url.Content("~/Librarys/uploadHelper.js")"></script>
    <script src="@Url.Content("~/Librarys/uploadify-v2.1.4/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Librarys/uploadify-v2.1.4/jquery.uploadify.v2.1.4.js")" type="text/javascript"></script>
    <!--上传文件end-->

    <style type="text/css">
        .title {
            background: #F7F7F7;
            border: 1px solid #ccc;
            padding: 0px;
            margin: 0px;
            height: 27px;
            white-space: nowrap;
            font-weight: normal;
            padding-right: 5px;
            padding-left: 5px;
        }

        .textcenter {
            text-align: center;
        }
    </style>

    <script type="text/javascript">

        $(function () {
            BindCompany();

        });



        //绑定单位（大队）
        function BindCompany() {

            var companyId = '@Model.CompanyId';

            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany", defaultSelId: companyId }, function (cmsg) {
                eval(cmsg);
                BindDepartment();
            });
        }
        //绑定部门（中队）
        function BindDepartment() {
            var departmentId = '@Model.DeptId';
            getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment", defaultSelId: departmentId, }, function (dmsg) {
                eval(dmsg);
                if (departmentId == '')
                    departmentId = $("#drpDepartment").val();
                BindUser(departmentId);
            });
        }

        //绑定人员
        function BindUser(departmentId) {
            getAjax("@Url.Action("GetUserDropList", "User", new { area = "CommonModule" })", { deptId: departmentId, controls: "BeforeUserId,AferUserId" }, function (dmsg) {
                eval(dmsg);

                var firstUserId = '@Model.BeforeUserId';
                var secondUserId = '@Model.AferUserId';

                $("#BeforeUserId").val(firstUserId);
                $("#AferUserId").val(secondUserId);
            });
        }

        //绑定第一个人员的排班
        function firstUserChange(beforeUserId) {
            var beforeDateTime = $("#BeforeDate").val();
            selectBind('BeforeClassesId', beforeUserId, beforeDateTime);
        }

        //绑定第二个人员的排班
        function secondUserChange(afterUserId) {
            var afterDateTime = $("#AfterDate").val();
            selectBind('AfterClassesId', afterUserId, afterDateTime);
        }

        function paiBaiDiff(index) {
            if ($('#BeforeDate').val() == $('#AfterDate').val()) {
                alertDialog('调班日期相同', -2);
            }
        }

        //向下拉列表框中加如选项
        function selectBind(selectid, userId, flightDays) {
            getAjax("@Url.Action("GetFlightDropList", "LochusFlight")", { controlId: selectid, userId: userId, flightDays: flightDays }, function (cmsg) {
                eval(cmsg);
            });
        }
    </script>
</head>
<body>
    <form id="form">
        <table class="casedt">
            <tr>
                <td colspan="4" class="title">调班登记</td>
            </tr>
            <tr>
                <th class="formTitle">执法部门：<span style="color: Red;">*</span></th>
                <td class="formValue" colspan="3">
                    <select id="drpCompany" class="txtselect" style="width: 150px;" onchange="javascript:BindDepartment();"></select>
                    <select id="drpDepartment" class="txtselect" style="width: 150px;" onchange="javascript:BindUser(this.value);"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">调班时间：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <input id="BeforeDate" name="BeforeDate" value="@(Model.BeforeDate.Year == 1900 ? DateTime.Now.ToString("yyyy-MM-dd") : Model.BeforeDate.ToString("yyyy-MM-dd"))" type="text" 
                        onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd',minDate:'%y-%M-%d' })" class="txtselect Wdate" style="width: 180px;"/>
                </td>
                <th class="formTitle">调班时间：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <input id="AfterDate" name="AfterDate" value="@(Model.AfterDate.Year == 1900 ? DateTime.Now.ToString("yyyy-MM-dd") : Model.AfterDate.ToString("yyyy-MM-dd"))" type="text" 
                        onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd ',minDate:'%y-%M-%d' })" class="txtselect Wdate" style="width: 180px;"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">调班人员：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <select id="BeforeUserId" name="BeforeUserId" class="txtselect" style="width: 180px;" onchange="javascript:firstUserChange(this.value);"></select>

                </td>
                <th class="formTitle">调班后人员：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <select id="AferUserId" name="AferUserId" class="txtselect" style="width: 180px;" onchange="javascript:secondUserChange(this.value);"></select>
                </td>
            </tr>

            <tr>

                <th class="formTitle">调班人员的排班：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <select id="BeforeClassesId" name="BeforeClassesId" class="txtselect" style="width: 180px;" onchange="paiBaiDiff(1)"></select>
                </td>
                <th class="formTitle">被调班人员的排班：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <select id="AfterClassesId" name="AfterClassesId" class="txtselect" style="width: 180px;" onchange="paiBaiDiff(2)"></select>
                </td>
            </tr>
            @*<tr>
                <th class="formTitle">调班后时间（起始）：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <input id="AfterDate" name="AfterDate" value="@(Model.AfterDate.Year == 1900 ? "" : Model.AfterDate.ToString("yyyy-MM-dd HH:mm"))" type="text" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd  HH:mm' })" class="txt Wdate" style="width: 150px;"/>
                </td>
                <th class="formTitle">调班后时间（截止）：<span style="color: Red;">*</span></th>
                <td class="formValue">
                    <input id="AfterDateSecond" name="AfterDateSecond" value="@(Model.AfterDateSecond.Year == 1900 ? "" : Model.AfterDateSecond.ToString("yyyy-MM-dd HH:mm"))" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd  HH:mm'})" class="txt Wdate" style = "width:150px;"/>
                </td>
            </tr>*@
            <tr>
                <th class="formTitle">附件：</th>
                <td class="formValue" colspan="3">
                    <input id="txtFile" type="file" name="txtFile">
                    <div id="show">
                        <ul>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="title">调班原因</td>
            </tr>
            <tr>
                <td class="formValue" colspan="4">
                    @Html.TextArea("Reason", Model.Reason, new { @class = "txtArea", @rows = "3", @onkeyup = "setMaxLength(this,200)" })
                </td>
            </tr>
            <tr>
                <td colspan="4" class="title">备注描述</td>
            </tr>
            <tr>
                <td class="formValue" colspan="4">
                    @Html.TextArea("Remark", Model.Remark, new { @class = "txtArea", @rows = "3", @onkeyup = "setMaxLength(this,200)" })
                </td>
            </tr>
            <tr>
                <td colspan="4" class="textcenter">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" class="textcenter">
                    <input type="button" class="btnSearch" value="保 存" onclick="SaveApply()" />
                    <input type="button" class="btnSearch" value="关 闭" onclick="cancle()" />
                </td>
            </tr>
        </table>
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("CompanyId", Model.CompanyId)
        @Html.Hidden("CompanyName", Model.CompanyName)
        @Html.Hidden("DeptId", Model.DeptId)
        @Html.Hidden("DeptName", Model.DeptName)
        @Html.Hidden("BeforeUserName", Model.BeforeUserName)
        @Html.Hidden("AfterUserName", Model.AfterUserName)
        @Html.Hidden("Attachment", Model.Attachment)
        @Html.Hidden("BeforeClassesName", Model.BeforeClassesName)
        @Html.Hidden("AfterClassesName", Model.AfterClassesName)
    </form>
</body>
</html>

<script type="text/javascript">

    var jsonImage = null;
    $(document).ready(function () {
        StartUploadify("txtFile", "Leave", true, function (a, b, c, d, e) {
            var result = d.split('|');
            if (result.length > 0) {
                AddUpResult(result);
            }
        });
    });

    /*
     *  上传成功后返回
     */
    function AddUpResult(result) {
        var newLi = $('<li></li>');
        $('<input type="hidden" name="upfileinfo" class="upfileinfo" value="' + result + '" />').appendTo(newLi);
        $('<label>' + result[2] + '　　</label>').appendTo(newLi);
        $('<a href="javascript:;" onclick="del(this);">删除</a>').appendTo(newLi);

        newLi.appendTo("#show ul");
    }


    /*
     * 删除上传的附件
     */
    function del(obj) {
        var node = $(obj).parent(); //要删除的LI节点
        node.remove(); //删除DOM元素
    }

    //关闭
    function cancle() {
        var api = frameElement.api;
        api.close();
    }

    //保存申请
    function SaveApply() {
        if (checkValidator()) {

            var attacs = $(".upfileinfo");  //获取上传的附件
            var arrchsrting = "";
            for (var i = 0; i < attacs.length; i++) {
                var fileAddr = $(attacs[i]).val();
                arrchsrting = arrchsrting + fileAddr + "|";
            }
            if (arrchsrting != '') {
                arrchsrting = arrchsrting.substr(0, arrchsrting.length - 1);  //截取附件最后一个逗号
            }
            $("#Attachment").val(arrchsrting);

            getAjax('@Url.Action("Save", "Alteration")', $('#form').serialize(), function (data) {
                var itemjson = eval("(" + data + ")");
                if (itemjson.rtState === 1) {
                    @*      if (confirm('登记保存成功，是否需要提起审批？')) {
                        var formId = '@Model.Id';
                        var url = '@Url.Action("AlterationWorkFlow", "WorkFlow")?formId=' + formId + '&flowName=调班审批&eType=apply&worklistId=';
                        url = encodeURI(url);
                        var width = 500;
                        var height = 300;
                        top.$.dialog({
                            id: "WorkFlow", width: width, height: height, lock: true, max: false, resize: false, extendDrag: true,
                            title: "调班审批",
                            content: 'url:' + url,
                            button: [
                                {
                                    name: '确 定',
                                    className: 'green',
                                    callback: function () {
                                        top.frames["WorkFlow"].AcceptClick('FirstDialogWindow');
                                        return true;
                                    }
                                }, { name: '关 闭' }
                            ]
                        });
                    } else {
                        cancle();
                    }*@
                    alertDialog('登记成功，待对方确认后可提起审批！', 1);
                    setTimeout("cancle()", 2000);
                } else {
                    alertDialog("保存过程中出现异常，请联系管理员！", -1);
                }
            });
        }
    }

    //=================案件审批成功后调用该方法======================
    //审批后调用该方法,注：所有审批返回都需要调用该方法
    function ApplyReturn(data) {
        if (data.rtState === 0 || data.rtState === 1) {
            //调用进行修改案件的状态
            alertDialogCallBack(data.rtMsrg, 2, function () {
                setTimeout(function () {
                    cancle();
                }, 500);
            });
        } else {
            alertDialog("审批过程中出现异常，请联系管理员！", -1);
        }
    }

    //表单数据校验
    function checkValidator() {
        var istrue = true;

        //检查选择部门
        var company = $("#drpCompany").val();
        if (company != '') {
            $("#CompanyId").val(company);
            $("#CompanyName").val($("#drpCompany option:selected").text());
        } else {
            alertDialog('请选择部门！', -1);
            istrue = false;
        }

        //检查选择部门
        var dept = $("#drpDepartment").val();
        if (dept != '' && dept != 'all') {
            $("#DeptId").val(dept);
            $("#DeptName").val($("#drpDepartment option:selected").text());
        } else {
            alertDialog('请选择部门！', -1);
            istrue = false;
        }

        if (!$('#BeforeDate').val() || !$('#AfterDate').val()) {
            istrue = false;
            alertDialog('请选择调班时间！', -1);
        }

        //检查调班人员
        var beforeUser = $("#BeforeUserId").val();
        if (!!beforeUser) {
            $("#BeforeUserName").val($("#BeforeUserId option:selected").text());
        } else {
            alertDialog('请选择调班人员！', -1);
            istrue = false;
        }

        //检查调班后人员
        var afterUser = $("#AferUserId").val();
        if (!!afterUser) {
            $("#AfterUserName").val($("#AferUserId option:selected").text());
        } else {
            alertDialog('请选择调班后人员！', -1);
            istrue = false;
        }

        //检查调班人员排班
        var beforeClassesId = $("#BeforeClassesId").val();
        if (!!beforeClassesId) {
            $("#BeforeClassesName").val($("#BeforeClassesId option:selected").text());
        } else {
            alertDialog('请选择调班人员的排班！', -1);
            istrue = false;
        }

        //检查被调班人员排班
        var afterClassesId = $("#AfterClassesId").val();
        if (!!afterClassesId) {
            $("#AfterClassesName").val($("#AfterClassesId option:selected").text());
        } else {
            alertDialog('请选择被调班人员的排班！', -1);
            istrue = false;
        }


        return istrue;
    }

    //正浮点数正则表达式
    function regUFloat(sender, length) {
        var reg = new RegExp("^[\\d]*\\.?\\d{0," + length + "}$");
        if (!sender.value.match(reg))
            sender.value = sender.t_value ? sender.t_value : '';
        else
            sender.t_value = sender.value;
    }

    //长度限制（解决textarea maxlength无效）
    function setMaxLength(sender, length) {
        if (sender.value.length > length)
            sender.value = sender.value.substring(0, length);
    }

</script>
