@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>封 面</title>

    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

</head>
<body>
    <div style="margin: 0 auto; margin-top: 100px; width: 500px;">
        <table class="coverGrid" style="width: 500px;">
            <thead>
                <tr>
                    <td>归档号</td>
                    <td>立案号</td>
                    <td>案审号</td>
                    <td>结案号</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>@ViewBag.CaseInfoNo</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin: 0 auto; margin-top: 100px; width: 500px;">
        <div style="font-size: 18px; font-weight: bold;padding-left: 100px;">案　由：@ViewBag.ItemName</div>
        <div style="font-size: 18px; font-weight: bold;padding-left: 100px; margin-top: 50px;">当事人：@ViewBag.TargetName</div>
    </div>

    <div style="margin: 0 auto; margin-top: 100px; width: 500px;">
        <div style="font-size: 20px; font-weight: bold;margin: 0 auto;text-align: center;">苏州市工业园区城市管理行政执法局卷宗</div>
        <div style="font-size: 20px; font-weight: bold;margin: 0 auto;margin-top: 20px;text-align: center;">@ViewBag.FinishDate</div>
    </div>
</body>
</html>
