@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>目录</title>
        <!--框架必需start-->
        <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
        <!--框架必需end-->

        <!--jqgrid表格组件start-->
        <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
        <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
        <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    </head>
    <body>

        <div class="ActionBar">
            <dl id="MyDocuments" class="action-list">
                <dt>案件卷宗<i></i></dt>
                <dd>
                    <a onclick="WordView('Registration')"><i class="accordion-icon query"></i>立案审批表</a>
                </dd>
                <dd>
                    <a onclick="PictureView('Record')"><i class="accordion-icon query"></i>询查询问笔录</a>
                </dd>
                <dd>
                    <a onclick="WordView('Processration')"><i class="accordion-icon query"></i>处理审批表</a>
                </dd>
                <dd>
                    <a onclick="PictureView('Inform')"><i class="accordion-icon query"></i>行政处罚告知书</a>
                </dd>
                <dd>
                    <a onclick="PictureView('Decision')"><i class="accordion-icon query"></i>行政处罚决定书</a>
                </dd>
                <dd>
                    <a onclick="PictureView('CaceBackCard')"><i class="accordion-icon query"></i>送达回证</a>
                </dd>
                <dd>
                    <a onclick="PictureView('CaseOrder')"><i class="accordion-icon query"></i>委托单</a>
                </dd>
                <dd>
                    <a onclick="WordView('Endration')"><i class="accordion-icon query"></i>结案审批表</a>
                </dd>
                <dd>
                    <a onclick="WordView('Dossier')"><i class="accordion-icon query"></i>案件卷宗</a>
                </dd>
                <dd>
                    <a onclick="PictureView('Case')"><i class="accordion-icon query"></i>证据情况</a>
                </dd>
            </dl>
        </div>
    </body>
</html>


<script type="text/javascript">
    function WordView(writIdentify) {
        window.parent.WordView(writIdentify);
    }
    
    function PictureView(writIdentify) {
        window.parent.PictureView(writIdentify);
    }
</script>
