@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>案件详情</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->
</head>
<body>
    <div>
        <script>
            $(function () {
                $("#layoutA").splitter({
                    type: "v",
                    outline: true,
                    minLeft: 830, sizeLeft: 830, maxLeft: 830,
                    anchorToWindow: true,
                    accessKey: "L"
                });

            });
        </script>
        <div id="layoutA" class="layout">
            <!--左边案卷详情-->
            <div class="layoutPanel">
                @*<iframe id="case_iframe_right" name="case_iframe_right" height="100%" width="100%" src="http://wwww.baidu.com" frameborder="0"></iframe>*@
                <iframe id="case_iframe_right" name="case_iframe_right" height="100%" width="100%" src="" frameborder="0"></iframe>
            </div>
            <!--右侧功能区域-->
            <div class="layoutPanel layout-center">
                <div class="action-list_bar">
                    <div style="height: 30px; background: url('@Url.Content("~/Content/Images/navigation.png")') no-repeat;">
                        <label style="color: #ffffff; line-height: 30px; padding-left: 20px;" id="labTitle">封 面</label>
                    </div>
                    <a class="tools_btn directory" onclick="ShowHideDirectory();"><span><b>目 录</b></span></a>
                    <a class="tools_btn previous" onclick="Previous();"><span><b>上一页</b></span></a>
                    <a class="tools_btn next" onclick="Next();"><span><b>下一页</b></span></a>
                </div>
            </div>
        </div>
        <div class="divDirectory" id="divDirectory">
            <iframe id="frameDirectory" height="100%" width="100%" src="@Url.Action("Directory")" frameborder="0"></iframe>
        </div>

        <style>
            .layoutResize {
                border-right: none;
                background-image: none;
            }
        </style>
    </div>
    <script type="text/javascript">

        //定义目录索引JSON
        var directoryData = '[{key:\'@Url.Action("Cover")\',openType:\'Url\',name:\'封 面\'},{key:\'Registration\',openType:\'WordView\',name:\'立案审批表\'},' +
            '{key:\'Record\',openType:\'PictureView\',name:\'询查询问笔录\'},' +
            '{key:\'Processration\',openType:\'WordView\',name:\'处理审批表\'},{key:\'Inform\',openType:\'PictureView\',name:\'行政处罚告知书\'},' +
            '{key:\'Decision\',openType:\'PictureView\',name:\'行政处罚决定书\'},{key:\'CaceBackCard\',openType:\'PictureView\',name:\'送达回证\'},' +
            '{key:\'CaseOrder\',openType:\'PictureView\',name:\'委托单\'},{key:\'Endration\',openType:\'WordView\',name:\'结案审批表\'},' +
            '{key:\'Dossier\',openType:\'WordView\',name:\'案件卷宗\'},{key:\'Case\',openType:\'PictureView\',name:\'证据情况\'}]';

        var directoryJson = eval("(" + directoryData + ")");

        var pageIndex = 0;  //当前索引页
        var pageCount = directoryJson.length;  //总页数

        $(function () {
            var url = '@Url.Action("Cover")?id=' + '@ViewBag.Id';
            $("#case_iframe_right").attr('src', url);
        });

        /*
         * 取消
        */
        function cancle() {
            var api = frameElement.api, w = api.opener;
            api.close();
        }

        /*
         *  Word 预览
         */
        function WordView(writIdentify) {
            pageIndex = getIndex(writIdentify);
            $("#divDirectory").hide(500);
            var id = '@ViewBag.Id';
            var url = '@Url.Action("WordView")?writIdentify=' + writIdentify + '&id=' + id;
            $("#case_iframe_right").attr('src', url);
        }

        /*
         * Picture 预览
         */
        function PictureView(evtache) {
            pageIndex = getIndex(evtache);
            $("#divDirectory").hide(500);
            var id = '@ViewBag.Id';
            var url = '@Url.Action("PictureView")?id=' + id + '&evtache=' + evtache;
            $("#case_iframe_right").attr('src', url);
        }

        /*
         * 地址打开 
         */
        function UrlView(writIdentify) {
            pageIndex = getIndex(writIdentify);
            $("#divDirectory").hide(500);
            var id = '@ViewBag.Id';
            var url = writIdentify + '?id=' + id;
            $("#case_iframe_right").attr('src', url);
        }

        /*
         * 显示隐藏目录
         */
        function ShowHideDirectory() {
            $("#divDirectory").toggle(500);
        }


        /*
        * 上一页
        */
        function Previous() {
            if (pageIndex > 0) {
                pageIndex--;
                OpenLink();
            }
        }

        /*
        * 下一页
        */
        function Next() {
            if (pageIndex < pageCount) {
                pageIndex++;
                OpenLink();
            }
        }

        /*
         * 根key获取目录中的索引位置
         */
        function getIndex(key) {
            var index = 0;
            for (var i = 0; i < directoryJson.length; i++) {
                if (directoryJson[i]["key"] == key) {
                    index = i;
                    $("#labTitle").text(directoryJson[i]["name"]);
                    break;
                }
            }
            return index;
        }

        /*
         * 根据Key 打开链接
         */
        function OpenLink() {
            for (var i = 0; i < directoryJson.length; i++) {
                if (i == pageIndex) {
                    var key = directoryJson[i]["key"];
                    var openType = directoryJson[i]["openType"];
                    var name = directoryJson[i]["name"];
                    $("#labTitle").text(name);
                    if (openType == 'WordView') {
                        WordView(key);
                    }
                    else if (openType == 'PictureView') {
                        PictureView(key);
                    }
                    else if (openType == 'Url') {
                        UrlView(key);
                    }
                    break;
                }
            }
        }

    </script>
</body>
</html>
