@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Model.Case
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>扫描图片</title>
    <link href="@Url.Content("~/Librarys/scrollpic/css/global.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Librarys/scrollpic/css/index.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/scrollpic/js/jquery.scrollpic.js")"></script>

    <script>
        $(function () {
            $('#scrollpic00').scrollpic({
                defaultSpeed: 1000,   //默认滚动时间  点击按钮滚动时间
                speed: 5000,   		   //自动播放滚动时间
                defaultPicId: '@ViewBag.DefaultPicId'
            });
        })
    </script>

</head>
<body class="bgBlackS">
    @{
        var files = ViewData["Files"] as List<InfPunishAttachEntity>;
        if (files != null && files.Any())
        {
        <div class="scrollBox thRelative hidden" id="scrollpic00">
            <div class="scrollMap">
                <span class="slidePre"><a href="javascript:void(0);" title="上一页"></a></span>
                <div class="picWrap">
                    <ul>


                        @foreach (var infPunishAttachEntity in files)
                        {
                            <li name="@infPunishAttachEntity.Id" id="@infPunishAttachEntity.Id">
                                <a href="javascript:void(0)">
                                    <img src="@(AppConfig.FileViewLink + infPunishAttachEntity.FileAddress)" width="700" height="690">
                                </a>
                            </li>
                        }


                    </ul>
                </div>
                <div class="sliderTextBox">
                    <div class="sliderTextBg"></div>
                    <div class="sliderShowText">
                        <div class="sliderTextAll" name="txt0">
                            <div class="sliderTxtBot">
                                <p><em>名称：</em><label id="labFileName"></label><input type="hidden" id="txtFileId" /></p>
                                <p><em>类型：</em><label id="labFileType"></label></p>
                                <p>
                                    <em>备注: </em>
                                    <label id="labFileRemark"></label>
                                </p>
                                @*<p><em>操作: </em><a href="javascript:void(0)" onclick="SaveFile()">保存</a>&nbsp;<a href="javascript:void(0)" onclick="DeleteFile()">删除</a>&nbsp;<a href="javascript:void(0)" onclick="PrintFile()">打印</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="slideNext"><a href="javascript:void(0);" title="下一页"></a></span>

        </div>
        }
        else
        {
        <div style="width:800px;height:500px;margin: 0 auto;">
            <img src="@Url.Content("~/Content/Images/nopic.png")" width="800" height="500" />
        </div>
        }
    }
</body>
</html>

<script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
<script type="text/javascript">
    //请求附件详情
    function GetFileDetails(fileId) {
        AjaxJson('@Url.Action("FileDetails", "PenaltyCaseFile")', { fileId: fileId }, function (data) {
            var typename = data.rtObj.FileTypeName;
            var remark = data.rtObj.FileRemark;
            var fileName = data.rtObj.FileName;
            var fid = data.rtObj.Id;

            $("#labFileName").text(fileName);
            $("#labFileType").text(typename);
            $("#labFileRemark").val(remark);
            $("#txtFileId").val(fid);
        });
    }
</script>

