@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>违停查询</title>

    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 28px;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>

    <script type="text/javascript">

        $(function () {
            BindCompany();

            GetGrid();
        });

        //绑定单位（大队）
        function BindCompany() {
            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany" }, function (cmsg) {
                eval(cmsg);
                BindDepartment();
            });
        }
        //绑定部门（中队）
        function BindDepartment() {
            getAjax("@Url.Action("GetDepartmentDropList", "Department", new { area = "CommonModule" })", { companyId: $("#drpCompany").val(), controlId: "drpDepartment" }, function (dmsg) {
                eval(dmsg);
            });
        }
    </script>
</head>
<body>
    <!--列表-->
    <div id="grid_List">
        <div class="bottomline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
            <table border="0" class="form-find" style="height: 45px;">

                <tr>
                    <th>执法部门：
                    </th>
                    <td>
                        <select id="drpCompany" class="select" style="width: 130px;" onchange="javascript:BindDepartment();"></select>
                        <select id="drpDepartment" class="select" style="width: 130px;"></select>
                    </td>
                    <th>贴单编号：
                    </th>
                    <td>
                        <input id="txtNoticeNo" name="NoticeNo" type="text" class="txt" style="width: 100px" />
                    </td>
                    <th>车牌号码：
                    </th>
                    <td colspan="2">
                        <input id="txtCarNo" name="CarNo" type="text" class="txt" style="width: 100px" />
                    </td>
                    <th>违章日期：</th>
                    <td>
                        @Html.TextBox("txtStartDate", "", new { @class = "txt Wdate", Value = "", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                        &nbsp;至&nbsp;
                        @Html.TextBox("txtEndDate", "", new { @class = "txt Wdate", Value = "", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                    </td>
                    <th>状态：
                    </th>
                    <td>
                        @Html.DropDownList("dropStatus", (ViewData["Types"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 107px" })
                    </td>
                    <th>地点：
                    </th>
                    <td>
                        <input id="txtAddress" name="Address" type="text" class="txt" style="width: 100px" />
                    </td>
                    <td style="text-align: right">
                        <input id="btnSearch" type="button" class="btnSearch" onclick="btn_Search()" value="搜 索" />
                    </td>
                </tr>
            </table>
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</body>
</html>

<script type="text/javascript">

    //加载表格
    function GetGrid() {
        var companyId = $("#drpCompany").val();
        var deptId = $("#drpDepartment").val();

        $("#gridTable").jqGrid({
            url: '@Url.Action("ParkingQueryGridJson")',
            datatype: "json",
            height: $(window).height() - 103,
            autowidth: true,
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "贴单编号", name: "NoticeNo", index: "NoticeNo", width: 120, align: "center" },
                { label: "车牌", name: "CarNo", index: "CarNo", width: 150, sortable: false, align: "center" },
                { label: "违章地点", name: "CheckSignAddress", index: "CheckSignAddress", width: 150, sortable: false },
                { label: "违章日期", name: "CheckDate", index: "CheckDate", width: 150, align: "center" },
                { label: "中队", name: "DeptName", index: "DeptName", width: 100, sortable: false },
                { label: "状态", name: "Status", index: "Status", width: 100, align: 'center', sortable: false }
            ],
            postData: {
                companyId: companyId,
                deptId: deptId
            },
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {
                btn_detail();
            }
        });
    }

    //普通搜索

    function btn_Search() {
        var companyId = $("#drpCompany").val();
        var deptId = $("#drpDepartment").val();
        var noticeNo = $("#txtNoticeNo").val();
        var carNo = $("#txtCarNo").val();
        var state = $("#dropStatus").val();
        var stime = $("#txtStartDate").val();
        var etime = $("#txtEndDate").val();
        var caseinfoNo = $("#txtCaseInfo").val();
        var addr = $("#txtAddress").val();

        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("ParkingQueryGridJson", "PenaltyParking")',
            postData: {
                carNo: carNo,
                noticeNo: noticeNo,
                caseinfoNo: caseinfoNo,
                companyId: companyId,
                deptId: deptId,
                state: state,
                startDate: stime,
                endDate: etime,
                address: addr
            },
            page: 1
        }).trigger('reloadGrid');
    }

    //打开详情
        function btn_detail() {
            var id = GetJqGridRowValue("#gridTable", "Id");
            var url = '@Url.Action("ParkingDetail")?id=' + id + '&rnd=' + Math.random();
            var width = 825;
            var height = $(window).height();
            $.dialog({
                id: "CarDetails",
                lock: true,
                resize: false,
                extendDrag: true,
                width: width,
                height: height,
                title: "案件详情",
                content: 'url:' + url
            });
        }

</script>
