<!DOCTYPE html>
@model Yookey.WisdomClassed.SIP.Model.Case.InfCarHandlerEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>案件处理</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link  href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--表格组件end-->
    <!--树形组件start-->
    <link href="@Url.Content("~/Librarys/tree/tree.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/tree/tree.js")"></script>
    <!--树形组件end-->
    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件start-->
    <!--表单验证组件start-->
    <script src="@Url.Content("~/Librarys/validator/learunui-validator.js")"></script>
    <!--表单验证组件end-->
    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->

    <!--布局组件end-->
    <script type="text/javascript">
        $(document).ready(function () {
            
        });

        //提交窗体处理事件
        function AcceptClick() {
            if (!CheckDataValid('#checksign')) { }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CarHandle")',
                    data: $('#checksign').serialize(),
                    datatype: 'json',
                    success: function (data) {
                        if (data.rtState == 0) {
                            var api = frameElement.api, w = api.opener;
                            w.ApplyReturn(data.rtState);
                        }
                        else {
                            alert('保存出现异常,请联系管理员！');
                        }
                    }
                });
            }
        }
    </script>
    <style type="text/css">
        textarea
        {
            width: 100%;
            height: 30px;
        }

        .form .formTitle
        {
            background: #F7F7F7;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 0px;
            margin: 0px;
            height: 24px;
            white-space: nowrap;
            font-weight: normal;
            text-align: right;
            padding-right: 5px;
            padding-left: 5px;
            width: 80px;
        }
    </style>
</head>
<body>
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div>
        <div class="bd" style="border-bottom: none; margin: 1px;">
            <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
                <div class="tab_list_top" style="position: absolute">
                    <div id="TabCustomAttribute" class="tab_list bd actived ">案件处理</div>
                </div>
            </div>
        </div>
        <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
            <!--处罚依据-->
            <div id="CustomAttribute" class="tabPanel">
                <form id="checksign" method="post">
                    <table class="form">
                        <tr>

                            <th class='formTitle'>当事人姓名：</th>
                            <td class='formValue'>
                                <input type="hidden" name="Id" value="@ViewBag.CheckId" />
                                <input id="Name" name="Name" value="" type="text" class="txt required" datacol="yes" err="当事人姓名" checkexpession="NotNull" />
                            </td>
                            <th class='formTitle'>证件类型：</th>
                            <td class='formValue'>
                                @Html.DropDownList("ZjType", (ViewData["Types"] as IEnumerable<SelectListItem>), new { @style = "font-family: '微软雅黑';", @class = "txtselect" })
                            </td>
                        </tr>
                        <tr>
                            <th class='formTitle'>证件号码：</th>
                            <td class='formValue'>
                                <input id="PersonNo" name="PersonNo" type="text" class="txt" onblur="javascript:PutCardId(this.value)" />
                            </td>
                            <th class='formTitle'>年  龄：</th>
                            <td class='formValue'>
                                <input id="Age" name="Age" value="" type="text" class="txt" />
                            </td>
                        </tr>
                        <tr>
                            <th class='formTitle'>性 别：</th>
                            <td class='formValue'>
                                @Html.DropDownList("Sex", (ViewData["Sexs"] as IEnumerable<SelectListItem>), new { @style = "font-family: '微软雅黑';", @class = "txtselect" })
                            </td>
                            <th class='formTitle'>联系电话：</th>
                            <td class='formValue'>
                                <input id="Telephone" name="Telephone" type="text" class="txt" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">地址：</th>
                            <td class="formValue" colspan="3">
                                <input id="Address" name="Address" type="text" class="txt required" datacol="yes" err="地址" checkexpession="NotNull" />
                            </td>
                        </tr>
                        <tr>
                            <th class='formTitle'>处理日期：</th>
                            <td class='formValue'>
                                <input id="CbrDate" readonly="readonly" value="@Model.HandDate"  name="CbrDate" type="text" class="txt required" datacol="yes" err="处理日期" checkexpession="NotNull"  />
                            </td>
                            <th class='formTitle'></th>
                            <td class='formValue'></td>
                        </tr>
                        <tr>
                            <th class='formTitle'>罚没款缴纳方式：</th>
                            <td class='formValue'>
                                @Html.DropDownList("Job", (ViewData["PaymentTypes"] as IEnumerable<SelectListItem>), new { @style = "font-family: '微软雅黑';", @class = "txtselect" })
                            </td>
                            <th class='formTitle'>处罚金额：</th>
                            <td class='formValue'>
                                <input name="Money" id="Money" type="text" value="50" readonly="readonly" class="txt" />
                            </td>
                        </tr>
                        <tr>
                            <th class='formTitle'>罚没款票据号：</th>
                            <td class='formValue' colspan="3">
                                <input name="PaymentNum" id="PaymentNum" type="text" class="txt" />
                            </td>
                        </tr>

                    </table>

                    <div style="border-bottom: none; margin: 1px;">
                        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
                            <div class="tab_list_top" style="position: absolute">
                                <div class="tab_list bd actived">操作日志</div>
                            </div>
                        </div>
                    </div>
                    <table class="form">
                        <tr>
                            <th class='formTitle'>操作人员：</th>
                            <td class='formValue'>
                                <input value="@Model.HandPersonId" readonly="readonly" id="HandPersonId" type="text" class="txt required" />
                            </td>
                            <th class='formTitle'>操作IP：</th>
                            <td class='formValue'>
                                <input value="@Model.HandleIp" readonly="readonly" id="HandleIp" type="text" class="txt" />
                            </td>
                        </tr>

                        <tr>
                            <th class='formTitle'>操作说明：</th>
                            <td class='formValue'>
                                <input value="@Model.HandContent" readonly="readonly" id="HandContent" type="text" class="txt" />
                            </td>
                        </tr>

                        <tr>
                            <th class='formTitle'>备注：</th>
                            <td class='formValue' colspan="3">
                                <textarea id="HandReason" name="HandReason" class="txtArea" cols="3"></textarea>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    //输入证件号码后计算
    function PutCardId(cardId) {
        if ($("#ZjType").val() == '00130001' || $("#ZjType").val() == '00130002') {
            if (parseInt(cardId.substr(16, 1)) % 2 == 1) {
                $("#Sex").val("1");  //男
            } else {
                $("#Sex").val("0");  //女
            }
            //获取年龄 
            var myDate = new Date();
            var month = myDate.getMonth() + 1;
            var day = myDate.getDate();

            var age = myDate.getFullYear() - cardId.substring(6, 10) - 1;
            if (cardId.substring(10, 12) < month || cardId.substring(10, 12) == month && cardId.substring(12, 14) <= day) {
                age++;
            }
            $("#Age").val(age);
        }
    }
</script>
