@{
    ViewBag.Title = "CourseDetails";
}
@using Yookey.WisdomClassed.SIP.Enumerate
@model Yookey.WisdomClassed.SIP.Model.OnlineClass.OnlineClassCourseEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>

    <!--框架必需start-->
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->


    <link href="@Url.Content("~/Librarys/uploadify/example/css/default.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Librarys/uploadify/uploadify.css")"   rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Librarys/ueditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Librarys/ueditor/ueditor.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Librarys/ueditor/ueditor.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>

    <script src="@Url.Content("~/Librarys/AjaxUpload.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Librarys/uploadify-v2.1.0/swfobject.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Librarys/uploadify-v2.1.0/jquery.uploadify.v2.1.0.js")"></script>

    <link href="@Url.Content("~/Librarys/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="~/Content/Styles/common.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/common.js")"></script>

    <link href="@Url.Content("~/Librarys/css/sipac.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Librarys/js/bootstrap.min.js")"></script>

    <style>
        .btn-search {
            padding: 0 15px;
            height: 24px;
            line-height: 20px;
            border-radius: 6px;
            border: 1px solid #A8A8A8;
            background: url("../images/btn_bg.gif");
        }
                    .btnSearch {
    display: inline-block;
    border: none;
    /* float: left; */
    font: 16px/30px "微软雅黑","Microsoft YaHei";
    color: #FFF;
    background: #CBCBCB;
    padding: 0 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #0b659e;
        }
                .btnSearch:hover {

    background: #0576bf;
        }
    </style>
    <script type="text/javascript">
        var uedes;
        var uecon;

        $(function () {
            var resId = $("#Id").val();
            $("#fileUpload").uploadify({
                'uploader': '@Url.Content("~/Librarys/uploadify/uploadify.swf")',
                'script': '@Url.Action("UploadFile", "Upload")?resourceId=' + resId,
                'cancelImg': '@Url.Content("~/Librarys/uploadify/cancel.png")',
                'folder': '',
                'queueID': 'fileQueue',
                'sizeLimit': 1024 * 1024 * 1024 * 5,
                'auto': true,
                'multi': false,
                'buttonImg': '@Url.Content("~/Librarys/uploadify/btn_fujian.png")',
                'scriptAccess': 'always',
                onSelectOnce: function (e, queueId, fileObj) {
                    $("#fileUpload").uploadifyUpload();
                }
            });
        });

    </script>
</head>
<body class="sipac_full">
    <div class="sipac_wrap">
        <div class="sipac_body">
            <div class="sipac_container" style="margin-left: 1px; margin-right: 1px;">
                <div class="s_sb_cont sipac_editbox sipac_form">
                    <table border="0" class="form-find" style="height: 45px;">
                        @using (Html.BeginForm("AddCourse", "System", FormMethod.Post, new { @id = "formmain" }))
                        {
                            <tbody id="table1">

                                <tr>
                                    <th>课程类型：</th>
                                    <td>
                                        @Html.DropDownListFor(t => t.CourseType, (ViewData["CourseType"] as IEnumerable<SelectListItem>), new { @style = "width:150px;", @class = "s_input" })
                                        <input type="checkbox" id="LinkMv" onclick="changeStatus()" /><label id="linkAudio" for="LinkMv" style="cursor: hand;">添加外部链接视频</label>
                                        <span class="leftM" style="margin-left: 60px;">课程分类：</span>
                                        @Html.DropDownListFor(t => t.CategoryId, (ViewData["Classify"] as IEnumerable<SelectListItem>), new { @style = "width:180px;", @class = "s_input" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>课件名称：</th>
                                    <td colspan="3">
                                        @Html.TextBoxFor(t => t.Title, new { @style = "width:486px;", @class = "s_input" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>发布范围：</th>
                                    <td>
                                        <input type="text" class="s_input" id="area" style="width: 486px;" readonly="true"/>
                                        &nbsp;&nbsp;
                                        <input type="button" id="btnSelectUser" value="选择" onclick="SelectUser()" class="btnSearch"/>
                                    </td>
                                </tr>
                                <tr id="trSource">
                                    <th>学 分：</th>
                                    <td>
                                        @Html.DropDownListFor(t => t.Score, (ViewData["Score"] as IEnumerable<SelectListItem>), new { @style = "width:160px;", @class = "s_input" })
                                        <span class="leftM" style="margin-left: 60px;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                             &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;时长：</span>
                                        @Html.TextBoxFor(t => t.Duration, new { @style = "width:150px;", @class = "s_input" })
                                        <font color="red">（注：用于计算进度）</font>
                                    </td>
                                </tr>
                                <tr id="trTime">
                                    <th>学习时间（开始）：</th>
                                    <td>
                                        <input type="text" id="txtStartTime" style="width: 150px;" class="s_input" onclick=" WdatePicker() " Value = '@DateTime.Now.ToString("yyyy-MM-dd")' onfocus=" WdatePicker({ doubleCalendar: true, dateFmt: 'yyyy-MM-dd' }) " />
                                        <span class="leftM" style="margin-left: 60px;">学习时间（截止）：</span>
                                        <input type="text" id="txtEndTime" style="width: 150px;" class="s_input" onclick=" WdatePicker() " Value = '@DateTime.Now.ToString("yyyy-MM-dd")'  onfocus=" WdatePicker({ doubleCalendar: true, dateFmt: 'yyyy-MM-dd' }) " />
                                    </td>
                                </tr>
                                <tr id="trCover">
                                    <th>课程封面：
                                    </th>
                                    <td colspan="4" class="context" style="border-bottom: 1px dashed #DDDDDD">
                                        <input type="button" id="btnPortrait" value="上传课程封面" class="btnSearch"/>
                                        &nbsp;&nbsp;
                                        <img alt="课程封面" id="imgCover" name="imgCover" src="@Url.Content("~/Content/Images/adddefault.jpg")" width="100px" height="80px" />
                                    </td>
                                </tr>
                                <tr id="txtFile">
                                    <th>附件上传：
                                    </th>
                                    <td colspan="4" class="context" style="border-bottom: 1px dashed #DDDDDD">
                                        <input type="file" name="uploadify" value='添加附件' id="fileUpload" />
                                        <div id="fileQueue"></div>
                                    </td>
                                </tr>
                                <tr id="txtLink" style="display: none">
                                    <th>链接视频：
                                    </th>
                                    <td colspan="4">
                                        <textarea style="width: 600px; height: 100px;" id="InputUrl" placeholder="请输入外部视频外部链接"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th>课件简介：
                                    </th>
                                    <td colspan="4" class="context" style="border-bottom: 1px dashed #DDDDDD; background-color: #ffffff">
                                        <textarea id="txtDescrible" style="width: 600px; height: 100px;"></textarea>
                                        <script type="text/javascript">
                                            uedes = UE.getEditor('txtDescrible');
                                        </script>
                                    </td>
                                </tr>
                                <!--用户于图文课程内容-->
                                <tr id="trContent">
                                    <th>课件内容：
                                    </th>
                                    <td colspan="4" class="context" style="border-bottom: 1px dashed #DDDDDD; background-color: #ffffff">
                                        <textarea id="txtContent" style="width: 600px; height: 100px;"></textarea>
                                        <script type="text/javascript">
                                            uecon = UE.getEditor('txtContent');
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                        <input type="button" class="btnSearch" onclick="SaveCourse()" value="保存" />
                                        &nbsp;&nbsp;
                                        <input type="button" class="btnSearch" onclick="CancelCourse()" value="取消" />
                                    </td>
                                </tr>
                                @Html.HiddenFor(t => t.Id)
                                @Html.HiddenFor(t => t.Describle)
                                @Html.HiddenFor(t => t.Contents)
                                @Html.HiddenFor(t => t.StartTime)
                                @Html.HiddenFor(t => t.EndTime)
                                @Html.HiddenFor(t => t.Receives)
                                @Html.HiddenFor(t => t.Files)
                                @Html.HiddenFor(t => t.Cover)
                                @Html.HiddenFor(t => t.LinkUrl)

                            </tbody>
                            
                        }
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        //课程类型改变事件
        $("#CourseType").change(function () {
            ChangnType($(this).val());
        });
        ChangnType($("#CourseType").val());
        CoverAjaxUpload($("#btnPortrait"), $("#imgCover"), $("#Cover"));

    });

    function ChangnType(courseType) {
        var sel = courseType;
        if (sel == 4) {
            $("#trSource").hide();
            $("#trContent").hide();
            $("#trTime").hide();
            $("#trCover").hide();
            $("#linkAudio").hide();
            $("#LinkMv").hide();
            $("#txtFile").show();
            $("#txtLink").hide();
        } else if (sel == 1 || sel == 2) {
            if (sel == 1) {
                $("#linkAudio").show();
                $("#LinkMv").show();
                $("#trSource").show();
                $("#trContent").hide();
                $("#trTime").show();
                $("#trCover").show();
            }
            else {
                $("#linkAudio").hide();
                $("#LinkMv").hide();
                $("#trSource").show();
                $("#trContent").hide();
                $("#trTime").show();
                $("#trCover").show();
                $("#txtFile").show();
                $("#txtLink").hide();
            }
        } else {
            $("#trSource").show();
            $("#trContent").show();
            $("#trTime").show();
            $("#trCover").show();
            $("#linkAudio").hide();
            $("#LinkMv").hide();
            $("#txtFile").show();
            $("#txtLink").hide();
        }
    }


    /*
    * 封面图片上传
    * 添加人：周 鹏
    * 添加时间：2014-11-15
    */
    function CoverAjaxUpload(buttonId, imageId, hiddenId) {
        /* 
        *buttonId---上传按钮的Id
        *imageId----为图片Id
        *hiddenId---隐藏控件，为传递到后台的图片路径
        *fileType--附件类型
        */
        new AjaxUpload(buttonId, {
            action: "/Upload/UploadImageFor",
            responseType: 'json',
            onSubmit: function (file, ext) {
                //alert(ext);
                if (!(ext && /^(jpg|png|jpeg|gif|bmp)$/.test(ext))) {
                    alert('错误：无效的文件扩展名！');
                    return false;
                } else {
                }
            },
            onComplete: function (file, response) {
                if (response.Status != 'error') {
                    hiddenId.val(response.ResourceId);
                    imageId.attr('src', response.ViewAddress);  //显示图片
                } else {
                    alert('错误：上传过程中出现异常！');
                }
            }
        });
    }

    /*
    * 选择接收对象
    */
    function SelectUser() {
        var recive = $("#Receives").val();
        var url = '@Url.Action("SelectPerson", "System")?Receives=';
        result = window.showModalDialog(url, window, "dialogWidth:300px;dialogHeight:380px;status:no;");
        result = result.split('|');
        pname = result[0];
        pid = result[1];
        $("#area").val(pname);
        $("#Receives").val(pid);
    }

    /*
    * 保存课程
    * 添加人：周 鹏
    * 添加时间：2014-11-15
    */
    function SaveCourse() {
        
        if (confirm("您确定添加课程吗？")) {
            if ($("#LinkMv").is(':checked')) {
                if ($("#InputUrl").val() == "") {
                    alert('提示：请输入视频链接');
                    return;
                }
                var sel = $("#CourseType").val();
                $("#Describle").val(uedes.getContent());
                $("#Contents").val(uecon.getContent());
                $("#StartTime").val($("#txtStartTime").val());
                $("#EndTime").val($("#txtEndTime").val());
                $("#LinkUrl").val($("#InputUrl").val());

            }
            else {
                var uploadfiles = $(".uploadifyfile");
                
                
                
                var sel = $("#CourseType").val();
                if ((sel == 1 || sel == 2) && uploadfiles.length <= 0) {
                    alert('提示：请上传附件！');
                    return;
                }
                else if ((sel == 1 || sel == 2) && uploadfiles.length > 1) {
                    alert('提示：视、音频只允许上传一个！');
                    return;
                }
                var files = "";
                for (var i = 0; i < uploadfiles.length; i++) {
                    files += uploadfiles[i].value + ",";                    
                }

                $("#Describle").val(uedes.getContent());
                $("#Contents").val(uecon.getContent());
                $("#StartTime").val($("#txtStartTime").val());
                $("#EndTime").val($("#txtEndTime").val());
                $("#Files").val(files);   //上传的附件
            }
            $.ajax({
                cache: true,
                type: "POST",
                url: '@Url.Action("SaveCourse")',
                data: $('#formmain').serialize(),
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data.rtState == 0) {
                        if (confirm('提示：课件保存成功，是否继续新增？')) {
                            location.href = "AddCourse";
                        } else {
                            //closeDialog();
                            location.href = "CourseManager";
                        }
                    } else {
                        alert('保存出现异常,请联系管理员！');
                    }
                },
                error: function (result) {
                    var b = result;
                }
            });
        }

    }

    function CancelCourse() {
        if (confirm('提示：是否放弃新增？')) {
            //closeDialog();
            location.href = "CourseManager";
        }
    }

    function changeStatus() {
        if ($("#LinkMv").is(':checked')) {
            $("#txtLink").show();
            $("#txtFile").hide();
        }
        else {
            $("#txtFile").show();
            $("#txtLink").hide();
        }
    }
    function changeType() {

        var type = $("#course").val();
        if (type == "1") {
            $("#linkAudio").show();
        }
        else {
            $("#linkAudio").hide();
        }
    }
</script>
