@using Yookey.WisdomClassed.SIP.Enumerate
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml.cshtml";
}
@{
    var topCourse = ViewData["TopCourse"] as DataTable;
    var dynamic = ViewData["Dynamic"] as DataTable;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理中心</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->
    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--引入弹窗组件start-->
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>
    <!--引入弹窗组件end-->
    <link href="@Url.Content("~/Librarys/css/sipac.css")" rel="stylesheet">


    <style type="text/css">
        body {
            font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
        }

        .ui-jqgrid .ui-jqgrid-htable th {
            height: 28px;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }

        .form-find td {
            width: auto;
            background-color: #fff;
            height: auto;
            line-height: normal;
            padding: 2px 5px;
        }

        .QueryArea {
            padding: 20px 10px;
        }

            .QueryArea:after {
                content: '';
                display: block;
                visibility: visible;
                width: 0;
                height: 0;
                clear: both;
            }

        .tableNav td {
            cursor: pointer;
        }

            .tableNav td img {
                display: block;
            }

            .tableNav td a {
                font-size: 16px;
            }
    </style>

    <script type="text/javascript">

        //改变分值类型
        @* function ChangeScoreType(scoreType, selectId) {
            getAjax('@Url.Action("AjLoadItems")', { scoreType: scoreType, selectId: selectId }, function (msg) {
                eval(msg);
            });
        }*@
    </script>
</head>
<body>
    <div>
        <div class="leftline rightline" style="margin-left: 1px; margin-right: 0px;">
            <div class="QueryArea">
                <table border="0" class="form-find" style="float: left">
                    <tr>
                        <th>课件名称：</th>
                        <td>
                            <input id="txtKeyword" style="margin-top: 0px;" class="s_sb_cont sipac_editbox sipac_form inpIndex" size="60" type="text" />
                        </td>

                        <td>
                            <input type="button" class="btnSearch" value="查 询" onclick="btn_Search()" />
                        </td>
                        <td>
                            <input type="button" class="btnSearch" value="新 增" onclick="btn_Add()" />
                        </td>
                    </tr>
                </table>
                <table border="0" class="form-find tableNav" style="float: right">
                    <tbody>
                        <tr style="margin-right: 0px">
                            <td>
                                <img width="20" height="20" src="@Url.Content("~/Librarys/images/allIcon.png")" border="0"></td>
                            <td>
                                <a href="javascript:void(0)" onclick="CourseTypeSearch();">全部</a>
                            </td>
                            <td>
                                <img width="20" height="20" src="@Url.Content("~/Librarys/images/videoIcon.png")" border="0"></td>
                            <td>
                                <a href="javascript:void(0)" onclick="CourseTypeSearch(@((int)CourseType.Video))">视频类课件</a>
                            </td>
                            <td>
                                <img width="20" height="20" src="@Url.Content("~/Librarys/images/musicIcon.png")"border="0">
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="CourseTypeSearch(@((int)CourseType.Voice))">音频类课件</a>
                            </td>
                            <td>
                                <img width="20" height="20"src="@Url.Content("~/Librarys/images/imgIcon.png")"border="0">
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="CourseTypeSearch(@((int)CourseType.Political))">图文类课件</a>
                            </td>
                            @* <td>
                                <img width="20" height="20"src="@Url.Content("~/Content/Images/down.jpg")"border="0">
                            </td>
                            <td >
                                <a href="javascript:void(0)" onclick="CourseTypeSearch(@((int)CourseType.Down))">下载类</a>
                            </td>*@
                            <td>
                                <input type="hidden" id="courseTypeId" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="grid_List" class="topline">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
        <style>
            .ui-widget-content {
                border-left: none;
            }
        </style>
    </div>
</body>
</html>
<script>
    $(function () {
        GetGrid();
    });
    //加载表格
    function GetGrid() {
        var keyword = $("#txtKeyword").val();
        var courseTypeId = $("#courseTypeId").val();
        $("#gridTable").jqGrid({
            url: '@Url.Action("GetCourseList")',
            postData: {
                courseTypeId: courseTypeId,
                keyword: keyword,
            },
            datatype: "json",
            height: $(window).height() - 133,
            autowidth: true,
            colModel: [
                { label: "主键", name: "Id", index: "Id", hidden: true },
                { label: "课程名称", name: "Title", index: "Title", width: 550, align: 'left', sortable: false },
                { label: "分值", name: "Score", index: "Score", hidden: true, sortable: false },
                { label: "课程类型", name: "CourseType", index: "CourseType", hidden: true, sortable: false },
                { label: "发布时间", name: "CreateOn", index: "CreateOn", width: 180, align: 'left', sortable: false },
                {
                    label: "操作", name: "Id", index: "Id", width: 300, align: 'center', formatter: function (value, grid, rows, state) {
                        var btns = "<input type='button' class='btnSearch' onclick='editcheck(\"" + value + "\")' value='编辑'/>";
                        btns += "&nbsp;<input type='button' class='btnSearch' onclick='delcheck(\"" + value + "\")' value='删除'/>";
                        return btns;
                    }
                }
            ],
            viewrecords: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: false,
            onSelectRow: function (rowid, iRow, iCol, e) {
            },
            ondblClickRow: function (rowid, iRow, iCol, e) {
            },
        });
    }

    /*
 * 搜索/加载数据列表
 * 添加人：周 鹏
 * 添加时间：2014-11-14
 * 修改描述：时间+作者+描述
 */
    function btn_Search() {
        var keyword = $("#txtKeyword").val();
        var courseTypeId = $("#courseTypeId").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("GetCourseList")',
            postData: {
                courseTypeId: courseTypeId,
                keyword: keyword,
            },
            page: 1
        }).trigger('reloadGrid');
    }

       @* function btn_Search(pageIndex) {
            //加载数据列表
            var keyword = $("#txtKeyword").val();
            var courseTypeId = $("#courseTypeId").val();
            $("#gridTable").jqGrid('setGridParam', {
                url: '@Url.Action("GetCourseList")?courseTypeId=' + courseTypeId + '&keyword=' + keyword + '&pageIndex=' + pageIndex + '&rnd=' + Math.random()
            }).trigger('reloadGrid');
        }*@

    function btn_Add() {
        location.href = "AddCourse";
    }


    //function pagea(pageIndex) {
    //    btn_Search(pageIndex);
    //}

    function CourseTypeSearch(courseTypeId) {
        $("#courseTypeId").val(courseTypeId);
        btn_Search();
    }

    /*
* 数据删除
*/
    function delcheck(id) {
        if (!confirm('友情提醒：删除课程将会对已学习该课程的学员产生影响，您确定要删除该课程吗？')) return;
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("Delete")',
                data: { id: id, type: 'Course' },
                success: function (result) {
                    btn_Search();
                }
            });
        }

        //课件编号
        function editcheck(id) {
            var url = '@Url.Action("EditCourse", "System")?courseId=' + id;
        var width = $(window).width();
        width = width - (width * 0.3);
        var height = $(window).height();
        top.$.dialog({
            id: "TheFirstDialogWindow",
            lock: true,
            title: "编辑",
            max: false,
            min: false,
            width: width,
            height: height,
            content: 'url:' + url
        });
        //location.href = "EditCourse?courseId=" + id;
    }
</script>
