@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Model.Hr

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>处理情况统计表</title>
    <!--框架必需start-->
    <link href="@Url.Content("~/Content/Styles/learunui-startmenu.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-accordion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/learunui-framework.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Librarys/learunui-framework.js")"></script>
    <!--框架必需end-->

    <link href="@Url.Content("~/Librarys/casepic/css/style.css")" rel="stylesheet" />

    <!--jqgrid表格组件start-->
    <script src="@Url.Content("~/Librarys/jqgrid/jquery-ui-custom.min.js")"></script>
    <script src="@Url.Content("~/Librarys/jqgrid/grid.locale-cn.js")"></script>
    <link href="@Url.Content("~/Librarys/jqgrid/css/jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Librarys/jqgrid/jqGrid.js")"></script>
    <!--jqgrid表格组件end-->

    <!--布局组件start-->
    <script src="@Url.Content("~/Librarys/layout/splitter.js")"></script>
    <!--布局组件end-->

    <!--日期组件start-->
    <script src="@Url.Content("~/Librarys/datepicker/WdatePicker.js")"></script>
    <!--日期组件end-->

    <style type="text/css">
        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            background: none;
        }

        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: 25px;
            border-bottom: 1px solid #cccccc;
        }

        .ui-state-default, .ui-th-column-header, .ui-th-ltr {
            padding-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }

        .ui-widget-content {
            border-bottom-color: #ccc;
        }
    </style>


    <script type="text/javascript">

        $(document).ready(function () {
            var height = $(window).height() - 50;
            $("#tableList").css('height', height);

            Loading(false);

            GetGrid();
            BindCompany();
        });
        //绑定单位（大队）
        function BindCompany() {
            getAjax("@Url.Action("GetCompanyDropList", "Company", new { area = "CommonModule" })", { controlId: "drpCompany", defaultSelId: "@ViewBag.CompanyId" }, function (cmsg) {
                eval(cmsg);
            });
        }

        var lastSel;
        //加载表格
        function GetGrid() {
            $("#gridTable").jqGrid({
                url: "@Url.Action("GetIllegalConstructionStatisticList", "IllegalConstruction")",
                datatype: "json",
                height: $(window).height() - 90,
                autowidth: true,
                colModel: [
                    { label: "主键", name: "Id", index: "Id", hidden: true },
                    { label: "结算时间", name: "UpdateOn", index: "UpdateOn", width: 100, align: 'center' },
                    { label: "作业时间", name: "LetterOfPresentationSetTime", index: "LetterOfPresentationSetTime", width: 100, align: 'center' },
                    { label: "作业公司", name: "DismantleCompany", index: "DismantleCompany", width: 100, align: 'center' },
                    { label: "片区", name: "CompanyName", index: "CompanyName", width: 100, align: 'center' },
                    { label: "结算方式", name: "SettlementType", index: "SettlementType", width: 100, align: 'center' },
                    { label: "占地面积(㎡)", name: "FloorSpace", index: "FloorSpace", width: 100, align: 'center', formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                    { label: "系数", name: "Factor", index: "Factor", width: 80, align: 'center' },
                    { label: "拆除面积(㎡)", name: "DismantleArea", index: "DismantleArea", width: 100, align: 'center', formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                    { label: "拆除价", name: "DismantlePrice", index: "DismantlePrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } },
                    { label: "人工数", name: "Manpower", index: "Manpower", width: 80, align: 'right' },
                    { label: "人工价", name: "ManpowerPrice", index: "ManpowerPrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } },
                    { label: "拆窗数", name: "SecurityWindow", index: "SecurityWindow", width: 80, align: 'center' },
                    { label: "拆窗价", name: "SecurityWindowPrice", index: "SecurityWindowPrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } },
                    { label: "整体拆除价", name: "WholeReason", index: "WholeReason", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } },
                    { label: "封墙面积(㎡)", name: "FqArea", index: "FqArea", width: 100, align: 'center' },
                    { label: "封墙价", name: "FqPrice", index: "FqPrice", width: 100, align: 'center', formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                    { label: "清运垃圾车数", name: "GarbageCar", index: "GarbageCar", width: 100, align: 'center' },
                    { label: "清运垃圾价", name: "GarbagePrice", index: "GarbagePrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } },
                    { label: "其他说明", name: "Other", index: "Other", width: 100, align: 'center' },
                    { label: "其他价", name: "OtherPrice", index: "OtherPrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2 } },
                    { label: "总价", name: "CountPrice", index: "CountPrice", width: 100, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2, thousandsSeparator: ',' } }
                ],
                footerrow: true,
                gridComplete: function () {
                    completeMethod();
                },
                userDataOnFooter: true,
                pager: false,
                rownumbers: true,
                rowNum: 3000,
                cellLayout: 0,
                shrinkToFit: false,
                ondblClickRow: function (rowid, iRow, iCol, e) {
                    //Detail();
                }
            });
        }
        function completeMethod() {
            var SumDismantleArea = $("#gridTable").getCol('DismantleArea', false, 'sum');
            var SumDismantlePrice = $("#gridTable").getCol('DismantlePrice', false, 'sum');
            var Manpower = $("#gridTable").getCol('Manpower', false, 'sum');
            var ManpowerPrice = $("#gridTable").getCol('ManpowerPrice', false, 'sum');
            var SecurityWindow = $("#gridTable").getCol('SecurityWindow', false, 'sum');
            var SecurityWindowPrice = $("#gridTable").getCol('SecurityWindowPrice', false, 'sum');
            var WholeReason = $("#gridTable").getCol('WholeReason', false, 'sum');
            var FqArea = $("#gridTable").getCol('FqArea', false, 'sum');
            var FqPrice = $("#gridTable").getCol('FqPrice', false, 'sum');
            var GarbageCar = $("#gridTable").getCol('GarbageCar', false, 'sum');
            var GarbagePrice = $("#gridTable").getCol('GarbagePrice', false, 'sum');
            var OtherPrice = $("#gridTable").getCol('OtherPrice', false, 'sum');
            var CountPrice = $("#gridTable").getCol('CountPrice', false, 'sum');
            $("#gridTable").footerData('set', {
                "LetterOfPresentationSetTime": '合计', DismantleArea: SumDismantleArea, DismantlePrice: SumDismantlePrice,
                Manpower: Manpower, ManpowerPrice: ManpowerPrice, SecurityWindow: SecurityWindow,
                SecurityWindowPrice: SecurityWindowPrice, WholeReason: WholeReason, FqArea: FqArea,
                FqPrice: FqPrice, GarbageCar: GarbageCar, GarbagePrice: GarbagePrice, OtherPrice: OtherPrice, CountPrice: CountPrice
            });
        }

    </script>

</head>
<body>
    <div id="layout" class="layout">
        <!--左边-->
        <div class="layoutPanel">
            <!--列表-->
            <div id="grid_List">
                <div class="bottomline" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
                    <table border="0" class="form-find">
                        <tr>
                            <th>所属片区：</th>
                            <td>
                                <select id="drpCompany" class="select" style="width: 130px;"></select>
                            </td>
                            <th style="width: 80px">结算时间：</th>
                            <td>
                                @Html.TextBox("StartDate", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                                &nbsp;&nbsp;至&nbsp;&nbsp;
                                @Html.TextBox("EndDate", "", new { @class = "txt Wdate", @onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @style = "width:110px" })
                            </td>
                            <th>作业公司：</th>
                            <td>
                                @Html.DropDownList("DismantleCompanyId", (ViewData["DismantleCompany"] as IEnumerable<SelectListItem>), new { @class = "select", @style = "width: 130px" })
                            </td>
                            <td style="text-align: right;" colspan="2">
                                <input type="button" class="btnSearch" value="查 询" onclick="javascript: Search();" />
                                @*<input type="button" class="btnSearch" value="导 出" onclick="javascript: Export();" />&nbsp;                                *@
                            </td>
                        </tr>
                    </table>
                </div>
                <table id="gridTable"></table>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    $(function () {

    });

    /*
     * 数据查询
     */
    var LetterOfPresentationSetTime;
    var drpCompany;
    var DismantleCompanyId;
    function Search() {
        LetterOfPresentationSetTime = $("#LetterOfPresentationSetTime").val();
        drpCompany = $("#drpCompany").val();
        DismantleCompanyId = $("#DismantleCompanyId").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Action("GetIllegalConstructionStatisticList", "IllegalConstruction")?sDate=" + $("#StartDate").val() + "&eDate=" + $("#EndDate").val() + "&drpCompany=" + drpCompany + "&dismantleCompanyId=" + DismantleCompanyId
        }).trigger('reloadGrid');
    }
    //刷新
    function Replace() {
        reloadGrid();
    }
    //重新载入表格数据
    function reloadGrid() {
        $("#gridTable").jqGrid('setGridParam', {
            url: '@Url.Action("GetIllegalConstructionStatisticList", "IllegalConstruction")',
            datatype: 'json',
            page: 1
        }).trigger("reloadGrid"); //重新载入 
    }
    //导出
    function Export() {
        var foot = $("#gridTable").jqGrid("footerData");
        var url = "@Url.Action("Export", "IllegalConstruction")";
        $.ajax({
            url: url,
            data: {
                'SetTime': LetterOfPresentationSetTime,
                'drpCompany': drpCompany,
                'DismantleCompanyId': DismantleCompanyId,
                'footer': JSON.stringify(foot)
            },
            type: 'post',
            datatype: 'json',
        });
    }
</script>
