@using System.Data;
@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Enumerate
@model Yookey.WisdomClassed.SIP.Model.PageObject<DataTable>
@{
    Layout = "~/Views/Shared/_Layout.cshtml.cshtml";
}
<script src="@Url.Content("~/Scripts/PersonelCenterScript.js")"></script>
@{
    
    var topCourse = ViewData["TopCourse"] as DataTable;
    var dynamic = ViewData["Dynamic"] as DataTable;

    var electives = ViewData["Electives"] as Yookey.WisdomClassed.SIP.Model.PageObject<DataTable>;
    var required = ViewData["Required"] as Yookey.WisdomClassed.SIP.Model.PageObject<DataTable>;
    var finish = ViewData["Finish"] as Yookey.WisdomClassed.SIP.Model.PageObject<DataTable>;
    var courseType = ViewData["CourseType"] as Dictionary<string, string>;
}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="~/Librarys/css/chosen.min.css" rel="stylesheet" />
    <link href="~/Librarys/css/sipac.css" rel="stylesheet" />
    <link href="~/Librarys/css/index.css" rel="stylesheet" />

    @*<script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>*@
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="~/Librarys/js/chosen.jquery.min.js"></script>
    <script src="~/Librarys/js/main.js"></script>
    <script src="@Url.Content("~/Librarys/lhgdialog/lhgdialog.min.js")" type="text/javascript"></script>

    <title>课程列表</title>
    <style>
        .sipac_tableBox th, .sipac_tableBox td {
            padding: 2px;
        }

        .classifyBox .classifyOne ul li {
            margin-top: 10px;
        }
    </style>
</head>
<body class="sipac_full" style="background-color: white;">
    <div class="sipac_wrap">
        <div class="sipac_body">
            <div class="sipac_container">
                <div class="classifyBox">
                    <div class="classifyOne" style="width: 100%;border-bottom: 1px solid #ccc;">
                        <ul>
                            <li>
                                <span class="chooseLi" id="choose1" onclick="showTable(1)">选修课程</span>
                            </li>
                            <li>
                                <span id="choose2" onclick="showTable(2)">必修课程</span>
                            </li>
                            <li>
                                <span id="choose3" onclick="showTable(3)">已完成学习</span>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="sipac_selectbox">
                    <div class="s_sb_cont paddigNo">
                        <div class="StudyBox coursewareTableBox">
                            <div class="sipac_tableBox">
                                <table class="coursewareTable" id="studyTable1">
                                    <thead>
                                        <tr>

                                            <th><span>序号</span></th>
                                            <th style="width: 40%;"><span>课件名称</span></th>
                                            <th><span>学习进度</span></th>
                                            <th><span>学分</span></th>
                                            <th><span>类型</span></th>
                                            <th><span>学习</span></th>
                                            <th><span>删除</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (electives.Items != null && electives.Items.Rows.Count > 0)
                                            {
                                                int indexStr = 1;
                                                foreach (DataRow eleRow in electives.Items.Rows)
                                                {
                                                    var title = eleRow["Title"].ToString();
                                                    title = title.Length >= 19 ? title.Substring(0, 16) + "..." : title;
                                                                        
                                            <tr class="table2">
                                                <td>@indexStr</td>
                                                <td style="text-align: left">&nbsp;&nbsp;
                                                                        @{switch (eleRow["CourseType"].ToString())
                                                                          {
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/Images/j3.jpg")" />
                                                                                  break;
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/Images/f.jpg")" />
                                                                                  break;
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/Images/d.jpg")" />
                                                                                  break;

                                                                              default:
                                                                            <img src="@Url.Content("~/Content/Images/down.jpg")" />
                                                                                  break;
                                                                          }
                                                                        }
                                                    <a title="@(eleRow["Title"])" onclick="javascript:StudyCourse('@eleRow["Id"]')">@(Yookey.WisdomClassed.SIP.Common.CommonMethod.GetStrByLength(title, 15))</a>
                                                </td>
                                                <td>@(eleRow["Progress"])%</td>
                                                <td>@(eleRow["Score"])</td>
                                                <td>@(courseType[eleRow["CourseType"].ToString()])</td>
                                                <td><a onclick="javascript:StudyCourse('@eleRow["Id"]')" @*href="CourseDetails?courseId=@(eleRow["Id"])"*@>学习</a></td>
                                                <td>
                                                    <a  onclick="delcheck('@(eleRow["Id"])');">
                                                        <img src="@Url.Content("~/Content/images/DeleteRed.png")" border="0" style="cursor: hand;">
                                                    </a>
                                                </td>
                                            </tr>
                                                                          indexStr++;
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                                @{
                                    if (electives != null)
                                    {
                                    <table class="btn_page" id="tabPage1" style="margin-top:15px;width: 100%;border: none;">
                                        <tr>
                                            <td colspan="7" style="border: none;">
                                                <span class="pageLeft">共<font>@electives.TotalRecords</font> 条数据 当前第<font>@electives.CurrentPage</font>页
                            共<font>@electives.TotalPages</font>页</span>
                                                <span class="pager" style="margin-left:60px">
                                                    @Html.Pager("page", electives.PageSize, electives.TotalRecords)
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                            </div>
                            <div class="sipac_tableBox">
                                <table class="coursewareTable" id="studyTable2" style="display: none">
                                    <thead>
                                        <tr>

                                            <th><span>序号</span></th>
                                            <th style="width: 40%;"><span>课件名称</span></th>
                                            <th><span>学习进度</span></th>
                                            <th><span>学分</span></th>
                                            <th><span>类型</span></th>
                                            <th><span>学习</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (required.Items != null && required.Items.Rows.Count > 0)
                                            {
                                                int indexStr = 1;
                                                foreach (DataRow eleRow in required.Items.Rows)
                                                {
                                                    var title = eleRow["Title"].ToString();
                                                    title = title.Length >= 19 ? title.Substring(0, 16) + "..." : title;
                                                                        
                                            <tr class="table2">
                                                <td>@indexStr</td>
                                                <td style="text-align: left">&nbsp;&nbsp;
                                                                        @{switch (eleRow["CourseType"].ToString())
                                                                          {
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/Images/j3.jpg")" />
                                                                                  break;
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/Images/f.jpg")" />
                                                                                  break;
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/Images/d.jpg")" />
                                                                                  break;

                                                                              default:
                                                                            <img src="@Url.Content("~/Content/Images/down.jpg")" />
                                                                                  break;
                                                                          }
                                                                        }
                                                    <a title="@(eleRow["Title"])" onclick="javascript:StudyCourse('@eleRow["Id"]')">@Yookey.WisdomClassed.SIP.Common.CommonMethod.GetStrByLength(title, 15))</a>
                                                </td>
                                                <td>@(eleRow["Progress"])%</td>
                                                <td>@(eleRow["Score"])</td>
                                                <td>@(courseType[eleRow["CourseType"].ToString()])</td>
                                                <td><a onclick="javascript:StudyCourse('@eleRow["Id"]')" @*href="CourseDetails?courseId=@(eleRow["Id"])"*@>学习</a></td>
                                            </tr>
                                                                          indexStr++;
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                                @{
                                    if (required != null)
                                    {
                                    <table class="btn_page" id="tabPage2" style="display: none;position: fixed;bottom: 0;width: 100%;border: none;">
                                        <tr>
                                            <td colspan="7" style="border: none;">
                                                <span class="pageLeft">共<font>@required.TotalRecords</font> 条数据 当前第<font>@required.CurrentPage</font>页
                            共<font>@required.TotalPages</font>页</span>
                                                <span class="pager" style="margin-left:60px">
                                                    @Html.Pager("page", required.PageSize, required.TotalRecords)
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                            </div>
                            <div class="sipac_tableBox">
                                <table class="coursewareTable" id="studyTable3" style="display: none">
                                    <tbody>
                                        <tr class="table1">
                                            <th><span>序号</span></th>
                                            <th style="width: 40%;"><span>课件名称</span></th>
                                            <th><span>学分</span></th>
                                            <th><span>类型</span></th>
                                            <th><span>学习类型</span></th>
                                            <th><span>学习</span></th>
                                        </tr>
                                        @{
                                            if (finish.Items != null && finish.Items.Rows.Count > 0)
                                            {
                                                var indexStr = 1;
                                                foreach (DataRow eleRow in finish.Items.Rows)
                                                {
                                                    var title = eleRow["Title"].ToString();
                                                    title = title.Length >= 25 ? title.Substring(0, 25) + "..." : title;
                                            <tr class="table2">
                                                <td>@indexStr</td>
                                                <td style="text-align: left">&nbsp;&nbsp;
                                                                        @{switch (eleRow["CourseType"].ToString())
                                                                          {
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/Images/j3.jpg")" />
                                                                                  break;
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/Images/f.jpg")" />
                                                                                  break;
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/Images/d.jpg")" />
                                                                                  break;

                                                                              default:
                                                                            <img src="@Url.Content("~/Content/Images/down.jpg")" />
                                                                                  break;
                                                                          }
                                                                        }
                                                    <a title="@(eleRow["Title"])" onclick="javascript:ContinueStudy('@eleRow["Id"]')" >@(Yookey.WisdomClassed.SIP.Common.CommonMethod.GetStrByLength(title, 25))</a>
                                                </td>
                                                <td>@(eleRow["Score"])</td>
                                                <td>@(courseType[eleRow["CourseType"].ToString()])</td>
                                                <td>
                                                    @(eleRow["ReceiveType"].ToString().Equals("1") ? "选修" : "必修")
                                                </td>
                                                <td>
                                                    <a onclick="javascript:ContinueStudy('@eleRow["Id"]')" href="javascript:void(0)">学习</a>
                                                </td>
                                            </tr>
                                                                          indexStr++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                                @{
                                    if (finish != null)
                                    {
                                    <table class="btn_page" id="tabPage3" style="display: none;position: fixed;bottom: 0;width: 100%;border: none;">
                                        <tr>
                                            <td colspan="7" style="border: none;">
                                                <span class="pageLeft">共<font>@finish.TotalRecords</font> 条数据 当前第<font>@finish.CurrentPage</font>页
                            共<font>@finish.TotalPages</font>页</span>
                                                <span class="pager" style="margin-left:60px">
                                                    @Html.Pager("page", finish.PageSize, finish.TotalRecords)
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>*@

</html>

<script type="text/javascript">
    $('.classifyOne li').click(function () {
        $('.coursewareTable').hide();
        $('.coursewareTable').eq($(this).index()).show();
        $('.classifyOne li span').removeClass("chooseLi");
        $('.classifyOne li span').eq($(this).index()).addClass("chooseLi");

    })
    function showTable(num) {
        $(".btn_page").hide()
        $("#tabPage" + num).show();
    }
    //function showTable(num) {
    //    if (num == 1) {
    //        $("#choose2").removeClass("chooseLi");
    //        $("#choose1").addClass("chooseLi");
    //        document.getElementById("studyTable1").style.display = 'block';
    //        document.getElementById("studyTable2").style.display = 'none';
    //    }
    //    if (num == 2) {
    //        $("#choose1").removeClass("chooseLi");
    //        $("#choose2").addClass("chooseLi");
    //        document.getElementById("studyTable2").style.display = 'block';
    //        document.getElementById("studyTable1").style.display = 'none';
    //    }
    //}


    function delcheck(id) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("DelPersonalElectives")',
            data: { id: id },
            success: function (result) {
                if (result == "Ok") {
                    location.reload();
                } else if (result == "UnDelete") {
                    alert("课程学习进度已经超过百分之十,不允许被删除！");
                }
                else {
                    alert(result);
                }
            }
        });
    }
    /*
 * 查询
 * 添加人：楚华锋
 * 添加时间：2014-12-01
 * 修改描述：时间+作者+描述
 */
    function Search() {
        var keyword = $("#txtKeyword").val();
        location.href = "PersonalCenter?keyword=" + keyword;

    }
    function GiveValue() {
        $("#txtKeyword").val(@ViewBag.keyword);
    }

    function StudyCourse(courseId) {
        var url = '@Url.Action("CourseDetails", "Course")?courseId=' + courseId;
        var width = $(window).width() * 0.8;
        var height = $(window).height() * 0.6;
        top.$.dialog({
            id: "TheFirstDialogWindow",
            lock: true,
            title: "学习",
            max: false,
            min: false,
            width: width,
            height: height,
            content: 'url:' + url
        });
    }

    //继续学习
    function ContinueStudy(courseId) {
        var url = '@Url.Action("CourseDetails", "Course")?courseId=' + courseId;
        if (confirm('该课程已经学习完成,重复学习将不会被积分,是否继续？')) {
            var width = $(window).width();
            var height = $(window).height();
            top.$.dialog({
                id: "TheFirstDialogWindow",
                lock: true,
                title: "学习",
                max: false,
                min: false,
                width: width,
                height: height,
                content: 'url:' + url
            });
            //location.href = "CourseDetails?courseId=" + courseId;
        }
    }

</script>
