@{
    Layout = null;
}
@using System.Data;
@using Yookey.WisdomClassed.SIP.Common
@using Yookey.WisdomClassed.SIP.Enumerate
@model Yookey.WisdomClassed.SIP.Model.PageObject<DataTable>
@{
    var typeId = int.Parse(ViewBag.TypeId);
    var courseType = ViewData["CourseType"] as Dictionary<string, string>;
}
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 10px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" height="29" border="0" cellspacing="0" cellpadding="0" background="@Url.Content("~/Content/Images/cen_menu_cen.gif")">
                                    <tbody>
                                        <tr>
                                            <td width="8" align="left" valign="top">
                                                <img src="@Url.Content("~/Content/Images/cen_menu_left.gif")" width="8" height="29"></td>
                                            <td width="25" align="right">
                                                <img src="@Url.Content("~/Content/Images/icon.jpg")" alt="" width="15" height="15"></td>
                                            <td class="cen_title1"><span class="cen-bar-menu2">
                                                <span>@(ViewBag.TypeName)</span>
                                            </span></td>
                                            <td width="7" align="right" valign="top">
                                                <img src="@Url.Content("~/Content/Images/cen_menu_right.gif")" width="7" height="29"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table">
                                    <tbody>
                                        <tr>
                                            <td height="120" align="center" valign="top">
                                                <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
                                                    <tbody>
                                                        <tr class="table1">
                                                            <td width="24%" height="30" valign="middle" class="table1">&nbsp;&nbsp;课程名称</td>

                                                            @{
                                                                if (typeId != (int)CourseQueryType.Finish)
                                                                {
                                                                <td height="30" colspan="2" align="center" valign="middle" class="table1">
                                                                    <a>学习进度▼</a>
                                                                </td>
                                                                }
                                                            }

                                                            <td width="6%" height="30" align="center" valign="middle" class="table1">学分</td>
                                                            <td width="6%" height="30" align="center" valign="middle" class="table1">类型</td>
                                                            @{
                                                                if (typeId == (int)CourseQueryType.Finish)
                                                                {
                                                                <td width="6%" height="30" align="center" valign="middle" class="table1">学习类型</td>
                                                                }
                                                            }
                                                            <td width="6%" height="30" align="center" valign="middle" class="table1">学习</td>


                                                            @*<td width="6%" height="30" align="center" valign="middle" class="table1">删除</td>*@

                                                        </tr>
                                                        @{
                                                            if (Model != null && Model.Items != null)
                                                            {
                                                                foreach (DataRow row in Model.Items.Rows)
                                                                {

                                                                    var title = row["Title"].ToString();
                                                                    title = title.Length >= 19 ? title.Substring(0, 19) + "..." : title;
                                                                    
                                                            <tr class="table2">
                                                                <td height="30" align="left" valign="middle" class="table2">&nbsp;&nbsp;<a href="/Course/CourseDetails?courseId=@(row["Id"])" title="@(row["Title"])">@(title)</a>
                                                                </td>

                                                                @{
                                                                    if (typeId != (int)CourseQueryType.Finish)
                                                                    {
                                                                    <td width="10%" height="30" class="table2">
                                                                        <table width="100" border="0" cellpadding="0" cellspacing="1">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="12" align="left" background="@Url.Content("~/Content/Images/jd_bg.gif")">
                                                                                        <img src="@Url.Content("~/Content/Images/jd.gif")" width="0" height="12">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="5%" height="30" align="left" valign="middle" class="table2">@(row["Progress"])%</td>

                                                                    }
                                                                }

                                                                <td height="30" align="center" valign="middle" class="table2">@(row["Score"])</td>
                                                                <td height="30" align="center" valign="middle" class="table2">
                                                                    @(courseType[row["CourseType"].ToString()])
                                                                </td>
                                                                @{
                                                                    if (typeId == (int)CourseQueryType.Finish)
                                                                    {
                                                                    <td height="30" align="center" class="table2" valign="middle">
                                                                        @(row["ReceiveType"].ToString().Equals("1") ? "选修" : "必修")
                                                                    </td>
                                                                    }
                                                                }
                                                                <td height="30" align="center" valign="middle" class="table2">
                                                                    <a href="CourseDetails?courseId=@(row["Id"])">学习</a>
                                                                </td>
                                                                @*                                                                <td height="30" align="center" valign="middle" class="table2">
                                                                    <a onclick="return delcheck(this);" id="" href="','')">
                                                                        <img src="@Url.Content("~/Content/Images/del.gif")" border="0"></a>
                                                                </td>*@
                                                            </tr>
                                                                }
                                                            }
                                                        
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                @{
                    if (Model != null)
                    {
                    <div class="btn_page">
                        <span class="pageLeft">共<font>@Model.TotalRecords</font> 条数据 当前第<font>@Model.CurrentPage</font>页
                            共<font>@Model.TotalPages</font>页</span>
                        <div class="pager">
                            @Html.Pager("page", Model.CurrentPage, Model.PageSize, Model.TotalRecords)
                        </div>
                    </div>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
