@using System.Data
@using Yookey.WisdomClassed.SIP.Common
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
</head>

<style type="text/css">
    html, body {
        font-family: "微软雅黑","宋体";
    }

        html.noscrollX,
        body.noscrollX {
            overflow: auto;
            overflow-x: hidden;
            _overflow-x: hidden;
        }

    body {
        background-color: #fff;
        background-attachment: fixed !important;
    }

        body.nocolor {
            background-color: transparent;
        }

    .n-title {
        border-collapse: separate;
        color: rgb(0, 0, 0);
        display: inline;
        font-family: 宋体;
        font-size: 25px;
        font-weight: bold;
    }

    .new-font {
        font-size: 14px;
        color: red;
    }
</style>

<body>
    <table width="100%">
        <tr>
            <td align="center"><span class="n-title">@ViewBag.Title</span></td>
        </tr>
        <tr>
            <td>
                <label id="content">@Html.Raw(ViewBag.Content)</label>
            </td>
        </tr>
        @{
            var files = ViewData["Files"] as DataTable;
            if (files != null && files.Rows.Count > 0)
            {
            <tr>
                <td class="n-title">附件：</td>
            </tr>
                foreach (DataRow item in files.Rows)
                {
            <tr>
                <td style="height: 40px; border: 1px dashed #DDDDDD">
                    @{
                        <a  href="@(AppConfig.OnlineClassFileUrl + item["FileAddress"])" target="_blank">@item["FileName"]</a>
                    }
                </td>
            </tr>
                }
            }
        }

        <input type="hidden" value="@ViewBag.StartTime" id="startTime"/>
        <input type="hidden" value="@ViewBag.CourseId" id="courseId"/>
    </table>
</body>
</html>

<script type="text/javascript">

    function pauseTime() {
        isStudy = false;
    }

    var studytime = 0;  //已学习时长
    var stime = 0;   //总时间（用于监听鼠标）
    var minute = 0;  //分钟
    var second = 0;  //秒
    var timeout;
    var isStudy = true;
    function ListenerTime() {
        if (isStudy) {
            minute = Math.floor(minute);
            if (minute < 10)
                minute = "0" + minute;
            if (second < 10)
                second = "0" + second;
            stime++;
            studytime++;
            minute = stime / 60;
            second = stime % 60;
            if (minute > 10) { 
                pauseTime();
            }
        }
        timeout = setTimeout("ListenerTime()", 1000);
    }
    $(function () {
        ListenerTime();
        //鼠标移动事件
        $(document).mousemove(function () {
            stime = 0;
            minute = 0;
            second = 0;
            isStudy = true;
        });
    });

    function SaveProcess() {
      
        var startTime = $("#startTime").val();
        var courseId = $("#courseId").val();
        $.ajax({
            url: '@Url.Action("StudyRecord")',
            data: { courseId: courseId, courseType: 3, startTime: startTime, studyTime: studytime, studySec: "", isFinish: "", videoTime: "" },
            async: false,
            datatype: 'json',
            success: function (data) {

            }
        });
    }

    window.onbeforeunload = function (event) {
        SaveProcess();
    };

</script>