@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>外部链接视频</title>
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>
<body onmouseout="pauseTime()">
    <div>
        @Html.Raw(ViewData["video"].ToString())
    </div>
    <input type="hidden" value="@ViewBag.StartTime" id="startTime"/>
    <input type="hidden" value="@ViewBag.CourseId" id="courseId"/>
</body>
</html>
<script type="text/javascript">

    function pauseTime() {
        isStudy = false;
    }

    var studytime = 0;  //已学习时长
    var stime = 0;   //总时间（用于监听鼠标）
    var minute = 0;  //分钟
    var second = 0;  //秒
    var timeout;
    var isStudy = true;
    function ListenerTime() {
        if (isStudy) {
            minute = Math.floor(minute);
            if (minute < 10)
                minute = "0" + minute;
            if (second < 10)
                second = "0" + second;
            stime++;
            studytime++;
            minute = stime / 60;
            second = stime % 60;
            if (minute > 10) {    //图文3分钟不动后不再计时
                pauseTime();
            }
        }
        timeout = setTimeout("ListenerTime()", 1000);
    }
    $(function () {
        ListenerTime();
        //鼠标移动事件
        $(document).mousemove(function () {
            stime = 0;
            minute = 0;
            second = 0;
        });
    });

    //保存学习记录，这里的计算方式采用“音频”的计算方式
    function SaveProcess() {

        var startTime = $("#startTime").val();
        var courseId = $("#courseId").val();
        $.ajax({
            url: '@Url.Action("StudyRecord")',
            data: { courseId: courseId, courseType: 2, startTime: startTime, studyTime: studytime, studySec: "", isFinish: "", videoTime: "" },
            async: false,
            datatype: 'json',
            success: function (data) {

            }
        });
    }

    window.onbeforeunload = function (event) {
        SaveProcess();
    };

</script>
