<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>统计分析</title>
    <link rel="stylesheet" href="@Url.Content("~/Librarys/js/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Librarys/js/css/togeither.css")">
    <link rel="stylesheet" href="@Url.Content("~/Librarys/js/css/law.css")">
</head>
<style>
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>
<body>
    <div class="contentBox">
        <div class="container-fluid contentCase">
            <div style="padding-left: 0px;">
                <div class="contenForm homeChart">
                    <div class="homeTopU" style="background-color: inherit; padding-bottom: 0px;">
                        <div class="container-fluid" style="padding: 0">
                            <div class="clearfixed">
                                <div style="background-color: #fff; float: left; width: 49.5%; margin-right: 1%">
                                    <p>违建总体情况</p>
                                    <table class="table table-hover table-bordered table-striped" style="height: 329px; width: 98%; margin: 0 auto 20px">
                                        @*<caption>拆除情况</caption>*@
                                        <tr>
                                            <td style="width: 50%">违法建设总处数</td>
                                            <td>@ViewBag.veritycount</td>
                                        </tr>
                                        <tr>
                                            <td>违法建设总面积</td>
                                            <td>@ViewBag.verityarea</td>
                                        </tr>
                                        <tr>
                                            <td>已拆除(处数)</td>
                                            <td>@ViewBag.removecount</td>
                                        </tr>
                                        <tr>
                                            <td>已拆除(面积)</td>
                                            <td>@ViewBag.removearea</td>
                                        </tr>
                                        <tr>
                                            <td>未拆除(处数)</td>
                                            <td>@ViewBag.unremovercount</td>
                                        </tr>
                                        <tr>
                                            <td>未拆除(面积)</td>
                                            <td>@ViewBag.unremovearea</td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="background-color: #fff; width: 49.5%; float: left;">
                                    <p>违建类型占比</p>
                                    <div class="chartBoxTwo" id="chartBoxTwo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="homeTopU" style="background-color: inherit;">
                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-md-12" style="background-color: #fff;">
                                    <p>部门违法案件统计</p>
                                    <div class="chartBoxThree" id="chartBoxThree">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript" src="@Url.Content("~/Content/Main/js/echarts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Main/js/jquery.js")"></script>
    <script>
        $(".liTopParent ul li a").each(function () {
            $(this).click(function () {
                $(".liTopParent ul li a").removeClass("colorChoose");
                $(this).addClass("colorChoose");
            })
        })
    </script>
    <script>
        $(function () {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetTypeData", "IllegalConstruction")',
                data: {
                }, //无参数
                dataType: 'json', //返回数据形式为json
                success: function (result) {
                    if (result) {
                        //把result(即Json数据)以参数形式放入代码中
                        bindChartTwo(result);
                    }
                },
                error: function (errorMsg) {
                }
            });
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetDeptCaseData", "IllegalConstruction")',
                data: {
                }, //无参数
                dataType: 'json', //返回数据形式为json
                success: function (result) {
                    if (result) {
                        //把result(即Json数据)以参数形式放入代码中
                        bindChartBoxThree(result);
                    }
                },
                error: function (errorMsg) {
                }
            });
        });
        //违建类型占比
        function bindChartTwo(result) {
            var myChartTwo = echarts.init(document.getElementById('chartBoxTwo'));
            var printTwo = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    type: 'scroll',
                    top: 20,
                    x: 'center',
                    data: (function () {
                        var res = [];
                        var len = result.length;
                        for (var i = 0; i < len; i++) {
                            res.push({
                                name: result[i].Name,
                            });
                        }
                        return res;
                    })(),
                },
                series: [
                    {
                        name: '违建类型分析',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: (function () {
                            var res = [];
                            var len = result.length;
                            for (var i = 0; i < len; i++) {
                                if (parseInt(result[i].Value) == 0) {
                                    res.push({
                                        //通过把result进行遍历循环来获取数据并放入Echarts中
                                        value: result[i].caseNum,
                                        name: result[i].Name,
                                        itemStyle: {
                                            normal: {
                                                label: {
                                                    show: false,
                                                    formatter: function (params, option) {
                                                        if (params.data.value == 0) {
                                                            params.data.itemStyle.normal.labelLine.show = false;
                                                            params.data.itemStyle.normal.label.show = false;
                                                        }
                                                    },
                                                },
                                                labelLine: {
                                                    show: true
                                                }
                                            }
                                        }
                                    });
                                } else {
                                    res.push({
                                        //通过把result进行遍历循环来获取数据并放入Echarts中
                                        value: result[i].caseNum,
                                        name: result[i].Name,
                                    });
                                }
                            }
                            return res;
                        })(),
                    }
                ]
            };
            myChartTwo.setOption(printTwo);
        }
        //部门违法案件统计
        function bindChartBoxThree(result) {
            var chartBoxThree = echarts.init(document.getElementById('chartBoxThree'));
            var printThree = {
                xAxis: {
                    type: 'category',
                    data: (function () {
                        var res = [];
                        var len = result.length;
                        for (var i = 0; i < len; i++) {
                            res.push({
                                value: result[i].Name,
                            });
                        }
                        return res;
                    })(),
                    //['综合一大队', '综合一大队', '综合一大队', '综合一大队', '综合一大队', '综合一大队', '综合一大队', '综合一大队', '综合一大队']
                },
                grid: {
                    borderWidth: 0,
                    y: 50,
                    y2: 40,
                    x: 40,
                    x2: 40
                },
                yAxis: {
                    type: 'value'
                },
                legend: {
                    data: ['违建处数', '拆除处数']
                },
                tooltip: {
                    show: true
                },
                series: [{
                    name: '违建处数',
                    data: (function () {
                        var res = [];
                        var len = result.length;
                        for (var i = 0; i < len; i++) {
                            res.push({
                                value: result[i].verityNum,
                            });
                        }
                        return res;
                    })(),
                    //[120, 200, 150, 80, 70, 110, 80, 70, 110],
                    type: 'bar'
                },
                {
                    name: '拆除处数',
                    type: 'bar',
                    data: (function () {
                        var res = [];
                        var len = result.length;
                        for (var i = 0; i < len; i++) {
                            res.push({
                                value: result[i].removeNum,
                            });
                        }
                        return res;
                    })(),
                    //[220, 182, 191, 234, 290, 700, 234, 290, 700]
                }
                ]
            };
            chartBoxThree.setOption(printThree);
        }
    </script>
</body>

</html>
